<template name="convictionsList">
  <div class="container">
    <div class="list-group">
    {{#each convictions}}
          <div class="form-group has-error has-feedback">
            <div class="input-group">
              <span class="input-group-addon"></span>
              <input type="text" class="form-control inputGroup" id="{{_id}}" aria-describedby="inputGroupSuccess1Status" value="{{convictionDescription}}">
            </div>
            <span class="glyphicon glyphicon-cross form-control-feedback" aria-hidden="true"></span>
            <span id="inputGroupSuccess1Status" class="sr-only">(success)</span>
          </div>
    {{/each}}
    </div>
    <form>
      <div class="form-group has-success has-feedback">
        <label class="control-label" for="inputGroupSuccess1">New conviction</label>
        <div class="input-group">
          <span class="input-group-addon">New</span>
          <input type="text" class="form-control" name="convictionDesc" id="inputGroupSuccess1" aria-describedby="inputGroupSuccess1Status">
        </div>
        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
        <span id="inputGroupSuccess1Status" class="sr-only">(success)</span>
      </div>
    </form>
  </div>
</template>
