<template name="groupPage">
  <div style="background-color:#002B36;">
    <div class="list-group">
      {{#with group}}
        <h2 class="text-center bg-primary">GRUPO: <span id="alias">{{groupName}}</span></h2>
        <div class="container-fluid">
          <img src="{{gImage groupImg}}" name="{{_id}}" alt="..." class="img fotoStudent">
          <div class="puntsStudent">
              <div class="list-group" id="{{_id}}">
                <li class="list-group-item list-group-item-success btn-xp2">{{gXP this._id}} XP</li>
                <li class="list-group-item list-group-item-danger btn-hp2">{{HP}} HP</li>
                <li class="list-group-item list-group-item-info btn-badge">BG</li>
                <li class="list-group-item list-group-item-warning btn-store" data-target="#store_modal">€</li>
              </div>
          </div>
          <form class="dataStudent">
                <div class="form-group">
                  <label for="gName" class="control-label">Nombre grupo</label>
                  <input type="text" class="form-control" id="gName" name="gName" value="{{groupName}}" {{inputDisabled}}>
                </div>
                <div class="form-group">
                  <label for="gImage" class="control-label">Imagen grupo</label>
                  <input type="text" class="form-control" id="gImage" name="gImage" value="{{groupImg}}" {{inputDisabled}}>
                </div>
                <div class="form-group">
                  <label for="gImage" class="control-label">Estudiantes</label>
                  <ul class="list-group">
                    {{#each students}}
                      <button type="button" class="list-group-item  {{studentInGroup _id}}" id="{{_id}}">
                        {{studentName}}
                      </button>
                    {{/each}}
                  </ul>
                </div>
                {{#if teacher}}
                  <div class="form-group" style="float:right;margin-bottom:20px;">
                    <button type="button" class="btn btn-default">Cerrar</button>
                    <input type="submit" id="groupModalSubmit2" class="btn btn-primary" value="Save">
                  </div>
                {{/if}}
          </form>

        </div>
      {{/with}}
    </div>
    <div class="container-fluid section table-responsive">

      <h2 class="text-center bg-info">Cuaderno de grupo</h2>

      <table class="table table-bordered">
        <tbody>
        {{#each notebook}}
          <tr>
            <th id="evaluation_th">
              Misión
            </th>
            <th id="evaluation_th">
              {{mision.chalName}}
            </th>
          </tr>
          <tr>
            <td>
              Fecha
            </td>
            <td>
              {{createdOn}}
            </td>
          </tr>
          <tr>
            <td>
              ¿Qué hemos aprendido hoy?
            </td>
            <td>
              {{done}}
            </td>
          </tr>
          {{#each works _id}}
            <tr>
              <td>
                {{sn studentId}}
              </td>
              <td>
                {{work}}
              </td>
            </tr>
          {{/each}}
          <tr>
            <td>
              Observaciones
            </td>
            <td>
              {{observations}}
            </td>
          </tr>
        {{/each}}
        </tbody>
      </table>
      </div>
      <div class="container-fluid">
      {{#if studentInNotebook}}
      <form class="notebook">
        <div class="form-group">
          <h2 class="text-center bg-info">Misión actual</h2>
          <!-- <input type="text" class="form-control" id="sLevel" name="sLevel" value="{{level}}" {{inputDisabled}}>-->
          <select class="form-control" id="missionG" name="mission" {{inputDisabled}}>
            {{#each selectMissions}}
              <option value="{{_id}}" {{missionSelected _id}}>{{chalName}}</option>
            {{/each}}
          </select>
          <h4 class="text-center bg-warning">Entrada cuaderno de grupo</h4>
          <label for="hecho" class="control-label">¿Qué hemos hecho hoy?</label>
          <input type="text" class="form-control" id="hecho" name="hecho" value="">
          <label for="assessment" class="control-label">Valoración</label>
          <select class="form-control" id="assessment" name="assessment" {{inputDisabled}}>
            <option value="1">1.- Negativa</option>
            <option value="2">2.- Regular</option>
            <option value="3" selected>3.- Buena</option>
            <option value="4">4.- Positiva</option>
            <option value="5">5.- Excelente</option>
            </select>
          <label class="control-label">Puntuación por miembro</label>
          <div class="row container puntos">
          {{#each studentsIn}}
            <div class="form-group has-error form-inline">
              <div class="input-group col-4">
                <span class="input-group-addon">{{studentName}}</span>
                <select class="custom-select form-control inputGroup input-md selectStudent" id="{{_id}}">
                  <option selected value="0">0</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="75">75</option>
                  <option value="100">100</option>
                </select>
              </div>
            </div>

          {{/each}}
          </div>
          <label for="observaciones" class="control-label">Observaciones</label>
          <input type="text" class="form-control" id="observaciones" name="observaciones"  value="">
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-default">Volver a los grupos</button>
          <input type="submit" class="btn btn-primary" value="Guardar entrada cuaderno">
        </div>
      </form>
      {{/if}}
    </div>
  </div>
</template>
