<template name="groupPage">
  <div style="background-color:#002B36;">
    <div class="list-group">
      {{#with group}}
        <h2 class="text-center bg-primary">EQUIPO: <span id="alias">{{groupName}}</span></h2>
        <div class="container-fluid">
          <img src="{{gImage groupImg}}" name="{{_id}}" alt="..." class="img fotoStudent">
          <div class="puntsStudent">
              <div class="list-group" id="{{_id}}">
                <li class="list-group-item list-group-item-success btn-xp2">{{gXP this._id}} XP</li>
                <li class="list-group-item list-group-item-danger btn-hp2">{{HP}} HP</li>
                <li class="list-group-item list-group-item-info btn-badge">BG</li>
                <li class="list-group-item list-group-item-warning btn-store" data-target="#store_modal">€</li>
              </div>
          </div>
          <form class="dataStudent">
                <div class="form-group">
                  <label for="gName" class="control-label">Nombre equipo</label>
                  <input type="text" class="form-control" id="gName" name="gName" value="{{groupName}}" {{inputDisabled}}>
                </div>
                <div class="form-group">
                  <label for="gImage" class="control-label">Imagen equipo</label>
                  <input type="text" class="form-control" id="gImage" name="gImage" value="{{groupImg}}" {{inputDisabled}}>
                </div>
                <div class="form-group">
                  <label for="gImage" class="control-label">Estudiantes</label>
                  <ul class="list-group">
                    {{#each students}}
                      <button type="button" class="list-group-item  {{studentInGroup _id}}" id="{{_id}}">
                        {{#if parent}}
                          {{alias}}
                        {{else}}
                          {{studentName}}
                        {{/if}}
                      </button>
                    {{/each}}
                  </ul>
                </div>
                <div class="form-group" style="float:right;margin-bottom:20px;">
                  <button type="button" class="btn btn-default">Cerrar</button>
                  {{#if teacher}}
                    <input type="submit" id="groupModalSubmit2" class="btn btn-primary" value="{{_ "save"}}">
                  {{/if}}
                </div>
                
          </form>

        </div>
      {{/with}}
    </div>
    
    <div class="container-fluid section table-responsive">
      {{#with group}}
      <h2 class="text-center bg-info">Diario y Portfolio del Equipo</h2>
      <div class="form-group has-success">
        <div class="form-inline">
          <div class="input-group col-xs-10">
            <span class="input-group-addon">Diario</span>
            <input type="text" class="form-control inputGroup input-lg" id="Diary" {{myGroupEnabled}} value="{{diary}}">
          </div>
          <div class="input-group col-xs-1">
            <a href="{{diary}}" class="btn btn-success" id="seeDiary" target="_blank">Ver Diario</a>
          </div>
        </div>
        <div class="form-inline">
          <div class="input-group col-xs-10">
            <span class="input-group-addon">Portfolio</span>
            <input type="text" class="form-control inputGroup input-lg" id="Portfolio" {{myGroupEnabled}} value="{{portfolio}}">
          </div>
          <div class="input-group col-xs-1">
            <a href="{{portfolio}}" class="btn btn-success" id="seePortfolio" target="_blank">Ver Portfolio</a>
          </div>
        </div>
      </div>
      {{/with}}

      <h2 class="text-center bg-info">Cuaderno de equipo</h2>

      <table class="table table-bordered">
        <tbody>
        {{#each notebook}}
          <tr>
            <th id="evaluation_th">
              Misión
            </th>
            <th id="evaluation_th">
              {{mision.chalName}}
            </th>
          </tr>
          <tr>
            <td>
              Fecha
            </td>
            <td>
              {{createdOn}}
            </td>
          </tr>
          <tr>
            <td>
              ¿Qué hemos aprendido hoy?
            </td>
            <td>
              {{done}}
            </td>
          </tr>
          {{#each works _id}}
            <tr>
              <td>
                {{#if parent}}
                  {{sa studentId}}
                {{else}}
                  {{sn studentId}}
                {{/if}}
              </td>
              <td>
                {{work}}
              </td>
            </tr>
          {{/each}}
          <tr>
            <td>
              Observaciones
            </td>
            <td>
              {{observations}}
            </td>
          </tr>
          <tr>
            <td>
              Visto
            </td>
            <td>
              <input class="seen" type="checkbox" value={{_id}} checked="{{seen}}"  {{inputDisabled}}>
            </td>
          </tr>
          <tr>
            <td>
              Validado
            </td>
            <td>
              <input class="validated" type="checkbox" value={{_id}} checked="{{validated}}"  {{inputDisabled}}>
            </td>
          </tr>
        {{/each}}
        </tbody>
      </table>
      </div>
      <div class="container-fluid">
      {{#if studentInNotebook}}
      <form class="notebook">
        <div class="form-group">
          <h2 class="text-center bg-info">Misión actual</h2>
          <!-- <input type="text" class="form-control" id="sLevel" name="sLevel" value="{{level}}" {{inputDisabled}}>-->
          <select class="form-control" id="missionG" name="mission">
            {{#each selectMissions}}
              <option value="{{_id}}" {{missionSelected _id}}>{{chalName}}</option>
            {{/each}}
          </select>
          <h4 class="text-center bg-warning">Entrada cuaderno de equipo</h4>
          <label for="hecho" class="control-label">¿Qué hemos hecho hoy?</label>
          <input type="text" class="form-control" id="hecho" name="hecho" value="">
          <label for="assessment" class="control-label">Valoración</label>
          <select class="form-control" id="assessment" name="assessment">
            <option value="1">1.- Negativa</option>
            <option value="2">2.- Regular</option>
            <option value="3" selected>3.- Buena</option>
            <option value="4">4.- Positiva</option>
            <option value="5">5.- Excelente</option>
            </select>
          <label class="control-label">Puntuación por miembro</label>
          <div class="row container puntos">
          {{#each studentsIn}}
            <div class="form-group has-error form-inline">
              <div class="input-group col-4">
                <span class="input-group-addon">{{studentName}}</span>
                <select class="custom-select form-control inputGroup input-md selectStudent" id="{{_id}}">
                  <option selected value="0">0</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="75">75</option>
                  <option value="100">100</option>
                </select>
              </div>
            </div>

          {{/each}}
          </div>
          <label for="observaciones" class="control-label">Observaciones</label>
          <input type="text" class="form-control" id="observaciones" name="observaciones"  value="">
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-default">Volver a los equipos</button>
          <input type="submit" class="btn btn-primary" value="Guardar entrada cuaderno">
        </div>
      </form>
      {{/if}}
    </div>
  </div>
</template>
