.eventCard {
  border: 2px solid rgba(252,194,69,1);
}

.eventCard {
  height: 170px;
  background: linear-gradient(rgba(199,24,0,1),rgba(252,194,69,1));
}

.eventCard .additional {
  background-color: rgba(252,194,69,1);
}

.eventCard .additional .user-card {
  background: linear-gradient(120deg, rgba(252,194,69,1) 0%, rgba(199,24,0,1) 100%);
}

.eventName {
  text-align: center;
	text-transform: none;
	font-size: 3rem !important;
	width:90%;
	margin:10px auto;
	background-color: lightblue;
  height:5rem !important;
}

.eventDesc {
  text-align: center;
	text-transform: none;
	width:90%;
	margin:10px auto;
	background-color: lightblue;
  font-size: 1em !important;
}

.general .eventName, .general .eventDesc {
  border-style:none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none ;
	background-color: transparent;
	color: white;
	font-weight: bold;
  resize: none;
}

.eventCard .input-group .input-group-addon{
  background-color: rgba(199,24,0,1) !important;
}

.eventCard input, .eventCard textarea, .eventCard .input-group-addon {
  border: 1px solid rgba(199,24,0,1) !important;
}

.eventCard .groupBtnCard{
  float: right !important;
}

.eventCard .groupBtnCard *{
  background-color: rgba(199,24,0,1) !important;
  border: 1px solid rgba(199,24,0,1);
}
