.scene * { box-sizing: border-box; }

.scene {
  font-family: sans-serif;
  text-align: center;
  /* border: 2px solid #CCC; */
  position: relative;
  width: 410px;
  height: 240px;
  margin: 10px auto;
  perspective: 300px;
}

.random_carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateZ(-288px);
  transform-style: preserve-3d;
  transition: transform 3s;
}

.carousel__cell {
  display: table;
  position: absolute;
  width: 390px;
  height: 220px;
  left: 10px;
  top: 10px;
  border: 2px solid black;
  line-height: 116px;
  font-size: 2vh;
  font-weight: bold;
  color: white;
  text-align: center;
  transition: transform 1s, opacity 1s;
}

.carousel__cell:nth-child(9n+1) { background: hsla(  0, 100%, 50%, 0.9); }
.carousel__cell:nth-child(9n+2) { background: hsla( 40, 100%, 50%, 0.9); }
.carousel__cell:nth-child(9n+3) { background: hsla( 80, 100%, 50%, 0.9); }
.carousel__cell:nth-child(9n+4) { background: hsla(120, 100%, 50%, 0.9); }
.carousel__cell:nth-child(9n+5) { background: hsla(160, 100%, 50%, 0.9); }
.carousel__cell:nth-child(9n+6) { background: hsla(200, 100%, 50%, 0.9); }
.carousel__cell:nth-child(9n+7) { background: hsla(240, 100%, 50%, 0.9); }
.carousel__cell:nth-child(9n+8) { background: hsla(280, 100%, 50%, 0.9); }
.carousel__cell:nth-child(9n+0) { background: hsla(320, 100%, 50%, 0.9); }

.carousel__cell:nth-child(1) { transform: rotateY(  0deg) translateZ(288px); }
.carousel__cell:nth-child(2) { transform: rotateY( 40deg) translateZ(288px); }
.carousel__cell:nth-child(3) { transform: rotateY( 80deg) translateZ(288px); }
.carousel__cell:nth-child(4) { transform: rotateY(120deg) translateZ(288px); }
.carousel__cell:nth-child(5) { transform: rotateY(160deg) translateZ(288px); }
.carousel__cell:nth-child(6) { transform: rotateY(200deg) translateZ(288px); }
.carousel__cell:nth-child(7) { transform: rotateY(240deg) translateZ(288px); }
.carousel__cell:nth-child(8) { transform: rotateY(280deg) translateZ(288px); }
.carousel__cell:nth-child(9) { transform: rotateY(320deg) translateZ(288px); }



.carousel-options {
  text-align: center;
  position: relative;
  z-index: 2;
}

.carousel__cell span.removeCarousel {
  position: absolute;
  color: white;
  top:5px;
  right:5px;
}

.carousel__cell img {
  -webkit-filter: drop-shadow(5px 5px 5px #222 );
  display: table-cell;
  vertical-align: middle;
  margin: auto;
  height:140px;
}

.carousel__cell p {
  mix-blend-mode: difference;
  font-weight: bold !important;
  margin:0 !important;
}
.carousel__cell p.onlyTextRandom {
  display: table-cell;
  vertical-align: middle;
  mix-blend-mode: difference;
  font-weight: bold;
}

#random {
  background-color: rgba(0,0,0,0.7) !important;
}

.randomJumbotron {
  background-color: transparent !important;
}

.randomJumbotron h2 {
  color: white;
}
