<template name="randomPage">
  <!--
  {{> myBreadcrumb}}
  {{> myNav}}
  -->
  <div class="jumbotron">
    <img width="20%" src="https://res.cloudinary.com/myclassgame/image/upload/v1550055936/images/rolling-dice-gif-3.gif" />
    <br />
    <br />
    <p>
      <a id="evento" class="btn btn-info btn-lg"  data-toggle="modal" data-target="#randomModal" role="button">Evento</a>
      <a id="carta" class="btn btn-info btn-lg"  data-toggle="modal" data-target="#randomModal" role="button">Carta</a>
      <a id="cromo" class="btn btn-info btn-lg"  data-toggle="modal" data-target="#randomModal" role="button">Cromo</a>
      <a id="estudiante" class="btn btn-info btn-lg"  data-toggle="modal" data-target="#randomModal" role="button">Estudiante</a>
      <a id="equipo" class="btn btn-info btn-lg"  data-toggle="modal" data-target="#randomModal" role="button">Equipo</a>
      <a id="penalización" class="btn btn-info btn-lg"  data-toggle="modal" data-target="#randomModal" role="button">Penalización</a>
      <a id="frase" class="btn btn-info btn-lg"  data-toggle="modal" data-target="#randomModal" role="button">Frase</a>
      <a id="todosR" class="btn btn-info btn-lg" role="button">Todos</a>
    </p>
  </div>


  <div class="modal fade" id="randomModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="ModalHeader">Random</h4>
        </div>
        <div class="jumbotron">
          <img id="ModalImg" src="" width="200px" title="" />
          <h1 class="modal-title" id="ModalLabel">Random</h1>
          <h3 class="modal-title" id="ModalDesc">Random</h3>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" id="cerrar">Cerrar</button>
        </div>
      </div>
    </div>
  </div>


</template>
