<template name="randomPage">
  <!--
  {{> myBreadcrumb}}
  {{> myNav}}
  -->
  <div class="jumbotron randomJumbotron">
    {{> randomCarousel}}
    <!--
    <img width="20%" src="https://res.cloudinary.com/myclassgame/image/upload/v1550055936/images/rolling-dice-gif-3.gif" />
    -->
    <br />
    <br />
    <p>
      <a id="estudiante" class="btn btn-info btn-lg rBtn"  data-toggle="modal" role="button">{{_ "student"}}</a>
      <a id="equipo" class="btn btn-info btn-lg rBtn"  data-toggle="modal" role="button">{{_ "team"}}</a>
      <a id="evento" class="btn btn-info btn-lg rBtn"  data-toggle="modal" role="button">{{_ "event"}}</a>
      <a id="penalización" class="btn btn-info btn-lg rBtn"  data-toggle="modal" role="button">{{_ "penalty"}}</a>
      <a id="poder" class="btn btn-info btn-lg rBtn"  data-toggle="modal" role="button">{{_ "power"}}</a>
      <a id="logro" class="btn btn-info btn-lg rBtn"  data-toggle="modal" role="button">{{_ "collectionable"}}</a>
      <a id="frase" class="btn btn-info btn-lg rBtn"  data-toggle="modal" role="button">{{_ "quote"}}</a>
      <a id="todosR" class="btn btn-info btn-lg" role="button">{{_ "all"}}</a>
    </p>
  </div>

  <div class="modal fade" id="randomModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="ModalHeader">Random</h4>
        </div>
        <div class="jumbotron">
          <img id="ModalImg" src="" width="200px" title="" />
          <h1 class="modal-title" id="ModalLabel">Random</h1>
          <h3 class="modal-title" id="ModalDesc">Random</h3>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" id="cerrar">{{_ "close"}}</button>
        </div>
      </div>
    </div>
  </div>

</template>

<template name="randomModal">
  <div class="modal fade" id="randomModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="ModalHeader">Random</h4>
        </div>
        <div class="jumbotron">
          <div class="scene">
            <div class="random_carousel">
              {{#each elements}}
                <div class="carousel__cell"><img height="70%" src="{{image avatar}}" name="{{_id}}">{{_id}}</div>
              {{/each}}
            </div>
          </div>

          <div class="carousel-options">

            <p>
              <!--<button class="previous-button">Previous</button>-->
              <button class="next-button">Random</button>
            </p>

          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" id="cerrar">{{_ "close"}}</button>
        </div>
      </div>
    </div>
  </div>
</template>
