<template name="randomCarousel">
    <h3>
      {{element}}
    </h3>
    <div class="scene">
      <div class="random_carousel">
        {{#if equals "estudiante"}}
          {{#each students}}
            <div class="carousel__cell">
              <img height="70%" src="{{image avatar}}" name="{{_id}}">{{studentName}}
            </div>
          {{/each}}
        {{/if}}
        {{#if equals "evento"}}
          {{#each events}}
            <div class="carousel__cell">
              <img height="70%" src="{{image eventImage}}" name="{{_id}}">{{eventName}}
            </div>
          {{/each}}
        {{/if}}
        {{#if equals "carta"}}
          {{#each cards}}
            <div class="carousel__cell">
              <img height="70%" src="{{image cardImage}}" name="{{_id}}">{{cardName}}
            </div>
          {{/each}}
        {{/if}}
      </div>
    </div>

    <div class="carousel-options">
      <p>
        <button class="randomButton">Random</button>
      </p>
    </div>

</template>
