<template name="randomCarousel">

    <div class="btn-group" role="group" aria-label="...">
      <button id="estudiante" class="btn btn-info btn-lg rBtn"  data-toggle="modal" role="button">{{_ "student"}}</button>
      <button id="equipo" class="btn btn-info btn-lg rBtn"  data-toggle="modal" role="button">{{_ "team"}}</button>
      <button id="evento" class="btn btn-info btn-lg rBtn"  data-toggle="modal" role="button">{{_ "event"}}</button>
      <button id="penalización" class="btn btn-info btn-lg rBtn"  data-toggle="modal" role="button">{{_ "penalty"}}</button>
      <button id="poder" class="btn btn-info btn-lg rBtn"  data-toggle="modal" role="button">{{_ "power"}}</button>
      <button id="logro" class="btn btn-info btn-lg rBtn"  data-toggle="modal" role="button">{{_ "collectionable"}}</button>
      <button id="frase" class="btn btn-info btn-lg rBtn"  data-toggle="modal" role="button">{{_ "quote"}}</button>
      <button id="todosR" class="btn btn-info btn-lg" role="button">{{_ "all"}}</button>
    </div>
    <br /><br />
    <button id="randomButton" class="btn btn-info">Random</button>
    <button class="allInRandomButton btn btn-info">{{_ 'reset'}}</button>
    <br /><br />
    <div class="scene">
      <div class="random_carousel">
        {{#if equals "estudiante"}}
          {{#each students}}
            <div class="carousel__cell carousel__students">
              <figure class="card card__water">
                <div class="card__image-container" name="{{_id}}">
                  <img src="{{image avatar}}" class="card__image" name="{{_id}}">
                  <!--<h1 class="cardSelected {{#unless selected}}oculto{{/unless}}"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></h1>-->
                </div>

                <figcaption class="card__caption">
                  {{#if parent}}
                     <h1 class="card__name">{{alias}}</h1>
                  {{else}}
                    <h1 class="card__name">{{alias}} ({{studentName}})</h1>
                  {{/if}}
                  <h3 class="studentTeam">

                  </h3>
                  <!-- <img class="medal {{medal}}" src="/images/{{medal}}"> -->
                  <h3 class="card__type">
                    {{_ "level"}} {{level}}
                  </h3>

                  <table class="card__stats">
                    <tbody>

                      <tr>
                        <th><span class="btn-xp">{{_ "experience"}}</span></th>
                        <td><span class="btn-xp">{{XP}}</span></td>
                      </tr>
                      <tr>
                        <th><span class="btn-hp">{{_ "life"}}</span></th>
                        <td><span class="btn-hp">{{HP}}</span></td>
                      </tr>
                      <!--
                      <tr>
                        <th><span class="btn-energy">{{_ "energy"}}</span></th>
                        <td><span class="btn-energy">0</span></td>
                      </tr>
                      -->
                      <tr>
                        <th><span class="btn-coins">{{_ "money"}}</span></th>
                        <td><span class="btn-coins">{{coins}}</span></td>
                      </tr>

                    </tbody>
                  </table>
                  <div class="cardLine">
                  </div>
                  <ul class="cardIcons">
                    <li>
                      <i class="fas fa-award btn-badge"></i>
                      <!-- <img src="https://res.cloudinary.com/myclassgame/image/upload/v1549270043/images/shield-31869.png" class="btn-badge" /> -->
                    </li>
                    <li>
                      <i class="fas fa-bolt btn-cards"></i>
                      <!-- <img src="https://res.cloudinary.com/myclassgame/image/upload/v1551794067/myclassgame/aberrant-berserker-300x429_izzvai.png" class="btn-cards" /> -->
                    </li>
                    <li>
                      <span class="glyphicon glyphicon-duplicate btn-chromes" aria-hidden="true"></span>
                      <!-- <img src="https://res.cloudinary.com/myclassgame/image/upload/v1549268143/images/Gold_coin_icon.png" class="btn-store"/> -->
                    </li>
                    <li>
                      <i class="fas fa-store-alt btn-store"></i>
                      <!-- <img src="https://res.cloudinary.com/myclassgame/image/upload/v1549268143/images/Gold_coin_icon.png" class="btn-store"/> -->
                    </li>
                  </ul>
                </figcaption>

              </figure>
              <span class="glyphicon glyphicon-remove removeCarousel" aria-hidden="true"></span>
            </div>
          {{/each}}
        {{/if}}
        {{#if equals "evento"}}
          {{#each events}}
            <div class="carousel__cell">
              <h3>{{eventName}}</h3>
              <img src="{{oimage eventImage}}" name="{{_id}}">
              <p>{{eventDescription}}</p>
              <span class="glyphicon glyphicon-remove removeCarousel" aria-hidden="true"></span>
            </div>
          {{/each}}
        {{/if}}
        {{#if equals "poder"}}
          {{#each cards}}
            <!-- <div class="carousel__cell">
              <p>{{cardName}}</p>
              <img height="65%" src="{{oimage cardImage}}" name="{{_id}}">
              <p>{{cardDescription}}</p>
              <span class="glyphicon glyphicon-remove removeCarousel" aria-hidden="true"></span>
            </div> -->
            <div class="carousel__cell carousel__card">

                <div class="power-card-inner center">
                  {{#unless cardMCG}}
                    <div class="power-card-front-noMCG">
                      <div class="power-card-full__image">
                        {{#if cardImage}}
                          <img width="100%" class="center" src="{{card_src cardImage true}}" />
                        {{else}}
                          <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
                        {{/if}}
                      </div>
                      <div class="power-card-noMCG__unit-name">{{cardName}}</div>
                    </div>
                  {{else}}
                    <div class="power-card-front">
                      <img class="cardgem" src="/images/green.png" alt="green" />
                      <div class="power-card__image">
                        {{#if cardImage}}
                          <img width="100%" class="center" src="{{card_src cardImage false}}" />
                        {{else}}
                          <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
                        {{/if}}
                      </div>
                      <div class="power-card-data">
                        <!-- <div class="power-card__level">{{_ 'level'}} {{cardLevel}}</div> -->
                        <div class="power-card__unit-name">{{cardName}}</div>
                        <div class="power-card__unit-description">{{cardDescription}}</div>
                      </div>

                      <div class="power-card__unit-stats clearfix">
                        <div class="one-third">
                          <div class="stat">{{cardLevel}}<sup></sup></div>
                          <div class="stat-value">{{_ 'level'}}</div>
                        </div>

                        <div class="one-third">
                          <div class="stat">{{#unless cardEnergy}}0{{else}}{{cardEnergy}}{{/unless}}</div>
                          <div class="stat-value">{{_ 'energy'}}</div>
                        </div>

                        <div class="one-third no-border">
                          <div class="stat">{{cardPrice}}</div>
                          <div class="stat-value">{{_ 'price'}}</div>
                        </div>
                      </div>
                    </div> <!-- end power-card -->
                  {{/unless}}
                </div>

            </div>
          {{/each}}
        {{/if}}
        {{#if equals "logro"}}
          {{#each chromes}}
            <div class="carousel__cell">
              <p>{{chromeName}}</p>
              <img height="65%" src="{{oimage chromeImage}}" name="{{_id}}">
              <p>{{chromeDescription}}</p>
              <span class="glyphicon glyphicon-remove removeCarousel" aria-hidden="true"></span>
            </div>
          {{/each}}
        {{/if}}
        {{#if equals "equipo"}}
          {{#each groups}}
            <div class="carousel__cell">
              <p>{{groupName}}</p>
              <img height="70%" src="{{imageg groupImg}}" name="{{_id}}">
              <span class="glyphicon glyphicon-remove removeCarousel" aria-hidden="true"></span>
            </div>
          {{/each}}
        {{/if}}
        {{#if equals "penalización"}}
          {{#each convictions}}
            <div class="carousel__cell">
              <p class="onlyTextRandom">{{convictionDescription}}</p>
              <span class="glyphicon glyphicon-remove removeCarousel" aria-hidden="true"></span>
            </div>
          {{/each}}
        {{/if}}
        {{#if equals "frase"}}
          {{#each quotes}}
            <div class="carousel__cell">
              <p class="onlyTextRandom">{{quoteText}}</p>
              <span class="glyphicon glyphicon-remove removeCarousel" aria-hidden="true"></span>
            </div>
          {{/each}}
        {{/if}}
      </div>
    </div>
    <br />
    <!-- <div class="carousel-options">
      <p>
        <button id="randomButton">Random</button>
        <button class="allInRandomButton">{{_ 'reset'}}</button>
      </p>
    </div> -->

</template>
