<template name="tools">
  <!--
  {{> myBreadcrumb}}
  {{> myNav}}
  -->
  <h3 class="nameSection">{{_ "tools"}}</h3>
  <div class="container-fluid float-up">

    <div class="settingsMenu">
      <!-- Nav tabs -->
      <ul class="nav nav-pills" role="tablist">
        <li role="presentation" class="active"><a href="#random" aria-controls="random" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-random" aria-hidden="true"></span> <span class="spanMenu">Random</span></a></li>
        <li role="presentation"><a href="#chrono" aria-controls="chrono" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-time" aria-hidden="true"></span> <span class="spanMenu">{{_ "chrono"}}</span></a></li>
        <li role="presentation"><a href="#countdown" aria-controls="countdown" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span> <span class="spanMenu">{{_ "countDown"}}</span></a></li>
        <li role="presentation"><a href="#dessign" aria-controls="story" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> <span class="spanMenu">{{_ "dessign"}}</span></a></li>
        <!-- <li role="presentation"><a href="#importexport" aria-controls="importexport" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> <span class="spanMenu">{{_ "import_export"}}</span></a></li> -->

        <!--
        <li role="presentation"><a href="#ClassroomScreen" aria-controls="ClassroomScreen" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span> <span class="spanMenu">ClassroomScreen</span></a></li>
        <li role="presentation"><a href="#Formacion" aria-controls="Formacion" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span> <span class="spanMenu">Formación</span></a></li>
        <li role="presentation"><a href="#Enlaces" aria-controls="Enlaces" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> <span class="spanMenu">Otras herramientas</span></a></li>
        -->
      </ul>
      <!-- Tab panels -->
      <div class="tab-content container-responsive mytab">
        <div role="tabpanel" class="tab-pane active" id="random">
          <!-- <h2 class="text-center bg-info">Random</h2> -->
          {{> randomPage}}
        </div>
        <div role="tabpanel" class="tab-pane" id="chrono">
          <!-- <h2 class="text-center bg-info">Cronómetro</h2> -->
          <div style="width: 90%; margin:auto;margin-top:10px;"><div style="position: relative; padding-bottom: 56.25%; padding-top: 0; height: 0;"><iframe frameborder="0" width="100%" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://www.tickcounter.com/stopwatch" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="countdown">
          <!-- <h2 class="text-center bg-info">Cuenta atrás</h2> -->
          <div style="width: 90%; margin:auto;margin-top:10px;"><div style="position: relative; padding-bottom: 56.25%; padding-top: 0; height: 0;" class="text-center"><iframe frameborder="0" width="100%" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://www.tickcounter.com/timer" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div></div>
        </div>
        <div role="tabpanel" class="tab-pane" id="dessign">
          <br />
          {{> dessignTemplate}}
        </div>
        <!--
        <div role="tabpanel" class="tab-pane" id="importexport">
          {{> import_export}}
        </div>

        <div role="tabpanel" class="tab-pane" id="ClassroomScreen">
          <h2 class="text-center bg-info">ClassroomScreen</h2>
          <div style="width: 80%; margin:auto;margin-top:10px;"><div style="position: relative; padding-bottom: 56.25%; padding-top: 0; height: 0;" class="text-center"><iframe frameborder="0" width="100%" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://app.classroomscreen.com/" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div></div>
        </div>
        <div role="tabpanel" class="tab-pane" id="Formacion">
          <h2 class="text-center bg-info">Formación</h2>
          <div style="width: 80%; margin:auto;margin-top:10px;">
            <ul class="list-group">
              <li class="list-group-item"><a href="https://www.scolartic.com/inicio" class="btn btn-info" target="_blank">ScolarTIC</a> Espacio social de aprendizaje, innovación y calidad educativa en el que se ofrecen cursos online gratis, recursos para el aula así como charlas, ponencias y talleres. Dirigido a docentes y futuros docentes.</li>
              <li class="list-group-item"><a href="https://enlinea.intef.es/?preview-lang=es" class="btn btn-info" target="_blank">AprendeINTEF</a> AprendeINTEF es un lugar de encuentro para la educación.</li>
              <li class="list-group-item"><a href="https://www.coursera.org/" class="btn btn-info" target="_blank">Coursera</a> Flexible and affordable online courses from the world’s top universities & companies.</li>
              <li class="list-group-item"><a href="https://miriadax.net/home" class="btn btn-info" target="_blank">Miriadax</a> Primera plataforma iberoamericana de MOOCs.</li>
            </ul>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="Enlaces">
          <h2 class="text-center bg-info">Otras herramientas</h2>
          <div style="width: 80%; margin:auto;margin-top:10px;">
            <ul class="list-group">
              <li class="list-group-item"><a href="https://www.classdojo.com/ca-es/" class="btn btn-info" target="_blank">ClassDojo</a> Transforma tu clase en una aventura épica. Una aventura que durará todo el curso.</li>
              <li class="list-group-item"><a href="https://www.classcraft.com/es" class="btn btn-info" target="_blank">ClassCraft</a> La manera sencilla de construir una asombrosa comunidad en el salón de clases</li>
            </ul>
          </div>
        </div>
        -->
      </div>
    </div>
  </div>
</template>
