@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");

.chromeCard {
  border: 2px solid gray;
}

.chromeCard {
  height: 215px;
  background: linear-gradient(#333,gray);
}

.chromeCard .additional {
  background-color: gray;
}

.chromeCard .additional .user-card {
  background: linear-gradient(120deg, gray 0%, #333 100%);
}

.chromeName {
  text-align: center;
	text-transform: none;
	font-size: 3rem !important;
	width:90%;
	margin:10px auto;
	background-color: lightblue;
  height:5rem !important;
}

.chromeDesc {
  text-align: center;
	text-transform: none;
	width:90%;
	margin:10px auto;
	background-color: lightblue;
  font-size: 1em !important;
}

.general .chromeName, .general .chromeDesc {
  border-style:none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none ;
	background-color: transparent;
	color: white;
	font-weight: bold;
  resize: none;
}

.chromeCard .input-group .input-group-addon{
  background-color: #333 !important;
}

.chromeCard input, .chromeCard textarea, .chromeCard .input-group-addon {
  border: 1px solid #333 !important;
}

.chromeCard .groupBtnCard{
  float: right !important;
}

.chromeCard .groupBtnCard *{
  background-color: #333 !important;
  border: 1px solid gray;
}
