.collectionable-card-front, .collectionable-card-back {
  background: linear-gradient(120deg, #1CB5E0 0%, #000851 100%);
}

#logosvg {
  position: relative !important;
  width:200px;
  height:200px;
}

#logosvg image{
  width:200px;
  height:200px;
}

.bi-alarm {
  position: absolute;
  top:75px;
  left:75px;
  font-size: 50px !important;
}

.bi-alarm:hover {
  color:white;
}

.stat-button {
  font-size: 11px;
  border: 2px solid white;
  border-radius: 5px;
  margin:4px 0;
}

.chrome_options {
  margin-bottom: 2px;
}

.element-card-front .collectionable-card__image {
  height:240px !important;
}

.element-card-back .collectionable-card__image {
  height:220px !important;
}

.colVisibleBtn {
	position:absolute;
	color: white;
 	left:5px;
	font-size: 2em;
	z-index:100;
}
