<template name="behavioursList">
  <!-- Prova
  {{> myBreadcrumb}}
  {{> myNav}} -->
  <p class="text-center">
    <button id="btn-positive" type="button" class="btn {{btnSelected true}} btn-lg">Positives</button>
    <button id="btn-negative" type="button" class="btn {{btnSelected false}} btn-lg">Negatives</button>
  </p>
  <div class="container">
    <div class="list-group">
    {{#each behaviourList}}
          <div class="form-group {{fGreen}} has-feedback form-inline">
            <div class="input-group col-xs-5">
              <span class="input-group-addon">Description</span>
              <input type="text" class="form-control inputGroup input-lg" name="{{_id}}" id="inputDesc" aria-describedby="inputGroupSuccess1Status" value="{{behaviourDescription}}">
            </div>
            <div class="input-group col-xs-3">
              <span class="input-group-addon">Type</span>
              <input type="text" class="form-control inputGroup input-lg" name="{{_id}}" id="inputPoints"  aria-describedby="inputGroupSuccess1Status" value="{{behaviourType}}">
            </div>
            <div class="input-group col-xs-3">
              <span class="input-group-addon">Points</span>
              <input type="text" class="form-control inputGroup input-lg" name="{{_id}}" id="inputPoints"  aria-describedby="inputGroupSuccess1Status" value="{{points}}">
            </div>
          </div>
    {{/each}}
    </div>
    <form>
      <div class="form-group {{fGreen}} has-feedback">
        <label class="control-label" for="inputGroupSuccess1">New behaviour</label>
        <div class="form-inline">
          <div class="input-group col-xs-5">
            <span class="input-group-addon">Description</span>
            <input type="text" class="form-control input-lg" name="behaviourDescription" id="inputGroupSuccess1" aria-describedby="inputGroupSuccess1Status">
          </div>
          <div class="input-group col-xs-3">
            <span class="input-group-addon">Type</span>
            <select class="form-control inputGroup  input-lg" name="behaviourType" id="inputType" aria-describedby="inputGroupSuccess1Status">>
              <option value="Attitude">Attitude</option>
              <option value="Behaviour">Behaviour</option>
              <option value="Concepts">Concepts</option>
              <option value="Speaking">Speaking</option>
              <option value="Writing">Writing</option>
            </select>
          </div>
          <div class="input-group col-xs-3">
            <span class="input-group-addon">Points</span>
            <input type="text" class="form-control input-lg" name="behaviourPoints" id="inputPoints" aria-describedby="inputGroupSuccess1Status">
          </div>
          <input type="submit" id="btn-save" value="Save" class="btn {{bGreen}}">
        </div>
      </div>
    </form>
    
  </div>
</template>
