.itemCard {
  border: 2px solid lime;
}

.itemCard {
  height: 210px;
  background: linear-gradient(#016800,lime);
}

.itemCard .additional {
  background-color: lime;
}

.itemCard .additional .user-card {
  background: linear-gradient(120deg, lime 0%, #016800 100%);
}

.itemName {
  text-align: center;
	text-transform: none;
	font-size: 3rem !important;
	width:90%;
	margin:10px auto;
	background-color: lightblue;
  height:5rem !important;
}

.itemDesc {
  text-align: center;
	text-transform: none;
	width:90%;
	margin:10px auto;
	background-color: lightblue;
  font-size: 1em !important;
}

.general .itemName, .general .itemDesc {
  border-style:none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none ;
	background-color: transparent;
	color: white;
	font-weight: bold;
  resize: none;
}

.itemCard .input-group .input-group-addon{
  background-color: green !important;
}

.itemCard input, .itemCard textarea, .itemCard .input-group-addon {
  border: 1px solid green !important;
}

.itemCard .groupBtnCard{
  float: right !important;
}

.itemCard .groupBtnCard *{
  background-color: green !important;
  border: 1px solid green;
}
