<template name="carrusel_old">

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
  
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="images/estudiantes.png" alt="Jugar">
        <div class="carousel-caption">
          <h1>{{_ "studentmanagement"}}</h1>
          <h4>{{_ "gamify"}}</h4>
        </div>
      </div>
  
      <div class="item">
        <img src="images/clases.png" alt="Aprender">
        <div class="carousel-caption">
          <h1>{{_ "projectmanagement"}}</h1>
          <h4>{{_ "projectclasses"}}</h4>
        </div>
      </div>
  
      <div class="item">
        <img src="images/comportamientos.png" alt="comportamientos">
        <div class="carousel-caption">
          <h1>{{_ "behaviourmanagement"}}</h1>
          <h4>{{_ "behaviours"}}</h4>
        </div>
      </div>
      
      <div class="item">
        <img src="images/random.png" alt="comportamientos">
        <div class="carousel-caption">
          <h1>{{_ "randomelements"}}</h1>
          <h4>{{_ "randomdescription"}}</h4>
        </div>
      </div>
    </div>
  
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div class="jumbotron jumbointro">
    <p><strong>@MyClassGame</strong> {{_ "intro1"}}</p>
    <p>{{_ "intro2"}}</p>
    <p>{{_ "intro3"}}</p>
    <p>{{_ "intro4"}} <strong>#MyClassGame</strong> & <strong>@MyClassGame</strong></p>
    <p>
      <a href="https://myclassgame.helpsite.com/" target="_blank"><button type="button" class="btn btn-info"><img width="50px" src="https://res.cloudinary.com/myclassgame/image/upload/v1540990041/images/2000px-Trademark_License_FAQ.svg.png" /> <strong>@MyClassGame</strong> Support Center</button></a>
    </p>
    <a href="https://drive.google.com/file/d/1IuznPX7ljwssRMd5ld7oYNFmHgxW02LU/view?usp=sharing" target="_blank"><button type="button" class="btn btn-info">Tutorial <strong>@MyClassGame</strong></button></a>
    <a href="http://amyclassgame.blogspot.com.es/" target="_blank"><button type="button" class="btn btn-info">Blog <strong>@MyClassGame</strong></button></a>
    <a href="https://www.facebook.com/myclassgame/" target="_blank"><img width="35px" src="https://vignette.wikia.nocookie.net/hieloyfuego/images/5/5b/%C3%8Dcono_Facebook.png/revision/latest?cb=20130921232320" /></a>
    <a href="https://twitter.com/MyClassGame" target="_blank"><img width="35px" src="https://microplanmadrid.files.wordpress.com/2014/06/icono-twitter.png?w=256" /></a>
    <br />
    <br />
    <p>
      <a href="https://github.com/juantoman/MyClassGame.git" target="_blank"><img width="40px" src="https://image.flaticon.com/icons/svg/25/25231.svg" /></a>
      <a href="https://opensource.org/" target="_blank"><img width="100px" src="https://cdn-images-1.medium.com/max/1600/1*PW6lORfJV-kEJ8T8Z5OjIQ.png" /></a>
      <a href="https://www.gnu.org/licenses/gpl-3.0.html" target="_blank"><img width="90px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/93/GPLv3_Logo.svg/2000px-GPLv3_Logo.svg.png" /></a>
    </p>
  </div>
</template>