<template name="carrusel">

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
  
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="images/estudiantes.png" alt="Jugar">
        <div class="carousel-caption">
          <h1>Gestión de estudiantes</h1>
          <h4>Gamificamos todo lo que nuestros alumnos están aprendiendo</h4>
        </div>
      </div>
  
      <div class="item">
        <img src="images/clases.png" alt="Aprender">
        <div class="carousel-caption">
          <h1>Gestión de clases</h1>
          <h4>Todas nuestras clases separadas para un mejor control</h4>
        </div>
      </div>
  
      <div class="item">
        <img src="images/comportamientos.png" alt="comportamientos">
        <div class="carousel-caption">
          <h1>Gestión de comportamientos </h1>
          <h4>Podemos valorar comportamientos positivos y negativos</h4>
        </div>
      </div>
      
      <div class="item">
        <img src="images/random.png" alt="comportamientos">
        <div class="carousel-caption">
          <h1>Elementos aleatorios</h1>
          <h4>Elección aleatoria de elementos para crear sorpresa</h4>
        </div>
      </div>
    </div>
  
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div class="jumbotron">
    <p><strong>@MyClassGame</strong> es una aplicación web que pretende ayudar a cualquier docente a introducir nuevas metodologías en sus clases de forma fácil e intuitiva</p>
    <p>La idea es que se puedan crear <strong>Proyectos Cooperativos Gamificados (PCG)</strong> a través de la plataforma y de esa forma gestionar todos los datos relevantes para tener un seguimiento de cada tarea que realizan los alumnos</p>
    <p>Actualmente la plataforma está en continuo desarrollo con lo que estamos abiertos a cualquier idea y sugerencia</p>
    <p>Si te gusta comparte en tus redes sociales usando <strong>#MyClassGame</strong> y <strong>@MyClassGame</strong></p>
    <p>
      <a href="http://espiraledublogs.org/comunidad/Edublogs/recurso/myclassgame/043ba3e0-bb7a-e7cb-d345-7f777464b3d6">
        <img width="200px" src="https://contentmapas.didactalia.net/imagenes/Usuarios/ImagenesCKEditor/443951a6-0adc-4287-b74b-614b478e6c51/9002ea6c-1322-4315-8506-a93822ec7e9b.png" />
      </a>
    </p>
    <a href="https://drive.google.com/file/d/1IuznPX7ljwssRMd5ld7oYNFmHgxW02LU/view?usp=sharing" target="_blank"><button type="button" class="btn btn-success">Tutorial <strong>@MyClassGame</strong></button></a>
    <a href="http://amyclassgame.blogspot.com.es/" target="_blank"><button type="button" class="btn btn-success">Blog <strong>@MyClassGame</strong></button></a>
    <a href="https://www.facebook.com/myclassgame/" target="_blank"><img width="35px" src="https://vignette.wikia.nocookie.net/hieloyfuego/images/5/5b/%C3%8Dcono_Facebook.png/revision/latest?cb=20130921232320" /></a>
    <a href="https://twitter.com/MyClassGame" target="_blank"><img width="35px" src="https://microplanmadrid.files.wordpress.com/2014/06/icono-twitter.png?w=256" /></a>
  </div>
  <div class="footer">
      <p>myclassgame@google.com</p>
      <p>@MyClassGame</p>
      <br />
  </div>
</template>