<template name="footer">
  <!--<div class="footer">
      <p>{{_ "projectby"}}<a href="https://juantoman.wixsite.com/juantoman" target="_blank">Juan Torres</a> <a href="https://www.facebook.com/juantoman/" target="_blank"><img width="20px" src="https://vignette.wikia.nocookie.net/hieloyfuego/images/5/5b/%C3%8Dcono_Facebook.png/revision/latest?cb=20130921232320" /></a>
<a href="https://twitter.com/juantoman" target="_blank"><img width="20px" src="https://microplanmadrid.files.wordpress.com/2014/06/icono-twitter.png?w=256" /></a> <a href="mailto:myclassgame@gmail.com" target="_blank">myclassgame@gmail.com</a></p>    
      
  </div>-->
  
    <!--
    <div class="footer">
      <p>{{_ "projectby"}}<a href="https://juantoman.wixsite.com/juantoman" target="_blank">Juan Torres</a> <a href="https://www.facebook.com/juantoman/" target="_blank"><img width="20vh" src="https://vignette.wikia.nocookie.net/hieloyfuego/images/5/5b/%C3%8Dcono_Facebook.png/revision/latest?cb=20130921232320" /></a>
      <a href="https://twitter.com/juantoman" target="_blank"><img width="20vh" src="https://microplanmadrid.files.wordpress.com/2014/06/icono-twitter.png?w=256" /></a> <a href="mailto:myclassgame@gmail.com" target="_blank">myclassgame@gmail.com</a></p>    
    </div>
    -->
    <div class="footer">
      <div id="button"><img src="/images/@mcgnb.png"></div>
      <div id="container">
        <div id="cont">
          <div class="footer_center">
            <h3>
              <p>{{_ "projectby"}}<a href="https://juantoman.wixsite.com/juantoman" target="_blank">Juan Torres</a> <a href="https://www.facebook.com/juantoman/" target="_blank"><img width="20vh" src="https://vignette.wikia.nocookie.net/hieloyfuego/images/5/5b/%C3%8Dcono_Facebook.png/revision/latest?cb=20130921232320" /></a>
              <a href="https://twitter.com/juantoman" target="_blank"><img width="20vh" src="https://microplanmadrid.files.wordpress.com/2014/06/icono-twitter.png?w=256" /></a> <a href="mailto:myclassgame@gmail.com" target="_blank">myclassgame@gmail.com</a></p>    
          	</h3>
          </div>
        </div>
      </div>
    </div>
  
</template>