<template name="header">
  <div class="navbar-wrapper">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <a class="logo-brand" href="#">
          <div id="myheader" class="text-center">
            <div id="mylogo">
              <img src="/images/@mcgnb.png">
              <span style="color:yellow;">@</span><span style="color:red;">My</span><span style="color:blue;">Class</span><span style="color:lime;">Game</span><!--<span> 1.3</span>--><p class="welearnplaying">{{_ "welearnplaying"}}</p>
            </div>
            <!-- {{#unless version "1.3"}} <a class="btn btn-warning" href="#" onclick="window.open('https://drive.google.com/drive/folders/1EsG8rrhcWK5NYvC_g7lxsveCO245rX3M?usp=sharing')" id="mcgMobileVersion">Update</a>{{/unless}} -->
          </div>
        </a>
        <span id="i18nDropdown">{{> i18n_dropdown}}</span>
      </div><!-- /.container-fluid -->
    </nav>
    {{#if gamiright}}
      <a href="https://gamiright.eu/" target="_blank" id="logoGamiRight" class="rightButton">
        <h6><img width="25vmin" src="/images/gamiright.png"> GamiRight</h6>
      </a>
    {{/if}}
    {{#if mcgdemo}}
      <a href="#" id="mcgDemo" class="rightButton">
        <h6><img width="25vmin" src="/images/@mcgnb.png"> Demo</h6>
      </a>
    {{/if}}
  </div>
</template>
