/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  color: #5a5a5a;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  height:60px;
  margin: 0 auto;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding:5px 0;
  background-color:#268BD2;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

/*Mi CSS*/

.navbar {
  height:65px;
  border-radius: 0px;
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid #1e2229 !important;
}

.navbar .navbar-inner {
  border-radius: 0px 0px 0px 0px;
}

.logo-brand{
  font-weight: bold;
  font-family: Verdana, Geneva, sans-serif;
}

.navbar-default, .footer{
  background-color: #268BD2 !important;
}

.mylogo img{
  -webkit-filter: drop-shadow(5px 5px 5px #555 );
  filter: drop-shadow(3px 3px 5px #555);

}

.navbar-header {
  width:100%;
}

.logo-brand span{
  font-size:2em !important;
  text-shadow:0 0 2px #eeeeee, 0 0 2px #000000;
}

.logo-brand p{
  font-size:1em;
  text-shadow: 0 0 10px #000000, 0 0 20px #ffffff;
}

.navbar-toggle {
  background-color: lightgray !important;
}

.navbar-nav li a{
  color:white !important;
  font-size: .7em !important;
  padding:5px !important;
  margin:10px 1px !important;
}

.navbar-nav .dropdown-menu{
  padding:0px !important;
  margin:-10px 0px!important;
  background-color: #275D84 !important;
}
.navbar-nav .dropdown-menu li a{
  margin:0px !important;
}

.navbar-nav li{
  padding:0px !important;
  margin:0px !important;
  margin-top: 20px;
}

.navbar-right{

}

.navbar-right li{

}

.faq a{
  margin:0 !important;
  padding:0 !important;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-top: -1px;
  height: 50vh;
  margin-bottom: -20px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 50vh;
  background-color: #777;
}
.carousel-inner > .item > img {
  width: 100vw !important;
  margin: auto !important;
}

.carousel-inner img{
  opacity: 0.7;
}
.carousel-caption{
  color:#073642;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-3 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-3 p {
  margin-right: 10px;
  margin-left: 10px;
}
.marketing .row {
  margin: 20px;
}
.marketing .card {
  margin:0;
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 0px;
  transition: .5s;
}

.marketing .card:hover {
  background-color: #eeeeee;
}

.marketing .card img{
  height:150px;
  max-width: 235px;
  cursor: pointer;
}

.marketing p {
  font-size:calc(1em + 1vh);;
}

.marketing h1, .marketing h2, .featurette strong {
  color: #268BD2;
  font-weight:bold;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 40px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
  margin-top:0px !important;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

.navbar-wrapper .in {
    margin-top: 10px;
    border: 1px solid white !important;
    background-color: #6fbfDf !important;
 }

@media (min-width: 740px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 0px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 0px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }

}

.login-form {
  margin-top: -50px;
}

.login-form .panel-title {
  position:relative;
}

.login-form .panel-title button{
  position:absolute;
  top:-7px;
  right:0px;
}

.login-form button {
  margin: 5px;
}

.btnSignin {
	border-radius: 20px;
	border: 1px solid #268bd2;
	background-color: #268bd2;
	color: #FFFFFF;
	font-size: 1.5em;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	margin: 2px;
  z-index:2;
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

#i18nDropdown{
  position:absolute;
  right:15px;
  top:15px;
}

.btnCF {
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 100;
  -webkit-box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
}
