<template name="leftNav">
  <div class="page-wrapper chiller-theme">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
      <i class="fas fa-bars"></i>
    </a>
    <a id="show-sidebar-line" class="btn btn-sm btn-dark" href="#">
      <img src="/images/@mcgnb.png" width="20px" class="logoNavbar">
    </a>
    <nav id="sidebar" class="sidebar-wrapper">
      <img src="/images/@mcgnb.png" width="20px" class="logoNavbar">
      <div class="sidebar-content">
        <div class="sidebar-brand">
          <img src="/images/@mcgnb.png" width="30px">
          <a href="#"><span style="color:yellow;"> @</span><span style="color:red;">My</span><span style="color:blue;">Class</span><span style="color:lime;">Game</span></a>
          <div id="close-sidebar">
            <i class="fas fa-times"></i>
          </div>
        </div>
        <div class="sidebar-header">
          <div class="user-pic">
            <img class="img-responsive img-rounded" src="{{userImage}}"
              alt="User picture">
          </div>
          <div class="user-info">
            <span class="user-name">{{userN}}
            </span>
            <span class="user-role">{{userType}}</span>
            <span class="user-status">
              <i class="fa fa-circle"></i>
              <span>Online</span>
            </span>
          </div>
          <div id="closeSessionBtn">
            <a href="#" class="closeSession">
              <i class="fa fa-power-off"></i>
            </a>
          </div>
        </div>
        <!-- sidebar-header
        <div class="sidebar-search">
          <div>
            <div class="input-group">
              <input type="text" class="form-control search-menu" placeholder="Buscar...">
              <div class="input-group-append">
                <span class="input-group-text">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
         sidebar-search  -->
        <div class="sidebar-menu">
          <ul>
            <li class="header-menu">
              <span>General</span>
            </li>
            <li>
              <a href="#">
                <i class="fas fa-layer-group"></i>
                <span class="clases">{{_ "myclasses"}}</span>
                <!--
                <span class="badge badge-pill badge-warning">New</span>
                -->
              </a>
              <!--
              <div class="sidebar-submenu">
                <ul>
                  {{#each classes}}
                    <li><a href="#" class="class_button">{{className}}</a></li>
                  {{/each}}

                  <li>
                    <a href="#">Dashboard 1
                      <span class="badge badge-pill badge-success">Pro</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">Dashboard 2</a>
                  </li>
                  <li>
                    <a href="#">Dashboard 3</a>
                  </li>

                </ul>
              </div>
              -->
            </li>
            {{#if className}}
            <li>
              <a href="#">
                <i class="fas fa-chalkboard-teacher"></i>
                <span class="clase">{{className}}</span>
                <!--
                <span class="badge badge-pill badge-danger">3</span>
                -->
              </a>
              <!--
              <div class="sidebar-submenu">
                <ul>
                  <li>
                    <a href="#">Products

                    </a>
                  </li>
                  <li>
                    <a href="#">Orders</a>
                  </li>
                  <li>
                    <a href="#">Credit cart</a>
                  </li>
                </ul>
              </div>
              -->
            </li>
            <li class="header-menu">
              <span>{{_ "PrincipalMenu"}}</span>
            </li>
            <li>
              <!--
              <ul>
                <li class="active">
                  <a id="studentsMain" href="#" role="tab" data-toggle="tab">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    <span>Estudiantes</span>
                  </a>
                </li>
                <li>
                  <a id="myAdventure" href="#" role="tab" data-toggle="tab">
                    <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                    <span>Aventura</span>
                  </a>
                </li>
                <li>
                  <a id="chat" href="#" role="tab" data-toggle="tab">
                    <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                    <span>Chat</span>
                  </a>
                </li>
                {{#if teacher}}
                  <li>
                    <a id="gamification" href="#" role="tab" data-toggle="tab">
                      <span class="glyphicon glyphicon-tower" aria-hidden="true"></span>
                      <span>Elementos del Juego</span>
                    </a>
                  </li>
                  <li>
                    <a id="questions" href="#" role="tab" data-toggle="tab">
                      <i class="fas fa-question-circle"></i>
                      <span>Cuestionarios</span>
                    </a>
                  </li>
                  <li>
                    <a id="battle" href="#" role="tab" data-toggle="tab">
                      <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
                      <span>Batallas</span>
                    </a>
                  </li>
                  <li>
                    <a id="tools" href="#" role="tab" data-toggle="tab">
                      <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                      <span>Herramientas</span>
                    </a>
                  </li>
                  <li>
                    <a id="statistics" href="#" role="tab" data-toggle="tab">
                      <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                      <span>Historial</span>
                    </a>
                  </li>
                  <li>
                    <a id="notifications" href="#" role="tab" data-toggle="tab">
                      <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                      <span>Notificaciones</span>
                    </a>
                  </li>
                  <li>
                    <a id="settings" href="#" role="tab" data-toggle="tab">
                      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                      <span>Configuración</span>
                    </a>
                  </li>
                {{/if}}
                {{#unless onlyMyStudent}}
                  <li class="header-menu">
                    <span>Estudiantes</span>
                  </li>
                  {{#each students}}
                    <li>
                      <a href="#" class="student_button" role="tab" data-toggle="tab"><img src="{{image avatar}}" class="avatar" /> {{studentName}}</a>
                    </li>
                  {{/each}}
                  <li class="header-menu">
                    <span>Equipos</span>
                  </li>
                  {{#each groups}}
                    <li>
                      <a href="#" class="group_button"><img src="{{gImage}}" class="avatar" /> {{groupName}}</a>
                    </li>
                  {{/each}}
                {{/unless}}
              </ul>
              -->
              <ul>
                <li class="active" id="studentsMenu">
                  <a id="studentsMain2" href="#studentsMain" role="tab" data-toggle="tab">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    <span>{{_ "students"}}</span>
                  </a>
                </li>
                <li>
                  <a id="myAdventure2" href="#myAdventure" role="tab" data-toggle="tab">
                    <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                    <span>{{_ "adventure"}}</span>
                  </a>
                </li>
                <li>
                  <a id="chat2" href="#chat" role="tab" data-toggle="tab">
                    <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                    <span>Chat</span>
                  </a>
                </li>
                {{#if teacher}}
                  <li>
                    <a id="gamification2" href="#gamification" role="tab" data-toggle="tab">
                      <span class="glyphicon glyphicon-tower" aria-hidden="true"></span>
                      <span>{{_ "GameElements"}}</span>
                    </a>
                  </li>
                  <li>
                    <a id="questions2" href="#questions" role="tab" data-toggle="tab">
                      <i class="fas fa-question-circle"></i>
                      <span>{{_ "quizzes"}}</span>
                    </a>
                  </li>
                  <li>
                    <a id="battle2" href="#battle" role="tab" data-toggle="tab">
                      <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
                      <span>{{_ "battles"}}</span>
                    </a>
                  </li>
                  <li>
                    <a id="tools2" href="#tools" role="tab" data-toggle="tab">
                      <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                      <span>{{_ "tools"}}</span>
                    </a>
                  </li>
                  <li>
                    <a id="statistics2" href="#statistics" role="tab" data-toggle="tab">
                      <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                      <span>{{_ "history"}}</span>
                    </a>
                  </li>
                  <li>
                    <a id="notifications2" href="#notifications" role="tab" data-toggle="tab">
                      <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                      <span>{{_ "notifications"}}</span>
                    </a>
                  </li>
                  <li>
                    <a id="settings2" href="#settings" role="tab" data-toggle="tab">
                      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                      <span>{{_ "configuration"}}</span>
                    </a>
                  </li>
                {{/if}}
                {{#unless onlyMyStudent}}
                  <li class="header-menu">
                    <span>{{_ "students"}}</span>
                  </li>
                  {{#each students}}
                    <li>
                      <a href="#" class="student_button" role="tab" data-toggle="tab"><img src="{{image avatar}}" class="avatar" /> {{studentName}}</a>
                    </li>
                  {{/each}}
                  <li class="header-menu">
                    <span>{{_ "teams"}}</span>
                  </li>
                  {{#each groups}}
                    <li>
                      <a href="#" class="group_button"><img src="{{gImage}}" class="avatar" /> {{groupName}}</a>
                    </li>
                  {{/each}}
                {{/unless}}
              </ul>
            </li>
            {{/if}}
            <li class="header-menu">
              <span>{{_ "help"}}</span>
            </li>
            <li>
              <a href="https://myclassgame.helpsite.com/" target="_blank">
                <i class="fa fa-book"></i>
                <span>FAQ</span>
                <span class="badge badge-pill badge-primary">Beta</span>
              </a>
            </li>
            <li class="header-menu">
              <a href="mailto:myclassgame@gmail.com" target="_blank">
                <span>myclassgame@gmail.com</span>
              </a>
            </li>
            <div class="sidebar-social">
                <a href="#" onclick="window.open('https://es-es.facebook.com/myclassgame/', '_system'); return false;" role="button">
                  <i class="fab fa-facebook-square"></i>
                </a>
                <a href="#" onclick="window.open('https://twitter.com/myclassgame', '_system'); return false;" role="button">
                  <i class="fab fa-twitter-square"></i>
                </a>
                <a href="#" onclick="window.open('https://www.youtube.com/watch?v=EeU82hHQcGQ', '_system'); return false;" role="button">
                  <i class="fab fa-youtube-square"></i>
                </a>
                <a href="#" onclick="window.open('https://t.me/myclassgame', '_system'); return false;" role="button">
                  <i class="fab fa-telegram"></i>
                </a>
            </div>
            <!--
            <li>
              <a href="#">
                <i class="fa fa-calendar"></i>
                <span>Calendar</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-folder"></i>
                <span>Examples</span>
              </a>
            </li>
            -->
          </ul>
        </div>
        <!-- sidebar-menu  -->
      </div>
      <!-- sidebar-content  -->
      <div class="sidebar-footer">
        <!--
        <a href="#">
          <i class="fa fa-bell"></i>
          <span class="badge badge-pill badge-warning notification">3</span>
        </a>
        <a href="#">
          <i class="fa fa-envelope"></i>
          <span class="badge badge-pill badge-success notification">7</span>
        </a>
        <a href="#">
          <i class="fa fa-cog"></i>
          <span class="badge-sonar"></span>
        </a>
        -->
        <a href="/" class="closeSession">
          <i class="fa fa-power-off"></i>
        </a>
      </div>
    </nav>
  </div>
  <!-- page-wrapper -->
</template>
