<template name="login">
    <form class="login-form text-center">
      <h3 style="color: #268BD2;">Bienvenid@s a @MyClassGame.</h3>
        <div class="panel panel-info">
            <div class="panel-heading">
                <p class="panel-title ">
                    <a data-toggle="collapse" href="#collapse1"><img width="30vmax" src="/images/@mcgnb.png"> Iniciar sesión/Registrar</a>
                    <!--
                    <button class="btn btn-warning btn-lg float-right" id="google">Iniciar sesión con Google</button>
                    -->
                </p>
            </div>
            <div id="collapse1" class="panel-collapse collapse ins">
                <div class="panel-body">
                    <!--<p style="color: #268BD2;">Bienvenid@s a @MyClassGame</p>-->
                    <div class="btn-group text-center" data-toggle="buttons">
                      <label class="btn btn-info loginBtn active" id="teacherLogin">
                        <input type="radio" name="options" id="teacherLogin" autocomplete="off" checked>Profesor
                      </label>
                      <label class="btn btn-info loginBtn">
                        <input type="radio" name="options" id="studentLogin" autocomplete="off">Estudiante
                      </label>
                      <!--
                      <label class="btn btn-info loginBtn">
                        <input type="radio" name="options" id="parentLogin" autocomplete="off">Padre/Madre
                      </label>
                      -->
                    </div>
                    <div class="loginTeacher">
                      <div class="form-group">
                        <label>Usuario o Email</label>
                        <input type="text" class="form-control" id="emailTeacher" placeholder="Usuario o email">
                      </div>
                      <div class="form-group">
                          <label>Contraseña</label>
                          <input type="password" class="form-control" id="passwordTeacher" placeholder="Contraseña">
                      </div>
                    </div>
                    <div class="loginNoTeacher oculto">
                      <div class="form-group">
                        <label>Alias</label>
                        <input type="text"  class="form-control" id="aliasStudent" placeholder="Alias">
                      </div>
                      <div class="form-group">
                          <label>Code</label>
                          <input type="password" class="form-control" id="codeStudent" placeholder="Code">
                      </div>
                    </div>
                </div>
                <div class="panel-footer text-center">
                  <button type="submit" class="btn btn-warning btn-md">Iniciar sesión</button>
                  <span class="loginTeacher">
                    <button class="btn btn-warning btn-md" id="register">Registrar</button>
                    <button class="btn btn-warning btn-md" id="reset">Restablecer contraseña</button>
                    <button class="btn btn-warning btn-md" id="google">Iniciar sesión con Google</button>
                  </span>
                </div>
            </div>
        </div>
    </form>
</template>
