<template name="register">
  <div  class="container myContent">
    <div class="row">
      <div class="col-lg-6">
        <div class="thumbnail ">
            <h2 class="text-center bg-success">Profesor</h2>
            <img src="/images/teacher.png" alt="...">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="thumbnail">
            <h2 class="text-center bg-success">Estudiante</h2>
            <img src="/images/student.png" alt="...">
        </div>
      </div>
    </div>
  </div>
</template>
