<template name="register">
  <div class="container myContent register">
    <h4 class="text-center">{{_ "usertype"}}</h4>
     <div class="row text-center">
      <div class="col-container col-xs-12 col-sm-4">
        <div class="thumbnail text-center btn btn-teacher">
          <h2 class="text-center">{{_ "teacher"}}</h2>
          <p><img src="https://res.cloudinary.com/myclassgame/image/upload/v1542962764/proves/YODA.png" class="fotoUserType"></p>
        </div>
      </div>
      <div class="col-container col-xs-12 col-sm-4">
        <div class="thumbnail text-center btn btn-student">
          <h2 class="text-center">{{_ "student"}}</h2>
          <p><img src="https://res.cloudinary.com/myclassgame/image/upload/v1542963357/proves/luke.png" class="fotoUserType"></p>
        </div>
      </div>
      <div class="col-container col-xs-12 col-sm-4">
        <div class="thumbnail text-center btn btn-parent">
          <h2 class="text-center">{{_ "parent"}}</h2>
          <p><img src="https://res.cloudinary.com/myclassgame/image/upload/v1542966099/proves/vader.png" class="fotoUserType"></p>
        </div>
      </div>
    </div>
  </div>
</template>
