<template name="signinTemplate">

    <button class="btn btn-info btnSignin">Iniciar / Registrar</button>

</template>

<template name="signinModal">
  <div class="modal fade" id="signin_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div id="signinTemplate">

          <div class="container" id="container_sign">
          	<div class="form-container sign-up-container">
          		<form action="#" class="login-form-code">
                <img width="60vmax" src="/images/@mcgnb.png" class="hidden_logo oculto">
          			<h1>{{_ "student"}}</h1>
                <div class="btn-group btn-group-xs" role="group" aria-label="...">
                  <p type="button" class="btn btn-info btn-student">Email</p>
                  <p type="button" class="btn btn-student">Code</p>
                </div>
                <!--
          			<div class="social-container">
          				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
          				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
          				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
          			</div>
                -->
                <div class="oculto">
            			<input type="text" placeholder="Alias" id="aliasStudent" />
            			<input type="password" placeholder="Code" id="codeStudent" />
            			<button type="submit">{{_ "signin"}}</button>
                </div>
                <div class="">
                  <img id="google" src="/images/btn_google_signin_dark_normal_web.png" /><br />
            			<span>{{_ "useAnEmail"}}</span>
            			<input type="email" placeholder="Email" id="emailStudent"/>
            			<input type="password" placeholder="Contraseña" id="passwordStudent"/>
            			<a href="#" id="reset">{{_ "remember"}}</a>
            			<button type="submit">{{_ "signin"}}</button>
                  <button id="register">{{_ "register"}}</button>
                </div>
          		</form>
              <p class="oculto bottom_button text-center btn" id="signIn">{{_ "teacher"}}</p>
          	</div>
          	<div class="form-container sign-in-container">
          		<form action="#" class="login-form-email">
                <img width="60vmax" src="/images/@mcgnb.png" class="hidden_logo oculto">
          			<h1>{{_ "teacher"}}</h1>
          			<img id="google" src="/images/btn_google_signin_dark_normal_web.png" />
          			<span>{{_ "useAnEmail"}}</span>
          			<input type="email" placeholder="Email" id="emailTeacher"/>
          			<input type="password" placeholder="Contraseña" id="passwordTeacher"/>
          			<a href="#" id="reset">{{_ "remember"}}</a>
          			<button type="submit">{{_ "signin"}}</button>
                <button id="register">{{_ "register"}}</button>

          		</form>
              <p class="oculto bottom_button text-center btn" id="signUp">{{_ "student"}}</p>
          	</div>
          	<div class="overlay-container">
          		<div class="overlay">
          			<div class="overlay-panel overlay-left">
                  <img width="60vmax" src="/images/@mcgnb.png">
                  <br />
          				<h1>{{_ "welcomeTo"}} <span style="color:yellow;">@</span><span style="color:red;">My</span><span style="color:blue;">Class</span><span style="color:lime;">Game</span>!</h1>
          				<p>{{_ "ifUseEmail"}}</p>
          				<button class="ghost" id="signIn">{{_ "teacher"}}</button>
          			</div>
          			<div class="overlay-panel overlay-right">
                  <img width="60vmax" src="/images/@mcgnb.png">
                  <br />
          				<h1>{{_ "welcomeTo"}} <span style="color:yellow;"> @</span><span style="color:red;">My</span><span style="color:blue;">Class</span><span style="color:lime;">Game</span>!</h1>
          				<p>{{_ "ifStudentCode"}}</p>
          				<button class="ghost" id="signUp">{{_ "student"}}</button>
          			</div>
          		</div>
          	</div>
          </div>
        </div>
      </div>
  </div>
</template>
