
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

.marketing .btnSignin {
	margin-top: 30px;
}

.hiddenContainer {
		opacity:0 !important;
}

#signinTemplate * {
	box-sizing: border-box;
}

#signinTemplate  {
	margin-top: 30px;
	font-family: 'Montserrat', sans-serif;
	color: #268bd2 !important;
}

#signinTemplate h1 {
	font-weight: bold;
	margin: 0.5em;
  text-transform: none !important;
	font-size: 1.5em;
}

#signinTemplate h2 {
	text-align: center;
}

#signinTemplate p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

#signinTemplate span {
	font-size: 12px;
}

#signinTemplate a {
	/*color: #333;*/
	color: #268bd2 !important;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

#signinTemplate button {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	margin: 2px;
}

#signinTemplate button:active {
	transform: scale(0.95);
}

#signinTemplate button:focus {
	outline: none;
}

#signinTemplate button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

#signinTemplate form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

#signinTemplate input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

#signinTemplate .container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25),
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
	transition: all 2s ease-in-out;
}

#signinTemplate .form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

#signinTemplate .sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

#signinTemplate .container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

#signinTemplate .sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

#signinTemplate .container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

#signinTemplate @keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}

	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

#signinTemplate .overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 10;
}

#signinTemplate .container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

#signinTemplate .overlay {
	background: #4298F0;
	background: -webkit-linear-gradient(to right, #4298F0, #268bd2);
	background: linear-gradient(to right, #4298F0, #268bd2);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

#signinTemplate .container.right-panel-active .overlay {
  	transform: translateX(50%);
}

#signinTemplate .overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

#signinTemplate .overlay-panel span{
	font-size: 1em;
}

#signinTemplate .overlay-left {
	transform: translateX(-20%);
}

#signinTemplate .container.right-panel-active .overlay-left {
	transform: translateX(0);
}

#signinTemplate .overlay-right {
	right: 0;
	transform: translateX(0);
}

#signinTemplate .container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

#signinTemplate .social-container {
	margin: 20px 0;
}

#signinTemplate .social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

#google {
	border: 1px solid transparent;
}

#google:hover {
	border: 1px solid #4285F4;
	cursor: pointer;
}

@media (max-width: 740px) {
	#signinTemplate h1 {
  	font-size: 1.2em;
  }
	#signinTemplate button {
		font-size: 0.6em;
	}
}
