@import url('https://fonts.googleapis.com/css?family=Abel');

.itemCard {
  background: red;
  font-family: Abel, Arial, Verdana, sans-serif;
  float:left;
  margin:10px auto !important;
  border: 2px solid lime;
}

.center{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
}

.eImage {
  text-align: center;
}

.itemCard .center .glyphicon {
	font-size: 5em;
	color:white;
}

.itemCard {
  width: 450px;
  height: 200px;
  background-color: #fff;
  background: linear-gradient(lime,#ADD34C);
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin: 1.5rem;
}

.itemCard h1, .itemCard p {
  text-align: center;
  color: white !important;
}

.itemCard .additional {
  position: absolute;
  width: 150px;
  height: 100%;
  background-color: lime;
  box-shadow: 0px 5px 20px -10px #000851;
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
}

.itemCard.green .additional {
  background: linear-gradient(#92bCa6, #A2CCB6);
}


.itemCard:hover .additional {
  width: 100%;
  border-radius: 0 5px 5px 0;
}

.itemCard .additional .user-card {
  width: 150px;
  height: 100%;
  position: relative;
  float: left;
  background: linear-gradient(120deg, lime 0%, #016800 100%);
  box-shadow: 0px 5px 20px -10px #000851;
}

.itemCard .additional .user-card::after {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  right: -2px;card
  height: 80%;
  border-left: 2px solid rgba(0,0,0,0.025);
}

.itemCard .additional .user-card .level,
.itemCard .additional .user-card .points {
  top: 15%;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: bold;
  background: rgba(0,0,0,0.4);
  padding: 0.125rem 0.75rem;
  border-radius: 100px;
  width:130px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.itemCard .additional .user-card .points {
  top: 85%;
}

.itemCard .additional .user-card svg {
  top: 50%;
}

.itemCard .additional .more-info {
  width: 300px;
  float: left;
  position: absolute;
  left: 150px;
  height: 100%;
	padding: 1rem;
	padding-top: 0;
	margin:auto;
}

.itemCard .additional .more-info h1 {
  color: #fff;
  margin-bottom: 0;
}

.itemCard.green .additional .more-info h1 {
  color: #224C36;
}

.itemCard .additional .coords {
  margin: 0 1rem;
  color: #fff;
  font-size: 1rem;
}

.itemCard.green .additional .coords {
  color: #325C46;
}

.itemCard .additional .coords span + span {
  float: right;
}

.itemCard .additional .stats {
  font-size: 2rem;
  display: flex;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  top: auto;
  color: #fff;
}

.itemCard.green .additional .stats {
  color: #325C46;
}

.itemCard .additional .stats > div {
  flex: 1;
  text-align: center;
}

.itemCard .additional .stats i {
  display: block;
}

.itemCard .additional .stats div.title {
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

.itemCard .additional .stats div.value {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5rem;
}

.itemCard .additional .stats div.value.infinity {
  font-size: 2.5rem;
}

.itemCard .general {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 0;
}

.itemCard .general .more {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 0.9em;
}

.itemName, .itemDesc {
  text-align: center;
	text-transform: none;
	font-size: 2em !important;
	width:90%;
	margin:10px auto;
	background-color: lightblue;
}

.itemDesc {
  font-size: 1em !important;
}

.general .itemName, .general .itemDesc {
  border-style:none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none ;
	background-color: transparent;
	color: white;
	font-weight: bold;
  resize: none;
}

.more-info .btn {
  font-size: 0.7em !important;
	margin:auto;
}

.itemCard .input-group-addon{
  color: white;
  font-size: 1em;
}

.itemCard .input-group{
  float: left !important;
}

.itemCard .input-group .input-group-addon{
  background-color: green !important;
}

.itemCard input, .itemCard textarea, .itemCard .input-group-addon {
  border: 1px solid green !important;
}

.itemCard .groupBtnCard{
  float: right !important;
}

.itemCard .groupBtnCard *{
  background-color: green !important;
  border: 1px solid green;
}
