<template name="store">
  <div class="container">
    <div class="list-group">
    {{#each store}}
          <div class="form-group has-feedback form-inline">
            <div class="input-group col-xs-8">
              <span class="input-group-addon">Item</span>
              <input type="text" class="form-control inputGroup" name="{{_id}}" id="inputDesc" aria-describedby="inputGroupSuccess1Status" value="{{itemDescription}}">
            </div>
            <div class="input-group col-xs-3">
              <span class="input-group-addon">Price</span>
              <input type="text" class="form-control inputGroup" name="{{_id}}" id="inputPoints"  aria-describedby="inputGroupSuccess1Status" value="{{price}}">
            </div>
          </div>
    {{/each}}
    </div>
    <form>
      <div class="form-group has-feedback">
        <label class="control-label" for="inputGroupSuccess1">New item</label>
        <div class="form-inline">
          <div class="input-group col-xs-8">
            <span class="input-group-addon">Item</span>
            <input type="text" class="form-control" name="itemDescription" id="inputGroupSuccess1" aria-describedby="inputGroupSuccess1Status">
          </div>
          <div class="input-group col-xs-3">
            <span class="input-group-addon">Price</span>
            <input type="text" class="form-control" name="itemPrice" id="inputPoints" aria-describedby="inputGroupSuccess1Status">
          </div>
          <input type="submit" id="btn-save" value="Save" class="btn">
        </div>
      </div>
    </form>

  </div>
</template>
