<template name="store">
  <div class="container">
    <div class="list-group">
      {{#each store}}
        <div class="form-group">
          <div class="input-group" style="width:15%;float:left;margin-top:20px;">
            <div class="eImage" title="{{_id}}"><img width="70%" alt="Imagen artículo" src="{{item_src itemImage}}" /></div>
          </div>
          <div class="input-group" style="width:80%;">
            <div class="input-group col-xs-11">
              <label>Nombre artículo</label>
              <input type="text" class="form-control inputGroup" name="{{_id}}" id="itemName" {{teacher}} aria-describedby="inputGroupSuccess1Status" value="{{itemName}}">
            </div>
            <div class="input-group col-xs-11">
              <label>Descripción artículo</label>
              <textarea class="form-control inputGroup" name="{{_id}}" id="itemDescription" {{teacher}} rows="2">{{itemDescription}}</textarea>
            </div>
            <div class="input-group col-xs-11">
              <label>Precio artículo</label>
              <input  type="text" class="form-control inputGroup" name="{{_id}}" id="itemPrice" {{teacher}} value="{{price}}">
            </div>
          </div>
        </div>
      {{/each}}
    </div>
    <form>
      <div class="form-group">
        <label class="control-label" for="inputGroupSuccess1">Nuevo artículo</label>
        <div class="input-group" style="width:15%;float:left;margin-top:20px;">
          <div class="eImage" title="{{_id}}"><img width="70%" alt="Imagen artículo" src="{{item_src itemImage}}" /></div>
        </div>
        <div class="input-group" style="width:80%;">
          <div class="input-group col-xs-11">
            <label>Nombre artículo</label>
            <input type="text" class="form-control inputGroup" name="itemName" id="itemName" {{teacher}} aria-describedby="inputGroupSuccess1Status" value="{{itemName}}">
          </div>
          <div class="input-group col-xs-11">
            <label>Descripción artículo</label>
            <textarea class="form-control inputGroup" name="itemDescription" id="itemDescription" {{teacher}} rows="2">{{itemDescription}}</textarea>
          </div>
          <div class="input-group col-xs-11">
            <label>Precio artículo</label>
            <input  type="text" class="form-control inputGroup" name="itemPrice" id="itemPrice" {{teacher}} value="{{price}}">
          </div>
          <input type="submit" id="btn-save" value="{{_ "save"}}" class="btn btn-success">
        </div>
      </div>
    </form>
  </div>
</template>
