<template name="store">
  <div class="container">
    <div class="list-group">
      {{#each store}}
            <div class="form-group has-success">
              <div class="form-inline">
                <div class="input-group col-xs-8">
                  <span class="input-group-addon">Artículo</span>
                  <input type="text" class="form-control inputGroup input-lg" name="{{_id}}" id="inputDesc" aria-describedby="inputGroupSuccess1Status" value="{{itemDescription}}">
                </div>
                <div class="input-group col-xs-3">
                  <span class="input-group-addon">Precio</span>
                  <input type="text" class="form-control inputGroup input-lg" name="{{_id}}" id="inputPoints"  aria-describedby="inputGroupSuccess1Status" value="{{price}}">
                </div>
              </div>
            </div>
      {{/each}}
    </div>
    <form>
      <div class="form-group has-success">
        <label class="control-label" for="inputGroupSuccess1">Nuevo artículo</label>
        <div class="form-inline">
          <div class="input-group col-xs-8">
            <span class="input-group-addon">Artículo</span>
            <input type="text" class="form-control input-lg" name="itemDescription" id="inputGroupSuccess1" aria-describedby="inputGroupSuccess1Status">
          </div>
          <div class="input-group col-xs-2">
            <span class="input-group-addon">Precio</span>
            <input type="text" class="form-control input-lg" name="itemPrice" id="inputPoints" aria-describedby="inputGroupSuccess1Status">
          </div>
          <input type="submit" id="btn-save" value="Guardar" class="btn btn-success">
        </div>
      </div>
    </form>

  </div>
</template>
