<template name="parametersList">
  <div class="container">
    {{#with parametersClass}}
    <br />
    <form>
      <div class="form-group">
        <label class="control-label" for="inputGroupSuccess1">Parámetros de mi clase</label>
        <div class="form-group">
          <div class="input-group col-xs-11">
            <span class="input-group-addon">Evaluación</span>
            <select class="custom-select form-control input-lg" id="evaluacion" name="evaluacion">
              <option value="1" {{selEval "1"}}>1ª Evaluación</option>
              <option value="2" {{selEval "2"}}>2ª Evaluación</option>
              <option value="3" {{selEval "3"}}>3ª Evaluación</option>
            </select>
          </div>
        </div>
        <div class="form-group form-inline">
          <div class="input-group col-xs-2">
            <span class="input-group-addon">Imagen de estudiante</span>
          </div>
          <div class="input-group col-xs-1">
            <button class="form-control input-lg studentImage" id="{{_id}}"><img src="{{sImage}}" height="30px" /></button>
          </div>
          <div class="input-group col-xs-2">
            <span class="input-group-addon">Imagen de equipo</span>
          </div>
          <div class="input-group col-xs-1">
            <button class="form-control input-lg groupImage" id="{{_id}}"><img src="{{gImage}}" height="30px" /></button>
          </div>
          <div class="input-group col-xs-2">
            <span class="input-group-addon">Imagen de equipo</span>
          </div>
          <div class="input-group col-xs-1">
            <button class="form-control input-lg backImage" id="{{_id}}"><img src="{{bImage}}" height="30px" /></button>
          </div>
        </div>
        <!--
        <div class="form-group">
          <div class="input-group col-xs-11">
            <span class="input-group-addon">Imagen de estudiante</span>
            <input type="text" class="form-control input-lg" name="studentImg" value="{{studentImg}}" id="studentImg" aria-describedby="inputGroupSuccess1Status">
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
            <span id="inputGroupSuccess1Status" class="sr-only">(success)</span>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group col-xs-11">
            <span class="input-group-addon">Imagen de equipo</span>
            <input type="text" class="form-control input-lg" name="groupImg" value="{{groupImg}}" id="groupImg" aria-describedby="inputGroupSuccess1Status">
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
            <span id="inputGroupSuccess1Status" class="sr-only">(success)</span>
          </div>
        </div>
        -->
        <div class="input-group col-xs-11">
            <input type="checkbox" id="avatarVisible" {{ch avatarVisible}}>
            <label class="control-label" for="xpCheck"> Padres y estudiantes pueden ver los avatares</label>
        </div>
        <div class="input-group col-xs-11">
            <input type="checkbox" id="CoinXP" {{ch CoinXP}}>
            <label class="control-label" for="xpCheck"> Ganar una moneda por XP</label>
        </div>
        <!--
        <div class="form-group">
          <div class="input-group col-xs-11">
            <span class="input-group-addon">Imagen de fondo de la clase</span>
            <input type="text" class="form-control input-lg" name="backImg" value="{{backImg}}" id="backImg" aria-describedby="inputGroupSuccess1Status">
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
            <span id="inputGroupSuccess1Status" class="sr-only">(success)</span>
          </div>
        </div>
        -->
        <div class="form-group">
          <div class="input-group col-xs-11">
            <span class="input-group-addon">HP inicial</span>
            <input type="text" class="form-control input-lg" name="iniHP" value="{{iniHP}}" id="iniHP" aria-describedby="inputGroupSuccess1Status">
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
            <span id="inputGroupSuccess1Status" class="sr-only">(success)</span>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group col-xs-11">
            <span class="input-group-addon">Peso XP</span>
            <input type="text" class="form-control input-lg" name="perXP" value="{{perXP}}" id="perXP" aria-describedby="inputGroupSuccess1Status">
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
            <span id="inputGroupSuccess1Status" class="sr-only">(success)</span>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group col-xs-11">
            <span class="input-group-addon">Peso BG</span>
            <input type="text" class="form-control input-lg" name="perBG" value="{{perBG}}" id="perBG" aria-describedby="inputGroupSuccess1Status">
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
            <span id="inputGroupSuccess1Status" class="sr-only">(success)</span>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group col-xs-11">
            <span class="input-group-addon">Peso Misiones Grupales</span>
            <input type="text" class="form-control input-lg" name="perMissions" value="{{perMissions}}" id="perMissions" aria-describedby="inputGroupSuccess1Status">
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
            <span id="inputGroupSuccess1Status" class="sr-only">(success)</span>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group col-xs-11">
            <span class="input-group-addon">Peso Misiones Individuales</span>
            <input type="text" class="form-control input-lg" name="perChallenges" value="{{perChallenges}}" id="perChallenges" aria-describedby="inputGroupSuccess1Status">
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
            <span id="inputGroupSuccess1Status" class="sr-only">(success)</span>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group col-xs-11">
            <span class="input-group-addon">Puntos perdidos por HP </span>
            <input type="text" class="form-control input-lg" name="perHP" value="{{perHP}}" id="perHP" aria-describedby="inputGroupSuccess1Status">
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
            <span id="inputGroupSuccess1Status" class="sr-only">(success)</span>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group col-xs-11">
            <span class="input-group-addon">XP por hora en entradas de equipo </span>
            <input type="text" class="form-control input-lg" name="hourXP" value="{{hourXP}}" id="hourXP" aria-describedby="inputGroupSuccess1Status">
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
            <span id="inputGroupSuccess1Status" class="sr-only">(success)</span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group mb-3">
          <input type="submit" id="btn-reset" value="Resetear puntuaciones estudiantes" class="btn btn-info">
        </div>
      </div>
    </form>
    {{/with}}
  </div>
</template>

<template name="resetClass">
  <div class="modal" id="reset_class_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form id="add_class_form">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="exampleModalLabel">Resetear puntuaciones de la clase</h4>
          </div>
          <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4">Resetear puntuaciones</h1>
              <p class="lead">¿Estás seguro de querer resetear puntuaciones de la clase?</p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <input type="submit" class="btn btn-primary" id="btnResetClass" value="Resetear puntuaciones">
          </div>
        </form>
      </div>
    </div>
  </div>
</template>