<template name="parametersList">
  <div class="container">
    {{#with parametersClass}}
    <form>
      <div class="form-group has-success has-feedback">
        <label class="control-label" for="inputGroupSuccess1">Parámetros de mi clase</label>
        <div class="form-group has-success has-feedback">
          <div class="input-group col-xs-11">
            <span class="input-group-addon">Cambio de nivel</span>
            <input type="text" class="form-control input-lg" name="levelXP" value="{{levelXP}}" id="inputGroupSuccess1" aria-describedby="inputGroupSuccess1Status">
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
            <span id="inputGroupSuccess1Status" class="sr-only">(success)</span>
          </div>
        </div>
        <div class="form-group has-success has-feedback">
          <div class="input-group col-xs-11">
            <span class="input-group-addon">Imagen de estudiante</span>
            <input type="text" class="form-control input-lg" name="studentImg" value="{{studentImg}}" id="inputGroupSuccess1" aria-describedby="inputGroupSuccess1Status">
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
            <span id="inputGroupSuccess1Status" class="sr-only">(success)</span>
          </div>
        </div>
        <div class="form-group has-success has-feedback">
        <div class="input-group col-xs-11">
            <span class="input-group-addon">Imagen de grupo</span>
            <input type="text" class="form-control input-lg" name="groupImg" value="{{groupImg}}" id="inputGroupSuccess1" aria-describedby="inputGroupSuccess1Status">
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
            <span id="inputGroupSuccess1Status" class="sr-only">(success)</span>
          </div>
        </div>
        <div class="form-group has-success has-feedback">
          <div class="input-group col-xs-11">
            <span class="input-group-addon">Imagen de fondo de la clase</span>
            <input type="text" class="form-control input-lg" name="backImg" value="{{backImg}}" id="inputGroupSuccess1" aria-describedby="inputGroupSuccess1Status">
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
            <span id="inputGroupSuccess1Status" class="sr-only">(success)</span> 
          </div>
        </div>
      </div>
    </form>
    {{/with}}
  </div>
</template>
