<template name="parametersList">
  <div class="container">
    {{#with parametersClass}}
    <form>
      <div class="form-group has-success has-feedback">
        <label class="control-label" for="inputGroupSuccess1">Parámetros de mi clase</label>
        <div class="form-group has-success has-feedback">
          <div class="input-group col-xs-11">
            <span class="input-group-addon">Evaluación</span>
            <select class="custom-select form-control input-lg" id="evaluacion" name="evaluacion">
              <option value="1" {{selEval "1"}}>1ª Evaluación</option>
              <option value="2" {{selEval "2"}}>2ª Evaluación</option>
              <option value="3" {{selEval "3"}}>3ª Evaluación</option>
            </select>
          </div>
        </div>
        <div class="form-group has-success has-feedback">
          <div class="input-group col-xs-11">
            <span class="input-group-addon">Imagen de estudiante</span>
            <input type="text" class="form-control input-lg" name="studentImg" value="{{studentImg}}" id="studentImg" aria-describedby="inputGroupSuccess1Status">
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
            <span id="inputGroupSuccess1Status" class="sr-only">(success)</span>
          </div>
        </div>
        <div class="form-group has-success has-feedback">
          <div class="input-group col-xs-11">
            <span class="input-group-addon">Imagen de equipo</span>
            <input type="text" class="form-control input-lg" name="groupImg" value="{{groupImg}}" id="groupImg" aria-describedby="inputGroupSuccess1Status">
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
            <span id="inputGroupSuccess1Status" class="sr-only">(success)</span>
          </div>
        </div>
        <div class="form-group has-success has-feedback">
          <div class="input-group col-xs-11">
            <span class="input-group-addon">Imagen de fondo de la clase</span>
            <input type="text" class="form-control input-lg" name="backImg" value="{{backImg}}" id="backImg" aria-describedby="inputGroupSuccess1Status">
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
            <span id="inputGroupSuccess1Status" class="sr-only">(success)</span>
          </div>
        </div>
        <div class="form-group has-success has-feedback">
          <div class="input-group col-xs-11">
            <span class="input-group-addon">HP inicial</span>
            <input type="text" class="form-control input-lg" name="iniHP" value="{{iniHP}}" id="iniHP" aria-describedby="inputGroupSuccess1Status">
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
            <span id="inputGroupSuccess1Status" class="sr-only">(success)</span>
          </div>
        </div>
        <div class="form-group has-success has-feedback">
          <div class="input-group col-xs-11">
            <span class="input-group-addon">Peso XP</span>
            <input type="text" class="form-control input-lg" name="perXP" value="{{perXP}}" id="perXP" aria-describedby="inputGroupSuccess1Status">
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
            <span id="inputGroupSuccess1Status" class="sr-only">(success)</span>
          </div>
        </div>
        <div class="form-group has-success has-feedback">
          <div class="input-group col-xs-11">
            <span class="input-group-addon">Peso BG</span>
            <input type="text" class="form-control input-lg" name="perBG" value="{{perBG}}" id="perBG" aria-describedby="inputGroupSuccess1Status">
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
            <span id="inputGroupSuccess1Status" class="sr-only">(success)</span>
          </div>
        </div>
        <div class="form-group has-success has-feedback">
          <div class="input-group col-xs-11">
            <span class="input-group-addon">Peso Misiones</span>
            <input type="text" class="form-control input-lg" name="perMissions" value="{{perMissions}}" id="perMissions" aria-describedby="inputGroupSuccess1Status">
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
            <span id="inputGroupSuccess1Status" class="sr-only">(success)</span>
          </div>
        </div>
        <div class="form-group has-success has-feedback">
          <div class="input-group col-xs-11">
            <span class="input-group-addon">Peso Retos</span>
            <input type="text" class="form-control input-lg" name="perChallenges" value="{{perChallenges}}" id="perChallenges" aria-describedby="inputGroupSuccess1Status">
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
            <span id="inputGroupSuccess1Status" class="sr-only">(success)</span>
          </div>
        </div>
        <div class="form-group has-success has-feedback">
          <div class="input-group col-xs-11">
            <span class="input-group-addon">Puntos perdidos por HP </span>
            <input type="text" class="form-control input-lg" name="perHP" value="{{perHP}}" id="perHP" aria-describedby="inputGroupSuccess1Status">
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
            <span id="inputGroupSuccess1Status" class="sr-only">(success)</span>
          </div>
        </div>
      </div>
    </form>
    {{/with}}
  </div>
</template>
