<template name="gamification">
  <!--
  {{> myBreadcrumb}}
  {{> myNav}}
  -->
  <div class="container-responsive">

    <div id="settingsMenu">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#story" aria-controls="story" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-fire" aria-hidden="true"></span> Narrativa</a></li>
        <li role="presentation"><a href="#dinamics" aria-controls="dinamics" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Dinámicas</a></li>
        <li role="presentation"><a href="#mechanics" aria-controls="mechanics" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> Mecánicas</a></li>
        <li role="presentation"><a href="#components" aria-controls="components" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-record" aria-hidden="true"></span> Componentes</a></li>
      </ul>
      <!-- Tab panels -->
      <div class="tab-content container-responsive" style="background-color:#eee;">
        <div role="tabpanel" class="tab-pane active" id="story">
          <h2 class="text-center bg-info">Narrativa</h2>
          {{> eventsList}}
        </div>
        <div role="tabpanel" class="tab-pane" id="dinamics">
          <h2 class="text-center bg-info">Dinámicas</h2>
          {{> behavioursList}}
        </div>
        <div role="tabpanel" class="tab-pane" id="mechanics">
          <h2 class="text-center bg-info">Mecánicas</h2>
          {{> badgesList}}
        </div>
        <div role="tabpanel" class="tab-pane" id="components">
          <h2 class="text-center bg-info">Componentes</h2>
          {{> quotesList}}
        </div>        
        <div role="tabpanel" class="tab-pane" id="store">
          <h2 class="text-center bg-info">Tienda</h2>
          {{> store}}
        </div>
      </div>

    </div>

  </div>
</template>
