<template name="gamification">
  <!--
  {{> myBreadcrumb}}
  {{> myNav}}
  -->
  {{> header}}
  <h3 class="nameSection">Gamificación</h3>
  <div class="container-fluid float-up">

    <div class="settingsMenu">
      <!-- Nav tabs -->
      <ul class="nav nav-pills" role="tablist">
        <li role="presentation" class="active" id="myComponents"><a href="#myComponents" aria-controls="story" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> <span class="spanMenu">Componentes</span></a></li>
        <li role="presentation" id="adventure"><a href="#adventure" aria-controls="adventure" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <span class="spanMenu">Aventura</span></a></li>
        <li role="presentation" id="missions"><a href="#missions" aria-controls="missions" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-record" aria-hidden="true"></span> <span class="spanMenu">Misiones</span></a></li>
        <li role="presentation" id="dessign"><a href="#dessign" aria-controls="story" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> <span class="spanMenu">Diseño</span></a></li>
      </ul>
      {{> yield}}

      <!-- Tab panels -->
      <!--
      <div class="tab-content container-responsive mytab">

        <div role="tabpanel" class="tab-pane" id="dessign">
          <br/>
          {{> dessignTemplate}}
        </div>
        <div role="tabpanel" class="tab-pane active" id="myComponents">
          <br/>
          {{> componentsTemplate}}
        </div>
        <div role="tabpanel" class="tab-pane" id="adventure">
          <br/>
          {{> adventure}}
        </div>
        <div role="tabpanel" class="tab-pane" id="missions">
          <br/>
          {{> missions}}
        </div>
      </div>
      -->
    </div>
  </div>

</template>
