<template name="missions">
  <div class="container-fluid" id="adventurePage">
    <!-- <a href="#" onClick="renderWidget();">Render the Classroom share button</a>
    <div id="widget-div"></div> -->
    <h4><g:sharetoclassroom size=32 url="http://google.com"></g:sharetoclassroom> <span style="vertical-align:10px;">Google Classroom</span></h4>
    <!-- {{> GCTasks}} -->
    <div class="list-group">
      <div class="panel panel-info">
        <div class="panel-heading" role="button" data-toggle="collapse" data-parent="" href="#missions" aria-expanded="true" aria-controls="missions" id="headMissions">
          <h4 class="panel-title text-center">
            Misiones
          </h4>
        </div>
        <div id="missions" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headMissions">
          <div class="panel-body">
            <div class="form-group has-info">
              <label class="control-label" for="inputGroupSuccess1">Misiones</label>
              <div class="panel-group" id="accordionMissions" role="tablist" aria-multiselectable="true">
                {{#each challenge}}
                  <div class="panel panel-info">
                    <div class="panel-heading" role="button" data-toggle="collapse" data-parent="#accordionMissions" href="#collapse{{_id}}" aria-expanded="false" aria-controls="collapse{{_id}}" id="heading{{_id}}" style="padding:0px;">
                      <div class="input-group" style="margin:0px;padding:0px;">
                        <h4 class="panel-title" style="padding:8px;">
                          Misión {{IoG}}: {{chalName}}
                        </h4>
                        <span class="input-group-btn">
                          <span class="glyphicon glyphicon-circle-arrow-up btn" aria-hidden="true"></span>
                          <span class="glyphicon glyphicon-circle-arrow-down btn" aria-hidden="true"></span>
                        </span>
                      </div>
                    </div>
                    <div id="collapse{{_id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{_id}}">
                      <div class="panel-body">
                        <div class="form-group">
                          <div class="input-group col-xs-12">
                            <label for="chalDesc">Nombre misión {{IoG}}</label>
                            <input type="text" class="form-control inputGroup" name="{{_id}}" id="chalName" {{teacher}} aria-describedby="inputGroupSuccess1Status" value="{{chalName}}">
                          </div>
                          <div class="input-group col-xs-12">
                            <label for="chalDesc">Descripción</label>
                            <textarea class="form-control" name="{{_id}}" id="chalDesc" {{teacher}} rows="3">{{chalDesc}}</textarea>
                          </div>
                          <div class="input-group mb-3">
                            <input type="checkbox" id="nbDepCheck" name={{_id}} {{disTeacher}} checked={{notebookDependence}}>
                            <label for="nbDepCheck"> Notas dependen del cuaderno de grupo</label>
                          </div>
                          {{#if isTeacher}}
                            <div class="input-group mb-3">
                              <button class="duplicarMision btn btn-info" name="{{_id}}">Duplicar</button>
                              <button class="notas btn btn-info" name="{{_id}}">Introducir Notas</button>
                              <button class="btn btn-info" name="{{_id}}" id="chalDel">Eliminar</button>
                            </div>
                          {{/if}}
                          <div class="input-group col-xs-12">
                            <div class="panel panel-info" id="{{_id}}">
                              <div class="panel-heading">Tareas</div>
                              <div class="panel-body panelChal">
                                {{#each chalMissions _id}}
                                  <div class="input-group input-group-sm">
                                    <div class="input-group-addon">
                                      <span class="input-group-text">Tarea {{order}}</span>
                                    </div>
                                    <input id="cmd{{_id}}" type="text" class="form-control" {{teacher}} name="chalName" placeholder="Tarea" aria-label="Tarea" aria-describedby="basic-addon1" value="{{chalMissionDesc}}">
                                    <div class="input-group-addon">
                                      <span class="input-group-text">XP</span>
                                    </div>
                                    <input id="cmxp{{_id}}" type="text" class="form-control" {{teacher}} name="chalXP" placeholder="XP" aria-label="XP" aria-describedby="basic-addon1" value="{{chalMissionXP}}">
                                    {{#if isTeacher}}
                                      <div class="input-group-btn">
                                        <button class="btn btn-info chalMissionUpdate" type="button"><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span></button>
                                        <button class="btn btn-info chalMissionRub" type="button"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span></button>
                                        <button class="btn btn-info chalMissionGrades" type="button"><span class="glyphicon glyphicon-education" aria-hidden="true"></span></button>
                                        <button class="btn btn-info chalMissionUp" type="button"><span class="glyphicon glyphicon-circle-arrow-up" aria-hidden="true"></span></button>
                                        <button class="btn btn-info chalMissionDown" type="button"><span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span></button>
                                        <button class="btn btn-info chalMissionDel" type="button"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></button>
                                      </div>
                                      
                                    {{/if}}
                                  </div>
                                  <div class="oculto" id="rubrica{{_id}}">
                                    <div class="input-group col-xs-12">
                                      <label>Descripción</label>
                                      <textarea class="form-control descTask" id="desc{{_id}}" {{teacher}} rows="3">{{descTask}}</textarea>
                                    </div>
                                    <div id="studentsPoints">
                                      <label>Rúbrica</label>
                                      <div class="btn-group btn-group-toggle btn-group-justified" data-toggle="buttons">
                                        <label class="btn btn-info btn-emoticon">
                                          <img class="emoticon" src="https://res.cloudinary.com/myclassgame/image/upload/v1549277040/images/star_red.png"/>
                                          <textarea class="form-control rubricaText r1" {{teacher}} rows="3">{{r1}}</textarea>
                                        </label>
                                        <label class="btn btn-info btn-emoticon">
                                          <img class="emoticon" src="https://res.cloudinary.com/myclassgame/image/upload/v1549277039/images/star_orange.png"/>
                                          <textarea class="form-control rubricaText r2" {{teacher}} rows="3">{{r2}}</textarea>
                                        </label>
                                        <label class="btn btn-info btn-emoticon">
                                          <img class="emoticon" src="https://res.cloudinary.com/myclassgame/image/upload/v1549277040/images/star_yellow.png"/>
                                          <textarea class="form-control rubricaText r3" {{teacher}} rows="3">{{r3}}</textarea>
                                        </label>
                                        <label class="btn btn-info btn-emoticon">
                                          <img class="emoticon" src="https://res.cloudinary.com/myclassgame/image/upload/v1549277040/images/star_white.png"/>
                                          <textarea class="form-control rubricaText r4" {{teacher}} rows="3">{{r4}}</textarea>
                                        </label>
                                        <label class="btn btn-info btn-emoticon">
                                          <img class="emoticon" src="https://res.cloudinary.com/myclassgame/image/upload/v1549277083/images/star_blue.png"/>
                                          <textarea class="form-control rubricaText r5" {{teacher}} rows="3">{{r5}}</textarea>
                                        </label>
                                        <label class="btn btn-info btn-emoticon">
                                          <img class="emoticon" src="https://res.cloudinary.com/myclassgame/image/upload/v1549277035/images/star_green.png"/>
                                          <textarea class="form-control rubricaText r6" {{teacher}} rows="3">{{r6}}</textarea>
                                        </label>
                                      </div>
                                      <div class="input-group col-xs-12">
                                        <button class="btn btn-info drive" {{teacher}}>Seleccionar fichero Drive</button>
                                        <a class="btn btn-info" href="https://drive.google.com/open?id={{drive}}" target="_blank" {{teacher}}>Ver fichero</a>
                                      </div>
                                    </div>  
                                  </div>
                                {{/each}}
                              </div>
                              {{#if isTeacher}}
                                <div class="panel-footer">
                                  <div class="input-group">
                                    <div class="input-group-addon">
                                      <span class="input-group-text">Nueva</span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Tarea" id="chalMissionDesc{{_id}}">
                                    <div class="input-group-addon">
                                      <span class="input-group-text"></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="XP" id="chalMissionXP{{_id}}">
                                    <div class="input-group-btn">
                                      <button class="btn btn-info chalSave" id="{{_id}}" type="button"><span class="glyphicon glyphicon-ok-circle chalSave" aria-hidden="true"></span></button>
                                    </div>
                                  </div>
                                </div>  
                              {{/if}}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                {{/each}}
              </div>
            </div>
            {{#if isTeacher}}
              <form>
                <div class="form-group">
                  <label class="control-label" for="inputGroupSuccess1">Crear misión</label>
                  
                  <!--
                  <div class="input-group mb-3">
                    <div class="input-group-addon">
                      <span class="input-group-text">Misión o Reto</span>
                    </div> 
                    <select class="custom-select form-control" id="selectMoC" name="MoC">
                      <option value="Misión">Misión</option>
                      <option value="Reto">Reto</option>
                    </select>
                  </div>
                  -->
                  
                  <div class="input-group  mb-3">
                    <div class="input-group-addon">
                      <span class="input-group-text" id="basic-addon1">Nombre</span>
                    </div>
                    <input type="text" class="form-control" name="chalName" placeholder="Nombre de la misión" aria-label="Nombre del reto" aria-describedby="basic-addon1">
                  </div>
                  
                  <div class="input-group mb-3">
                    <div class="input-group-addon">
                      <span class="input-group-text" id="basic-addon2">Descripción</span>
                    </div> 
                    <input type="text" class="form-control" name="chalDesc" placeholder="Descripción de la misión" aria-label="Descripción del reto" aria-describedby="basic-addon2">
                  </div>
                  
                  <div class="input-group mb-3">
                    <div class="input-group-addon">
                      <span class="input-group-text">Tipo</span>
                    </div> 
                    <select class="custom-select form-control" id="selectIoG" name="IoG">
                      <option value="Grupal">Grupal</option>
                      <option value="Individual">Individual</option>
                    </select>
                  </div>
                  
                  <div class="input-group mb-3">
                    <input type="checkbox" id="notebookCheck" name="notebookCheck" checked={{notebookDependence}}>
                    <label class="control-label" for="notebookCheck"> Notas dependen del cuaderno de grupo</label>
                  </div>
                  
                  <div class="input-group mb-3">
                    <input type="submit" id="btn-save" value="Crear" class="btn btn-info">
                  </div>
                </div>
              </form>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
 
  </div>
</template>

<template name="deleteMission">
  <div class="modal" id="add_class_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form id="add_class_form">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="exampleModalLabel">Borrar misión</h4>
          </div>
          <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4">Borrar misión</h1>
              <p class="lead">¿Estás seguro de borrar la misión?</p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <input type="submit" class="btn btn-primary" value="Borrar">
          </div>
        </form>
      </div>
    </div>
  </div>
</template>