<template name="missiongrid">
    <div class="grid">
        <ul id="hexGrid">
            {{#each challenge}}
                {{#each chalMissions _id}}
                    <li class="hex">
                        <div class="hexIn">
                          <a class="hexLink" href="#">
                            <div class='img' style='background-image:url(https://images.unsplash.com/photo-1417436026361-a033044d901f?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;w=1080&amp;fit=max&amp;s=faa4e192f33e0d6b7ce0e54f15140e42);'></div>
                            <h1 id="demo1">{{chalMissionDesc}}</h1>
                            <p id="demo2">{{chalMissionXP}}</p>
                          </a>
                        </div>
                    </li>
                {{/each}}
            {{/each}}
        </ul>
    </div>
</template>