<template name="notes">
  <div class="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div id="group_form">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="GroupModalLabel">Introducir Notas {{sog}}</h4>
          </div>
          <div class="modal-body">
          {{#if mision}}
            {{#each groups}}
              <div class="input-group col-xs-12">
                  <h4>{{groupName}}</h4>
                  <div id="studentsPoints">
                    <div class="btn-group btn-group-toggle btn-group-justified" data-toggle="buttons">
                      <label class="btn btn-info btn-emoticon">
                        <img class="emoticon" src="https://res.cloudinary.com/myclassgame/image/upload/v1549277040/images/star_red.png"/>
                      </label>
                      <label class="btn btn-info btn-emoticon">
                        <img class="emoticon" src="https://res.cloudinary.com/myclassgame/image/upload/v1549277039/images/star_orange.png"/>
                      </label>
                      <label class="btn btn-info btn-emoticon">
                        <img class="emoticon" src="https://res.cloudinary.com/myclassgame/image/upload/v1549277040/images/star_yellow.png"/>
                      </label>
                      <label class="btn btn-info btn-emoticon">
                        <img class="emoticon" src="https://res.cloudinary.com/myclassgame/image/upload/v1549277040/images/star_white.png"/>
                      </label>
                      <label class="btn btn-info btn-emoticon">
                        <img class="emoticon" src="https://res.cloudinary.com/myclassgame/image/upload/v1549277083/images/star_blue.png"/>
                      </label>
                      <label class="btn btn-info btn-emoticon">
                        <img class="emoticon" src="https://res.cloudinary.com/myclassgame/image/upload/v1549277035/images/star_green.png"/>
                      </label>
                    </div>
                  </div>
              </div>
            {{/each}}
          {{else}}
            {{#each students}}
              <div class="input-group col-xs-12">
                  <h4>{{studentName}}</h4>
                  <div id="studentsPoints">
                    <div class="btn-group btn-group-toggle btn-group-justified" data-toggle="buttons">
                      <label class="btn btn-info btn-emoticon">
                        <img class="emoticon" src="https://res.cloudinary.com/myclassgame/image/upload/v1549277040/images/star_red.png"/>
                      </label>
                      <label class="btn btn-info btn-emoticon">
                        <img class="emoticon" src="https://res.cloudinary.com/myclassgame/image/upload/v1549277039/images/star_orange.png"/>
                      </label>
                      <label class="btn btn-info btn-emoticon">
                        <img class="emoticon" src="https://res.cloudinary.com/myclassgame/image/upload/v1549277040/images/star_yellow.png"/>
                      </label>
                      <label class="btn btn-info btn-emoticon">
                        <img class="emoticon" src="https://res.cloudinary.com/myclassgame/image/upload/v1549277040/images/star_white.png"/>
                      </label>
                      <label class="btn btn-info btn-emoticon">
                        <img class="emoticon" src="https://res.cloudinary.com/myclassgame/image/upload/v1549277083/images/star_blue.png"/>
                      </label>
                      <label class="btn btn-info btn-emoticon">
                        <img class="emoticon" src="https://res.cloudinary.com/myclassgame/image/upload/v1549277035/images/star_green.png"/>
                      </label>
                    </div>
                  </div>
              </div>
            {{/each}}
          {{/if}}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default">Cerrar</button>
            <input type="submit" id="notesSubmit" class="btn btn-primary" value="{{_ "save"}}">
          </div>
        </div>
      </div>
    </div>
  </div>
</template>