<template name="imagesTemplate">
  <div class="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div id="group_form">
          <div class="modal-header">
            <h4 class="modal-title" id="GroupModalLabel">Imagenes</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <!--
              {{#each images}}
                <div class="col-container col-sm-2">
                  <div class="thumbnail {{checkedImage _id}}">
                    <div class="input-group">
                        <img src="{{image_url}}" id="{{_id}}" class="img-thumbnail"/>
                    </div>
                    <div class="input-group">
                      <input type="radio" value="{{_id}}" name="imageId" {{checkedImage _id}} hidden/>
                      <button type="button" class="btn btn-warning deleteImage">Eliminar</button>
                    </div>
                  </div>
                </div>
              {{/each}}

              {{#each images}}
                <figure class="card_image card__white {{checkedImage _id}}">
                  <div class="card__image-container_image" >
                    <img src="{{image_url}}">
                  </div>
                  <figcaption class="card__caption text-center">
                    <input type="radio" value="{{_id}}" name="imageId" {{checkedImage _id}} hidden/>
                    <button class="btn btn-warning deleteImage">Eliminar</button>
                  </figcaption>
                </figure>
              {{/each}}
              -->
              {{#each images}}
                <figure class="card_image snip1519 {{checkedImage _id}}">
                  <figcaption class="card__caption text-center"><img src="{{image_url}}" />
                    <input type="radio" value="{{_id}}" name="imageId" {{checkedImage _id}} hidden/>
                    <a href="#" class="button deleteImage">Eliminar</a>
                  </figcaption>
                </figure>
              {{/each}}
            </div>
            <br />
            <button class="btn btn-info cloudinary" name="cloudinary" {{inputDisabled}}>Subir imágenes</button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default">Cerrar</button>
            <input type="submit" class="btn btn-primary selectImage" value="Seleccionar">
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
