@import url('https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300,700');
figure {
  font-family: "Open Sans", Helvetica, sans-serif;
  text-align: center;
  margin: 20px;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5) !important;
  -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5) !important;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5) !important;
  border:0px solid yellow;
  transition: ease 0.3s;

}

figure:hover {
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 1) !important;
  -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 1) !important;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 1) !important;
  transform: scale(1.01); /*scale(-1, 1);*/
}

figure img {
  max-height: 180px;
  max-width:80%;
  margin: auto;
  display: inline-block;
}


.card__image {
    padding: 8% 0;
    opacity: 0.8;
    transition: transform 0.6s;
}

.card__image:hover {
  opacity: 1;
  -webkit-filter: drop-shadow(5px 5px 5px #aaa );
  filter: drop-shadow(0px 0px 5px #777);
  cursor: pointer;
  transform: scale(1.15);
  transform: scale(1.2);
}

.card__image2:hover {
  -webkit-filter: drop-shadow(5px 5px 5px #222 );
  filter: drop-shadow(3px 3px 5px #222);
  cursor: pointer;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  font-weight: 400;
}

.card, .card-turned {
  display: inline-block;
  width: 300px;
  padding: 15px;
  border-radius: 10px;
  margin: 5px;
  background: #ddd;
  text-align: left;
}

.card.selected {
  border: 4px solid GreenYellow;
  padding: 10px;
}

.card_image {
  display: inline-block;
  width: 200px;
  padding: 1em;
  border-radius: 15px;
  margin: 5px;
  background: #ddd;
  text-align: left;
}

.cardType {
  display: inline-block;
  width: 170px;
  padding: 1em;
  border-radius: 15px;
  margin: 5px;
  background: #ddd;
  text-align: left;
}

.card__caption {
    background-color: rgba(255,255,255, 0.65);
    padding: 0.5em;
    position: relative;
    border-radius: 0 0 3px 3px;
    color:#666666;
  }

.card__image-container {
    background-color: rgba(0,0,0, 0.3) !important;
    text-align: center;
    padding: 4% 0;
    border-radius: 3px 3px 0 0;
    height: 200px;
    position: relative;
    border-top:5px solid rgba(255,255,255, 0);
}

.card__image-containerType {
    background-color: rgba(0,0,0, 0.3) !important;
    text-align: center;
    padding: 4% 0;
    border-radius: 3px 3px 0 0;
    height: 75px;
    position: relative;
}

.card__image_type{
    height: 75px;
}

.card__image-container_image {
    background-color: white !important;
    text-align: center;
    padding: 4% 0;
    border-radius: 3px 3px 0 0;
    height: 200px;
    position: relative;
  }

.card__type {
    position: absolute;
    top: 0;
    right: 0.5em;
    transform: translateY(-120%);
    color: #ffffff;
    text-transform: uppercase;
    font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
    letter-spacing: 0.1em;
    padding: 0.25em;
    line-height: 1;
    border-radius: 2px;
    background: #bbbbbb;
  }

.studentTeam {
    position: absolute;
    top: 0;
    left: 0.5em;
    transform: translateY(-120%);
    color: #0079ac;
    text-transform: uppercase;
    font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
    letter-spacing: 0.1em;
    padding: 0.25em;
    line-height: 1;
    border-radius: 2px;
    background: #bbbbbb;
}

.medal{
    position: absolute;
    top: -1px;
    right:-14px;
    transform: translateY(0%);
    padding: 0;
    width:80px;
    -webkit-filter: drop-shadow(5px 5px 5px #222 );
    filter: drop-shadow(3px 3px 5px #222);
}

.studentTeam:hover {
  cursor: pointer;
  text-shadow: 1px 1px 1px #888888;
}

.cardLogo {
    position: absolute;
    top: 5px;
    left: 5px;
    width:25px;
}

.cardMessages {
    position: absolute;
    top: 5px;
    right: 5px;
    width:25px;
    background-color: #00ff00 !important;
}

.cardStored {
    position: absolute;
    top: 5px;
    right: 32px;
    width:29px;
}

.cardUserType {
    position: absolute;
    top: 5px;
    right: 5px;
    width:25px;
}

.cardSelected, .studentPresent, .studentAbsent{
    position: absolute;
    top: -24px;
    right: 2px;
    color:white;
}

.studentPresent, .studentAbsent{
    position: absolute;
    top: -10px;
    left: 0px;
    color:white;
    width:35%;
    margin:auto;
    font-size: 1em !important;

}

.card__label {
    font-size: 1vmax;
    text-transform: uppercase;
    font-weight: 400;
    display: block;
    margin-bottom: 3px;
  }


.card__name {
    font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
    text-align: center;
    font-size: 3vh;
    font-weight: 700;
    letter-spacing: 0.02em;
    margin-top:10px;
}

.card__stats {
    width: 100%;
}
.card__stats th {
      font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
      text-align: right;
      width: 50%;
      padding: 0;
      font-size: 2.5vh;
    }
.card__stats span:hover,.card__name:hover {
      color: yellow;
      cursor: pointer;
      text-shadow: 1px 1px 1px #888888;
    }

.card__stats td {
      font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
      text-align: left;
      width: 50%;
      padding: 0em 0.5em 0;
      font-size: 2.5vh;
      color: gray;
      font-weight: bold;
    }

.cardLine {
    height:1px;
    margin:10px 0px;
    background-color: rgba(255,255,255, 0.65);
}

.cardIcons {
    margin:auto;
}

.cardIcons li{
    margin: 20px;
    display: inline;
}

.cardIcons img{
    width:20px;
}

.cardIcons img:hover{
  -webkit-filter: drop-shadow(5px 5px 5px #222 );
  filter: drop-shadow(3px 3px 5px #222);
  cursor: pointer;
}

.card__abilities {
    display: flex;
    justify-content: space-between;
  }

.card__ability {
    flex: 1 0;
  }


.card--normal {
    background: linear-gradient(110deg, #FDBB2D 0%, #3A1C71 100%);
    box-shadow: 0px 5px 20px -10px #3A1C71;
}
.card--normal .card__type {
      background-color: #C08A53;
}

.card__water {
  background: linear-gradient(120deg, #1CB5E0 0%, #000851 100%);
    box-shadow: 0px 5px 20px -10px #000851;
}
.card__water .card__type {
      background-color: #1CB5E0;
}

.card__water .studentTeam {
      background-color:#EAF7FF;
}

.card--electric {

    background: linear-gradient(90deg, rgba(255,222,0,1) 34%, rgba(232,255,153,1) 83%);
}
.card--electric .card__type {
      background-color: #000;
    }

.card__fire {
    background: linear-gradient(0deg, rgba(199,24,0,1) 10%, rgba(252,194,69,1) 100%);
}
.card--fire .card__type {
      background-color: rgba(199,24,0,1);
    }

.card--psychic {

    background: linear-gradient(140deg, rgba(255,167,249,1) 0%, rgba(255,44,195,1) 39%, rgba(255,227,167,1) 100%);
}
.card--psychic .card__type {
      background: #ff2cc3;
    }


.card--dark {
    background: linear-gradient(20deg, rgba(25,25,25,1) 0%, rgba(16,11,50,1) 33%, rgba(92,2,73,1) 100%);
}
.card--dark .card__type {
      background: #5c0249;
    }
.card--grass {
    background: linear-gradient(140deg, rgba(196,218,61,1) 0%, rgba(110,127,14,1) 69%, rgba(39,80,9,1) 100%);
}
.card--grass .card__type {
      background: #6e7f0e;
    }

.card__ice {
    background: linear-gradient(230deg, rgba(202,234,246,1) 0%, rgba(160,234,241,1) 46%, rgba(111,184,235,1) 100%);
}
.card__ice .card__type {
      background: #6fb8eb;
    }

.card--fairy {
    background: linear-gradient(45deg, rgba(255,230,240,1) 0%, rgba(255,197,224,1) 34%, rgba(255,166,185,1) 71%, rgba(255,138,149,1) 100%);
}
.card--fairy .card__type {
    background: #ff8a95;
}

.card__blue {
    background: linear-gradient(90deg, rgba( 36, 113, 163,1) 34%, rgba( 174, 214, 241 ,1) 83%);
}
.card__blue .card__type {
    background: #ff8a95;
}

.card--white {
    background: white;
}
.card__blue .card__type {
    background: #ff8a95;
}

@media print {
  @page {
    size: A4;
    orientation: portrait;
  }
  * {
    display:inline;
  }
  script, style {
      display:none;
  }
  .card {
    margin:0;
    height:23vh;
    width:32vw;
    page-break-inside: avoid;
    margin-bottom:1.4vh;
  }
  .card__image {
    width: 50%;
  }
  .card__image-container {
    height: 75%;
  }
}
