#leftPanel{
    position:relative;
    background-color:rgb(209, 235, 252,0.6) !important;
    color:#fff;
    text-align: center;
    padding: 3% 0;
}

#rightPanel{
    min-height:415px;
    background-color:rgb(234, 247, 255,.6) !important;
}

.cardProfile{

}
/* Credit to bootsnipp.com for the css for the color graph */
.colorgraph {
  height: 1px;
  border-top: 0;
  background: #0079ac;
  border-radius: 5px;
}
