:root {
  --color-white: #FEFFEA;
  --color-blue: #4298F0;
}

/* Page UI Grid Settings */
.profile {
  background-size: cover;
  background-repeat: no-repeat;

  overflow: hidden;
}

.mobilePanel .well {
  text-align: center;
}

.studentBody .form-group {
  background-color:rgba(0,0,0,.2) !important;
}

.studentInfo h2{
  margin-top:-2vh;
  color:rgba(0,0,0,.7) !important;
  font-size: 4vh;
  font-weight: bold;
  letter-spacing: .3em;
}

.studentInfo h4{
  margin-top:-1vh;
  color:rgba(0,0,0,.4) !important;
  font-size: 1vh;
  text-transform: none;
  margin-bottom:1vh;
}

.studentInventory .card {
  transform: scale(1);
}

@media (min-width: 1040px) {
  .studentProfile {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr 100px;
    grid-template-areas:
      "header header"
      "main1 main2"
      "footer footer";
  }
}


.nav-profile{
  background-color: rgba(0,0,0,.7) !important;
  border: 1px solid gray !important;
  margin-bottom: 10px !important;
}

.opacityProfile {
  background-color: rgba(0,0,0,0.6) !important;
  overflow:hidden;
  min-height: 100vh;
}

.nav-profile li{
  text-align: center;
}

.nav-profile span {
  color:white;
  font-size: .8em;
}

.nav-profile li.active a{
  outline: 2px solid grey;
  outline-offset: -5px;
  background-color: rgba(0,0,0,.6) !important;
  border:1px solid rgba(0,0,0,.6) !important;
}

.nav-profile .aProfile:hover,
.nav-profile .aProfile:focus {
  outline: 2px solid grey;
  outline-offset: -5px;
  background-color: rgba(0,0,0,.6) !important;
  border:1px solid rgba(0,0,0,.6) !important;
}

.studentInventory .list-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, 180px);
  grid-gap: 10px;
  list-style: none;
}

.studentInventory .list-item {
  width: 180px;
  height: 180px;
  outline: 2px solid grey;
  outline-offset: -5px;
  background-color: rgba(0, 0, 0, .7);
  position: relative;
  box-sizing: border-box;
  font-weight: bold;
  transition: transform 0.5s;
}

.studentInventory .list-item:not(.addBtn):hover {
  transform: scale(1.02);
  background-color: rgba(0, 0, 0, 1);
  z-index: 1;
}

.studentInventory .list-item:not(.addBtn):hover .item-image {
  position: absolute;
  top: 50%;
  left: 50%;

}

.studentInventory .list-item:hover .item-image img{
  display: block;
  transform: scale(1.4);
}

.studentInventory .list-item .power-icon {
  position: absolute;
  left: -5px;
  top: -15px;
  border-radius: 6px;
  padding: .5rem 1rem;
  background-color: #4298F0;
  color: white;
  z-index:1;
}

.studentInventory .list-item .stock-icon {
  position: absolute;
  right: -2px;
  top: -2px;
  border-radius: 6px;
  padding: .5rem 1rem;
  background-color: gold;
  color: blue;
  z-index:1;
}

.studentInventory .list-item .removeBtn, .studentInventory .list-item .removeBadgeBtn, .studentInventory .list-item .removeCardBtn {
  color:white;
  background-color: rgba(255, 0, 0, .8);
  vertical-align: middle;
}

.studentInventory .list-item .removeBtn span {

}

.studentInventory .list-item .item-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.studentInventory .list-item .item-image img{
  display: block;
  width: 100%;
  transition: transform 0.5s;
  transform: scale(1.3);
  z-index:1;
}

.studentInventory .item-strength {
  position: absolute;
  right: -2px;
  bottom: -2px;
  border-radius: 6px;
  padding: .5rem 1rem;
  outline: 1px solid grey;
  outline-offset: -6px;
  background-color: green;
  color: white;
}

.studentInventory .card-btns {
  position: absolute;
  left: 0;
  top: 60px;
  border-radius: 0 10px 10px 0;
  padding: .1rem 1rem;
  background-color: red;
  color: white;
  font-size:1.3em !important;
  opacity:.6;
  transition: all .5s;
}

.studentInventory .card-btns:hover {
  transform:scale(1.1);
  opacity:1;
}

.studentInventory .waitingCard, .studentInventory .waitingItem {
  background-color: orange;
}

.studentInventory .useCard, .studentInventory .useItem{
  background-color: lightgreen;
}

.studentInventory .difuminar{
  opacity:0.5;
}

.studentInventory .addBtn .glyphicon {
  font-size: 7rem !important;
}

.studentProfile .stamina-gauge {
  grid-row-start: 2;
}

.studentProfile .temperature-gauge {
  grid-row-start: 3;
}

.studentProfile .character-info {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: repeat(8, 1fr);
}

.studentProfile .character-image {
  left: 15%;
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: span 8;
  max-width: 600px;
  text-align: right;
  margin-right: 0;
  filter: brightness(.9);
}

.studentProfile .selected-item-info {
  display: flex;
  align-items: stretch;
  margin: .5rem 0;
  border: .2rem solid rgba(0,0,0,.8);
  border-radius: 10px;

  grid-column-start: 2;
  grid-row-start: 6;
  grid-row-end: span 7;
  background-color: rgba(0,0,0,.8);
}

.studentProfile .selected-item-info::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 99%;
  height: 98%;
  border: .1rem solid grey;
  border-radius: 8px;
}

.studentProfile .selected-item-info .section-wrapper {
  display: grid;
  grid-template-columns: 100px 100px 1fr;
  grid-template-rows: 75px 75px 1fr;
  grid-template-areas:
    "title title ."
    "icon  stat  power"
    "description description description";
  padding: 1rem;
  margin: 0.25rem 0 .25rem 4px;
}

.studentProfile .selected-item-info .item-title {
  grid-area: title;
  align-self: center;
  font-size: 1.4rem;
  border-bottom: .1rem solid var(--color-white);
  padding-bottom: .5rem;
}

.studentProfile .selected-item-info .item-icon {
  grid-area: icon;
}

.studentProfile .selected-item-info .item-strength {
  grid-area: stat;
}

.studentProfile .selected-item-info .item-power {
  grid-area: power;
}

.studentProfile .selected-item-info .item-description {
  grid-area: description;
}
.studentProfile .section-wrapper {
  border-left: 5px solid var(--color-blue);
}

.studentProfile .item-icon {
  width: 30px;
  height: 30px;
}

.studentProfile .item-icon img {
  width: 30px;
  height: 30px;
}

/* Footer */
.studentProfile .footer2 {
  display: flex;
  justify-content: flex-end;
  grid-area: footer;
  background-color: rgba(0, 0, 0, .5);
}

.studentProfile .footer2 .icon-wrapper {
  margin-right: 4rem;
  align-self: center;
}

.studentProfile .footer-item {
  margin-right: 1rem;
}

.studentProfile .footer-icon {
  display: inline-block;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  padding-top: .125rem;
  padding-left: .3rem;
  font-weight: bold;
  color: #000;
  background-color: var(--color-white);
}

#studentTab h2 {
  display: inline;
}

#studentTab .copyCodeBtn{
  font-size: .7em !important;
}

.studentHasntBadge,.studentHasntChrome {
  opacity: 0.2;
  transition: all 0.5s;
}

.studentHasntBadge:hover, .studentHasntChrome:hover{
  opacity: 0.5;
}

.studentProfile .list-item .itemData{
  position: absolute;
  top: 50%;
  left: 50%;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  width: 180px;
  height: 180px;


  position: relative;

  font-weight: bold;
  transition: transform 0.5s;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  outline: 2px solid grey;
  outline-offset: -5px;
  background-color: rgba(0, 0, 0, .5);
  transform-style: preserve-3d;
}

.flip-card-inner-stock {
  outline: 2px solid white;
  outline-offset: -5px;
  background-color: rgba(0, 0, 0, .8);
}

.flip-card .item-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.flip-card .item-image img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.5s;
  filter: drop-shadow(5px 5px 5px #000);
}

.flip-card:hover {
  transform: scale(1.02);

}

.flip-card:hover .flip-card-inner{
  background-color: black;
}

.flip-card:not(.addBtn):hover .item-image {
  position: absolute;
  top: 50%;
  left: 50%;
}

.flip-card:hover .item-image img{
  display: block;
  transform: scale(1.1);
}

/* Do an horizontal flip when you move the mouse over the flip box container */
/* .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
} */

.flip-card-inner-rotated {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  transform: rotateY(0deg);
}

.flip-card-back {

}

.flip-card-front:hover {
  background-color: black;
  outline: 2px solid grey;
  outline-offset: -5px;
}

/* Style the back side */
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  outline: 2px solid grey;
  outline-offset: -5px;
  background-color: black;
  color: white;
  transform: rotateY(180deg);
}

.flip-card-back-img {
  position:absolute;
  width: 80%;
  height: 80%;
  object-fit: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  opacity:0.25;
}

.flip-card-back-text {
  position:absolute;
  width:80%;
  top: 44%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  /* background: rgba(35, 195, 238, .1);
  border-radius: 10px;
  padding:10px; */
}

.flip-card-back-text *{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.flip-card-back a{
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 5px;
  line-height: 18px;
  border-radius: 5px;
}

.flip-card-back a:hover {
  color: #450300;
  background: rgba(255, 255, 255, .3);
  transition: 0.25s ease-in-out;
}

.flip-card-number {
  font-size: 1.4em;
  padding: 0 3px;
}

.flip-card-back-buttons {
  position:absolute;
  bottom:7px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(35, 195, 238 ,0.5);
  border-radius: 5px;
  padding:0;
}

.flip-card-front-name {
  position:absolute;
  bottom:10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb( 35, 195, 238 ,0.5);
  border-radius: 5px;
  color:white;
  width:80%;
  font-size: 1.2em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0px 5px;
}

.flip-card-turn {
  position:absolute;
  top:3px;
  right:-10px;
  transform: translateX(-50%);
}

.flip-card-stock {
  position:absolute;
  top:3px;
  right:10px;
  font-size: 1.4em;
  color: white;
}

.flip-card-level {
  position:absolute;
  top:0;
  left:10px;
  font-size: 1.4em;
  color: white;
  background-color: rgba(  29, 153, 178 , 0.8);
  padding:0px 8px;
  margin:0;
  border-radius: 0 0 5px 5px;
}

.btn-group-badges label{
  font-size: 0.4em !important;
  vertical-align: middle;
}

.flip-card-back-text .flip-card-name {
  font-size: 1.7em !important;
  font-weight: bold;
}

.flip-card-back-text .flip-card-XP {
  font-size: 1em !important;
  font-weight: bold;
  background-color: rgb( 0, 255, 255 ,0.5);
  border-radius: 5px;
  width: 50%;
  margin: auto;
  padding: 3px;
}

.flip-card-back-text .flip-card-desc {
  font-size: 1.2em !important;
  font-weight: normal;
}
