:root {
  --color-white: #FEFFEA;
  --color-blue: #4298F0;
}

/* Page UI Grid Settings */
.studentHeader {
  background-size: cover;
  background-repeat: no-repeat;
  margin:-20px -30px 20px -30px;
  overflow: hidden;
}

.studentInventory .row {
  justify-content: center;
}

.studentBody .form-group {
  background-color:rgba(0,0,0,.2) !important;
}

.studentInfo h2{
  margin-top:-4vh;
  color:rgba(0,0,0,.7) !important;
  font-size: 5vh;
  font-weight: bold;
  letter-spacing: .3em
}

.studentInfo h4{
  margin-top:-1vh;
  color:rgba(0,0,0,.4) !important;
  font-size: 1vh;
  text-transform: none;
  margin-bottom:1vh;
}

.studentInventory .card {
  margin-top:-5vh;
  transform: scale(1);
}

@media (min-width: 1040px) {
  .studentProfile {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr 100px;
    grid-template-areas:
      "header header"
      "main1 main2"
      "footer footer";
  }
}


.nav-profile{
  background-color: rgba(0,0,0,.7) !important;
}

.opacityProfile {
  background-color: rgba(0,0,0,0.4) !important;
  overflow:hidden;
  min-height: 100vh;
}

.nav-profile li{
  text-align: center;
}

.nav-profile span {
  color:white;
  font-size: .8em;
}

.nav-profile li.active a{
  outline: 2px solid grey;
  outline-offset: -5px;
  background-color: rgba(0,0,0,.6) !important;
  border:1px solid rgba(0,0,0,.6) !important;
}

.nav-profile .aProfile:hover,
.nav-profile .aProfile:focus {
  outline: 2px solid grey;
  outline-offset: -5px;
  background-color: rgba(0,0,0,.6) !important;
  border:1px solid rgba(0,0,0,.6) !important;
}

.studentInventory .list-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, 150px);
  grid-gap: 10px;
  list-style: none;
}

.studentInventory .list-item {
  width: 150px;
  height: 150px;
  outline: 2px solid grey;
  outline-offset: -5px;
  background-color: rgba(0, 0, 0, .7);
  position: relative;
  box-sizing: border-box;
  font-weight: bold;
  transition: transform 0.1s;
}

.studentInventory .list-item:not(.addBtn):hover {
  transform: scale(2);
  background-color: rgba(0, 0, 0, 1);
  z-index: 1000;
}  

.studentInventory .list-item:not(.addBtn):hover .item-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-64%) translateY(-50%);
}

.studentInventory .list-item:hover .item-image img{
  display: block;
  width: 130%;
}

.studentInventory .list-item .power-icon {
  position: absolute;
  left: -5px;
  top: -15px;
  border-radius: 6px;
  padding: .5rem 1rem;
  background-color: #4298F0;
  color: white;
  z-index:1;
}

.studentInventory .list-item .stock-icon {
  position: absolute;
  right: -2px;
  top: -2px;
  border-radius: 6px;
  padding: .5rem 1rem;
  background-color: gold;
  color: blue;
  z-index:1;
}

.studentInventory .list-item .removeBtn {
  color:white;
  background-color: rgba(255, 0, 0, .8);
  vertical-align: middle;
}  

.studentInventory .list-item .removeBtn span {

}  

.studentInventory .list-item .item-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.studentInventory .list-item .item-image img{
  display: block;
  width: 100%;
}

.studentInventory .item-strength {
  position: absolute;
  right: -2px;
  bottom: -2px;
  border-radius: 6px;
  padding: .5rem 1rem;
  outline: 1px solid grey;
  outline-offset: -6px;
  background-color: green;
  color: white;
}

.studentInventory .card-btns {
  position: absolute;
  left: -2px;
  bottom: -2px;
  border-radius: 6px;
  padding: .5rem 1rem;
  background-color: red;
  color: white;
}

.studentInventory .waitingCard, .studentInventory .waitingItem {
  background-color: orange;
}

.studentInventory .useCard, .studentInventory .useItem{
  background-color: lightgreen;
}

.studentInventory .difuminar{
  opacity:0.5;
}

.studentInventory .addBtn .glyphicon {
  font-size: 7rem !important;
}

.studentProfile .stamina-gauge {
  grid-row-start: 2;
}

.studentProfile .temperature-gauge {
  grid-row-start: 3;
}

.studentProfile .character-info {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: repeat(8, 1fr);
}

.studentProfile .character-image {
  left: 15%;
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: span 8;
  max-width: 600px;
  text-align: right;
  margin-right: 0;
  filter: brightness(.9);
}

.studentProfile .selected-item-info {
  display: flex;
  align-items: stretch;
  margin: .5rem 0;
  border: .2rem solid rgba(0,0,0,.8);
  border-radius: 10px;

  grid-column-start: 2;
  grid-row-start: 6;
  grid-row-end: span 7;
  background-color: rgba(0,0,0,.8);
}

.studentProfile .selected-item-info::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 99%;
  height: 98%;
  border: .1rem solid grey;
  border-radius: 8px;
}

.studentProfile .selected-item-info .section-wrapper {
  display: grid;
  grid-template-columns: 100px 100px 1fr;
  grid-template-rows: 75px 75px 1fr;
  grid-template-areas:
    "title title ."
    "icon  stat  power"
    "description description description";
  padding: 1rem;
  margin: 0.25rem 0 .25rem 4px;
}

.studentProfile .selected-item-info .item-title {
  grid-area: title;
  align-self: center;
  font-size: 1.4rem;
  border-bottom: .1rem solid var(--color-white);
  padding-bottom: .5rem;
}

.studentProfile .selected-item-info .item-icon {
  grid-area: icon;
}

.studentProfile .selected-item-info .item-strength {
  grid-area: stat;
}

.studentProfile .selected-item-info .item-power {
  grid-area: power;
}

.studentProfile .selected-item-info .item-description {
  grid-area: description;
}
.studentProfile .section-wrapper {
  border-left: 5px solid var(--color-blue);
}

.studentProfile .item-icon {
  width: 30px;
  height: 30px;
}

.studentProfile .item-icon img {
  width: 30px;
  height: 30px;
}

/* Footer */
.studentProfile .footer2 {
  display: flex;
  justify-content: flex-end;
  grid-area: footer;
  background-color: rgba(0, 0, 0, .5);
}

.studentProfile .footer2 .icon-wrapper {
  margin-right: 4rem;
  align-self: center;
}

.studentProfile .footer-item {
  margin-right: 1rem;
}

.studentProfile .footer-icon {
  display: inline-block;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  padding-top: .125rem;
  padding-left: .3rem;
  font-weight: bold;
  color: #000;
  background-color: var(--color-white);
}
