<template name="badgesList">
  <div class="container">
    <div class="list-group">
    {{#each badgesList}}
          <div class="form-group form-inline">
            <div class="input-group col-xs-6">
              <span class="input-group-addon">Descripción</span>
              <input type="text" class="form-control inputGroup input-lg" name="{{_id}}" id="inputDesc" aria-describedby="inputGroupSuccess1Status" value="{{badgeDescription}}">
            </div>
            <div class="input-group col-xs-2">
              <span class="input-group-addon">XP</span>
              <input type="text" class="form-control inputGroup input-lg" name="{{_id}}" id="inputPoints"  aria-describedby="inputGroupSuccess1Status" value="{{points}}">
            </div>
            <div class="input-group col-xs-2">
              <span class="input-group-addon">Nivel</span>
              <input type="text" class="form-control inputGroup input-lg" name="{{_id}}" id="inputLevel"  aria-describedby="inputGroupSuccess1Status" value="{{level}}">
            </div>
            <div class="input-group col-xs-1">
              <button class="form-control input-lg bImage" id="{{_id}}"><img src="{{badge_src badgeImage}}" height="30px" /></button>
            </div>
          </div>
    {{/each}}
    </div>
    <form>
      <div class="form-group">
        <label class="control-label" for="inputGroupSuccess1">Nueva insignia</label>
        <div class="form-inline">
          <div class="input-group col-xs-6">
            <span class="input-group-addon">Descripción</span>
            <input type="text" class="form-control input-lg" name="badgeDescription" id="inputGroupSuccess1" aria-describedby="inputGroupSuccess1Status">
          </div>
          <div class="input-group col-xs-2">
            <span class="input-group-addon">XP</span>
            <input type="text" class="form-control input-lg" name="badgePoints" id="inputPoints" aria-describedby="inputGroupSuccess1Status" value=1>
          </div>
          <div class="input-group col-xs-2">
            <span class="input-group-addon">Nivel</span>
            <input type="text" class="form-control input-lg" name="badgeLevel" id="Level" aria-describedby="inputGroupSuccess1Status" value=1>
          </div>
          <div class="input-group col-xs-1">
            <button class="form-control input-lg bImage"><img height="30px" alt="Imagen" src="{{badge_src}}" /></button>
          </div>
          <input type="submit" id="btn-save" value="{{_ "save"}}" class="btn btn-success">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label" for="inputGroupSuccess1">Webs para crear insignias</label><br />
        <a class="btn btn-info" href="http://www.makebadg.es" target="_blank">Makebadges</a>
        <a class="btn btn-info" href="http://www.onlinebadgemaker.com/3d-badge-maker" target="_blank">OnlineBadgeMaker</a>
        <a class="btn btn-info" href="https://www.imagefu.com/create/badge" target="_blank">ImageFu</a>
        <a class="btn btn-info" href="https://www.openbadges.me/designer.html" target="_blank">OpenBadges</a>
      </div>
    </form>

  </div>
</template>
