<template name="badgesList">
  <div class="container">
    <div class="list-group">
    {{#each badgesList}}
          <div class="form-group has-feedback form-inline">
            <div class="input-group col-xs-8">
              <span class="input-group-addon">Description</span>
              <input type="text" class="form-control inputGroup input-lg" name="{{_id}}" id="inputDesc" aria-describedby="inputGroupSuccess1Status" value="{{badgeDescription}}">
            </div>
            <div class="input-group col-xs-3">
              <span class="input-group-addon">Points</span>
              <input type="text" class="form-control inputGroup input-lg" name="{{_id}}" id="inputPoints"  aria-describedby="inputGroupSuccess1Status" value="{{points}}">
            </div>
          </div>
    {{/each}}
    </div>
    <form>
      <div class="form-group has-feedback">
        <label class="control-label" for="inputGroupSuccess1">New badge</label>
        <div class="form-inline">
          <div class="input-group col-xs-8">
            <span class="input-group-addon">Description</span>
            <input type="text" class="form-control input-lg" name="badgeDescription" id="inputGroupSuccess1" aria-describedby="inputGroupSuccess1Status">
          </div>
          <div class="input-group col-xs-3">
            <span class="input-group-addon">Points</span>
            <input type="text" class="form-control input-lg" name="badgePoints" id="inputPoints" aria-describedby="inputGroupSuccess1Status">
          </div>
          <input type="submit" id="btn-save" value="Save" class="btn">
        </div>
      </div>
    </form>

  </div>
</template>
