.badgeCard {
  border: 2px solid #1CB5E0;
}

.badgeCard {
  height: 200px;
  background: linear-gradient(#000851,#1CB5E0);
}

.badgeCard .additional {
  background-color: #1CB5E0;
}

.badgeCard .additional .user-card {
  background: linear-gradient(120deg, #1CB5E0 0%, #000851 100%);
}

.badgeName, .badgeDesc {
  text-align: center;
	text-transform: none;
	font-size: 2em !important;
	width:90%;
	margin:10px auto;
	background-color: lightblue;
}

.badgeDesc {
  font-size: 1em !important;
}

.general .badgeName, .general .badgeDesc {
  border-style:none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none ;
	background-color: transparent;
	color: white;
	font-weight: bold;
  resize: none;
}

.badgeCard .input-group .input-group-addon{
  background-color: #000851 !important;
}

.badgeCard input, .badgeCard textarea, .badgeCard .input-group-addon {
  border: 1px solid #000851 !important;
}

.badgeCard .groupBtnCard{
  float: right !important;
}

.badgeCard .groupBtnCard *{
  background-color: #000851 !important;
  border: 1px solid #000851;
}
