.import_export .form-group input[type="checkbox"] {
    display: none;
}

.import_export .form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}

.import_export .form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}
.import_export .form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;
}

.import_export .form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}
.import_export .form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;
}

.import_export .btn-default {
  color: #268BD2 !important;
  background-color: #eeeeee !important;
}

.import_export {
  margin-bottom: 30px;
}

.import_export .btn-group {
  margin: 5px;
}
