<template name="parametersList">
  <div class="container-fluid">
    {{#with parametersClass}}
    <br />
    <form class="parametersList">
      


        <!-- <div class="form-group form-inline">
          <div class="input-group col-xs-2  text-center">
            <label class="control-label">{{_ 'studentImage'}}</label>
            <button class="form-control input-lg studentImage"><img src="{{sImage}}" height="100px" /></button>
          </div>
          <div class="input-group col-xs-2  text-center">
            <label class="control-label">{{_ 'teamImage'}}</label>
            <button class="form-control input-lg groupImage"><img src="{{gImage}}" height="100px" /></button>
          </div>
          <div class="input-group col-xs-2 text-center">
            <label class="control-label">{{_ 'backgroundImage'}}</label> <span class="glyphicon glyphicon-remove" id="delBackImage" style="color:black;"></span>
            <button class="form-conidtrol input-lg backImage" id="{{_id}}"><img src="{{bImage}}" height="100px" /></button>
          </div>

        </div> -->
        <div class="form-group">
          <!-- <label class="control-label">{{_ "images"}}</label> -->
          <legend  class="w-auto">{{_ "images"}}</legend>
          <div class="row">
            <div class="paramsImage studentImage">
              <div class="thumbnail">
                <h4 class="text-center">{{_ 'studentImage'}}</h4>
                <img src="{{sImage}}" style="padding:5%;">
              </div>
            </div>
            <div class="paramsImage groupImage">
              <div class="thumbnail">
                <h4 class="text-center">{{_ 'teamImage'}}</h4>
                <img src="{{gImage}}" style="padding:5%;">
              </div>
            </div>
            <div class="paramsImage backImage">
              <div class="thumbnail">
                <span class="glyphicon glyphicon-remove" id="delBackImage"></span>
                <h4 class="text-center">{{_ 'backgroundImage'}}</h4>
                <img src="{{bImage}}" style="padding:5%;">
              </div>
            </div>
          </div>
        </div>
        <!--
        <div class="form-group">
          <div class="input-group col-xs-11">
            <span class="input-group-addon">Imagen de estudiante</span>
            <input type="text" class="form-control input-lg" name="studentImg" value="{{studentImg}}" id="studentImg" aria-describedby="inputGroupSuccess1Status">
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
            <span id="inputGroupSuccess1Status" class="sr-only">(success)</span>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group col-xs-11">
            <span class="input-group-addon">Imagen de equipo</span>
            <input type="text" class="form-control input-lg" name="groupImg" value="{{groupImg}}" id="groupImg" aria-describedby="inputGroupSuccess1Status">
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
            <span id="inputGroupSuccess1Status" class="sr-only">(success)</span>
          </div>
        </div>
        -->

        <div class="form-group">
          <legend  class="w-auto">{{_ "parameters"}}</legend>

          <div class="input-group col-xs-11">
            <span class="input-group-addon">{{_ 'evaluation'}}</span>
            <select class="custom-select form-control input-lg" id="evaluacion" name="evaluacion">
              <option value="1" {{selEval "1"}}>1 {{_ 'evaluation'}}</option>
              <option value="2" {{selEval "2"}}>2 {{_ 'evaluation'}}</option>
              <option value="3" {{selEval "3"}}>3 {{_ 'evaluation'}}</option>
            </select>
          </div>

          <div class="input-group col-xs-11">
              <input type="checkbox" id="avatarVisible" {{ch avatarVisible}}>
              <label class="control-label" for="xpCheck"> {{_ 'seeAvatars'}}</label>
          </div>
          <div class="input-group col-xs-11">
              <input type="checkbox" id="onlyMyStudent" {{ch onlyMyStudent}}>
              <label class="control-label"> {{_ 'seeData'}}</label>
          </div>
          <div class="input-group col-xs-11">
              <input type="checkbox" id="CoinXP" {{ch CoinXP}}>
              <label class="">{{_ 'win'}}</label>
              <input class="text-center" type="text" name="CoinsRel" value="{{CoinsRel}}" id="CoinsRel" size="1">
              <label class="">{{_ 'coinsperXP'}}</label>
              <input class="text-center" type="text" name="XPsRel" value="{{XPsRel}}" id="XPsRel" size="1">
              <label class="">XP</label>
          </div>
          <div class="input-group col-xs-11">
              <input type="checkbox" id="chatVisible" {{ch chatVisible}}>
              <label class="control-label"> {{_ 'chat'}} Visible</label>
          </div>
          <div class="input-group col-xs-11">
              <input type="checkbox" id="medalsVisible" {{ch medalsVisible}}>
              <label class="control-label"> {{_ 'medals'}}</label>
          </div>
        </div>

        <!--
        <div class="form-group">
          <div class="input-group col-xs-11">
            <span class="input-group-addon">Imagen de fondo de la clase</span>
            <input type="text" class="form-control input-lg" name="backImg" value="{{backImg}}" id="backImg" aria-describedby="inputGroupSuccess1Status">
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
            <span id="inputGroupSuccess1Status" class="sr-only">(success)</span>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group col-xs-11">
            <span class="input-group-addon">{{_ 'coinsXP'}}</span>
            <input type="text" class="form-control input-lg" name="coinsXP" value="{{CoinXP}}" id="coinsXP" aria-describedby="inputGroupSuccess1Status">
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
            <span id="inputGroupSuccess1Status" class="sr-only">(success)</span>
          </div>
        </div>
        -->
        <div class="form-group">
          <div class="input-group col-xs-11">
            <span class="input-group-addon">{{_ 'initialHP'}}</span>
            <input type="text" class="form-control input-lg" name="iniHP" value="{{iniHP}}" id="iniHP" aria-describedby="inputGroupSuccess1Status">
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
            <span id="inputGroupSuccess1Status" class="sr-only">(success)</span>
          </div>
          <!--
          <div class="input-group col-xs-11">
            <span class="input-group-addon">{{_ 'XPWeight'}}</span>
            <input type="text" class="form-control input-lg" name="perXP" value="{{perXP}}" id="perXP" aria-describedby="inputGroupSuccess1Status">
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
            <span id="inputGroupSuccess1Status" class="sr-only">(success)</span>
          </div>

          <div class="input-group col-xs-11">
            <span class="input-group-addon">{{_ 'badgesWeight'}}</span>
            <input type="text" class="form-control input-lg" name="perBG" value="{{perBG}}" id="perBG" aria-describedby="inputGroupSuccess1Status">
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
            <span id="inputGroupSuccess1Status" class="sr-only">(success)</span>
          </div>

          <div class="input-group col-xs-11">
            <span class="input-group-addon">{{_ 'teamMissionsWeight'}}</span>
            <input type="text" class="form-control input-lg" name="perMissions" value="{{perMissions}}" id="perMissions" aria-describedby="inputGroupSuccess1Status">
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
            <span id="inputGroupSuccess1Status" class="sr-only">(success)</span>
          </div>

          <div class="input-group col-xs-11">
            <span class="input-group-addon">{{_ 'indMissionsWeight'}}</span>
            <input type="text" class="form-control input-lg" name="perChallenges" value="{{perChallenges}}" id="perChallenges" aria-describedby="inputGroupSuccess1Status">
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
            <span id="inputGroupSuccess1Status" class="sr-only">(success)</span>
          </div>

          <div class="input-group col-xs-11">
            <span class="input-group-addon">{{_ 'lostPointsxHP'}}</span>
            <input type="text" class="form-control input-lg" name="perHP" value="{{perHP}}" id="perHP" aria-describedby="inputGroupSuccess1Status">
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
            <span id="inputGroupSuccess1Status" class="sr-only">(success)</span>
          </div>

          <div class="input-group col-xs-11">
            <span class="input-group-addon">{{_ 'XPxHour'}}</span>
            <input type="text" class="form-control input-lg" name="hourXP" value="{{hourXP}}" id="hourXP" aria-describedby="inputGroupSuccess1Status">
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
            <span id="inputGroupSuccess1Status" class="sr-only">(success)</span>
          </div>
          -->
        </div>
        <br />
        <div class="form-group">
          <legend  class="w-auto">{{_ "myClassWords"}}</legend>

          <div class="input-group col-xs-11">
            <span class="input-group-addon">{{_ 'myXPName'}}</span>
            <input type="text" class="form-control input-lg" name="myXPName" value="{{myClassWords.myXPName}}" id="myXPName" aria-describedby="inputGroupSuccess1Status">
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
            <span id="inputGroupSuccess1Status" class="sr-only">(success)</span>
          </div>

          <div class="input-group col-xs-11">
            <span class="input-group-addon">{{_ 'myHPName'}}</span>
            <input type="text" class="form-control input-lg" name="myHPName" value="{{myClassWords.myHPName}}" id="myHPName" aria-describedby="inputGroupSuccess1Status">
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
            <span id="inputGroupSuccess1Status" class="sr-only">(success)</span>
          </div>

          <div class="input-group col-xs-11">
            <span class="input-group-addon">{{_ 'myMoneyName'}}</span>
            <input type="text" class="form-control input-lg" name="myMoneyName" value="{{myClassWords.myMoneyName}}" id="myMoneyName" aria-describedby="inputGroupSuccess1Status">
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
            <span id="inputGroupSuccess1Status" class="sr-only">(success)</span>
          </div>
        
        </div>
        <br />
        <div class="form-group parametersButtons">
          <legend  class="w-auto">{{_ "Reset"}}</legend>
          <div class="input-group mb-3">
            <input type="button" id="btn-reset" value="{{_ 'resetAll'}}" class="btn btn-info">    
            <input type="button" id="btn-resetXPHP" value="{{_ 'resetXP&HP'}}" class="btn btn-info">
          </div>
        </div>
      </form>
      <br /><br />
    {{/with}}
  </div>
</template>
