@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Caveat');


.grid-block, .main, .comments li, .comment-form {
  background: #fff;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

body {
  background: #eee;
  /*background-image: url("http://i.huffpost.com/gen/4393678/images/n-THE-MATRIX-628x314.jpg");*/
  color: #666666;
  padding-top: 111px;
  padding-bottom: 50px;
}

#main {
  position: relative;
  background: white;
  /*background-image: url("http://i.huffpost.com/gen/4393678/images/n-THE-MATRIX-628x314.jpg");
  border:1px solid #268BD2;*/
  background-attachment: fixed;
}

#fondo {
  position: absolute;
  z-index: -1 !important;   
  width: 100%;
  height: 100%;
  /*background-image: url('http://i.huffpost.com/gen/4393678/images/n-THE-MATRIX-628x314.jpg');*/
  background-size: cover;
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-attachment: fixed;
}

.navbar {
  margin-bottom: 10px; 
  height:110px;
  border-radius: 0px;
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
}

  /* line 32, ../sass/style.scss */
  
.navbar .navbar-inner {
    border-radius: 0px 0px 3px 3px;
}

#spinner {
  height: 300px; }


.jumbotron{
  color:#073642;
  text-align: center;
}
.jumbotron h2{
  font-size: 60px;
  font-weight: 100;
}

@-webkit-keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

.errors{
  position: fixed;
  z-index: 10000;
  padding: 10px;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  pointer-events: none;
}
.alert {
          animation: fadeOut 2700ms ease-in 0s 1 forwards;
  -webkit-animation: fadeOut 2700ms ease-in 0s 1 forwards;
     -moz-animation: fadeOut 2700ms ease-in 0s 1 forwards;
  width: 250px;
  float: right;
  clear: both;
  margin-bottom: 5px;
  pointer-events: auto;
}
.nav-pills {
  position: relative;
  background-color: #ddd;
  border: 1px solid lightgray;
  top: -20px;
}
.breadcrumb{
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 0px;
}

.breadcrumb a, .nav a {
  color: #268BD2 !important;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-decoration: none;
}
a:hover, a:link {
  text-decoration: none !important;
}

.jumbotron{
  background-color: white;
}
.myInput{
  width:90%;
}
.tab-content .tab-content{
  border:1px solid lightgray;
}
.caixa{
  vertical-align: middle;
  text-align: center;
  margin-top:10px;
}
.imatge {
  position: relative;
  float:left;
  width:65%;
}

.imatge:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.imatge img {
  position: absolute;
  left: 10%;
  object-fit: contain;
  -webkit-filter: drop-shadow(5px 5px 5px #222 );
  filter: drop-shadow(3px 3px 5px #222);
}

.foto{
  margin-top:20px;
  width:80%;
  height:80%;
}
.foto:hover, .fotog:hover, .fotoUserType:hover{
  cursor: pointer;
  opacity: 0.7;
}

.fotoUserType{
  margin-top:20px;
  width:80%;
  height:80%;
}

.fotog{
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  margin-top:20px;
  width:50%;
  height:50%;
}
.foto-hor{
  height:30px;
  padding:2px;
  float:left;
}
.userSelected{
  color:white;
  background-color: #0a0 !important;  
}
.userNotSelected{
  color:white;
  background-color: gray;  
}
.punts {
  float:right;
  width:33%;
  margin-right:5px;
}
.punts .list-group {

  background-color: transparent; 
}

.punts .list-group li{
  border: 1px solid transparent !important;
  margin: 2px;
}

.botons{
  clear:both;
}
.lista-item{
  background-color: lightgray;
}
.list-group-item{
  font-weight: bold;
}
.list-group-item:hover{
  background-color: lightgreen;
  color: blue;
}
.list-inline{
  width:100%;
}
.list-inline{
  text-align: left;
}
.list-inline-item button{
  width: 100px;
}
.form-control-lg{
  font-size: 200%;
}
.carousel-inner > .item > img {
      width: 50%;
      margin: auto;
}
.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color:white;
  text-align: center;
  z-index: 1000;
  background-color: #073642;
  -webkit-box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0-5px 5px rgba(0, 0, 0, 0.5);
  padding-top: 7px ;
}
.footer p{
  line-height: 6pt;
}

.footer a{
  text-decoration: none;
  color:white;
}

.footer a:hover{
  text-decoration: none;
  color:lightblue;
}

label {
  color:white;
}
.submenu {
  padding: 5px;
  background-color: #268BD2;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.submenu label{
  color: white;
}

.btn-group {
  margin:2px;
}
.carousel-inner img{
  opacity: 0.4;
}
.carousel-caption{
  color:#073642;
}
.container-responsive {
  background-color: lightgray;
}
.table-responsive {
  background-color: white;
}

.linea:hover{
  background-color: lightgreen;
  color: blue;
  
}
.form-control {
  background-color: white;
}

#alias{
  color: white;
  font-weight: bold;
}
.idClass{
  font-size: 250%;
  font-weight: bold;
  letter-spacing: 2px;
}
.input-group {
  margin: 4px;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
.thumbnail {
  width:100%;
  height:97%;
  background-color: white !important;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
.thumbnail:hover {
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
  width: 101%;
}
.studentSelected {
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 255, 1);
  -moz-box-shadow: 0px 0px 20px rgba(0, 0, 255, 1);
  box-shadow: 0px 0px 20px rgba(0, 0, 255, 1);
  border:3px #268BD2 solid;
  /*background-color: #d0f9cf !important;*/
}
.fotoStudent{
  float:left;
  border:2px #268BD2 solid;
  margin-top:20px;
  width:30%;
  height:30%;
  margin-left:10px;
  margin-bottom: 20px;
}
.puntsStudent {
  float:left;
  width:15%;
  margin-top:20px;
  margin-left:2%;
}
.dataStudent{
  float:right;
  width:50%;
  height:100%;
  margin-right:10px;
}
.section{
  clear:both;
}
.myuser{
  background-color: gold !important;
}
.userType{
  width:50%;
}
.navbar-brand{
  font-weight: bold;
  font-family: Verdana, Geneva, sans-serif;
}

.register {
  background-color: white;
}
.activeClasses {
  background-color: #eff;
  margin-top:-20px;
}

.storedClasses {
  background-color: #dee;
  border-top:1px lightgray solid;
}

#changeRol {
  margin-bottom: 1em;
}

.fotoIcono{
  margin-top:20px;
  width:40%;
}

td button {
  width:100%;
}

.linea td {
  width:10%;
}
.linea td span {
  color: white;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  padding-top:5px;
  display: inline-block;
}
.page-link{
  background-color: white !important;
  color:black !important;
}
.page-link:focus{
  background-color: lightblue !important;
  color: blue !important;
}

.jumbointro {
  margin-bottom: 0px;
}

.oculto {
  display: none !important;
}

.visible {
  display: block !important;
}

#settingsMenu {
  background-color:#fff;
  border-top: 1px solid lightgray;
  margin-top:-20px;
}

#settingsMenu h2{
  margin:-1px;
}

#settingsMenu .nav{
  border-bottom: 1px solid lightgray;
}

#settingsMenu a:hover{
  color: #268BD2 !important;
  border-radius: 3px;
  border: 1px solid #268BD2 !important;
}

.nav a:hover {
  color: #268BD2 !important;
  background-color: #cfeafc !important;
  border-radius: 3px;
  border: 1px solid #268BD2 !important;
}

li.nav-item a {
  color: white !important;
}

li.nav-item a:hover {
  border: none !important;
  background-color: #268BD2 !important;
  color: #cfeafc !important;
}

li.active a{
  color: white !important;
  background-color: #268BD2 !important;
  border: 1px solid #268BD2 !important;
  border-radius: 0px;
}

#settingsMenu li.active a:hover{
  border-radius: 0px;
  background-color: #cfeafc !important;
}

.panel {
  background-color: #d1ebfc;
  color:white;
}

.panelChal {
  background-color: #d1ebfc;
}

.panel .input-group-addon, #btn-save {
  background-color: #268BD2 !important;
  border: 1px solid #268BD2 !important;
}

.panel .input-group-text {
  color:white !important;  
}

#studentPage .panel table, #studentPage .panel .panel li, #groupPage .panel .panel li {
  color: #268BD2;
  background-color: white !important;
  font-weight: bold;
}
textarea, select, input, iframe  {
  border: 1px solid #268BD2 !important;
}

label, #changeRol, #adminClass{
  color:#268BD2;
}

#accordionMissions .panel-info{
  background-color: #eaf7ff;
}
#iframeWeb{
  display:none;
}

.panel-footer{
  background-color: #268BD2 !important;
  padding: 2px 0px;
}

input:read-only, textarea:read-only {
   background-color: #ddd !important;
}

input:-moz-read-only, textarea:-moz-read-only { /* For Firefox */
  background-color: #ddd !important;
}

input[type=submit] {
  background-color: #268BD2 !important;
}

.form-group span{
  background-color: #268BD2 !important;
  color: white;
}

#adventure .btn {
  margin-right: 2px;
}

.modal-content{
  background-color: white !important;
}

.modal-header, .modal-footer {
  background-color: #268BD2 !important;
  color: white;
}

.navbar-default, .footer{
  background-color: #268BD2 !important;
}

#studentPage, #groupPage {
  background-color: #eaf7ff;
  padding-top: 1px;
  border: 1px solid #268BD2 !important;
  margin-bottom:10px;
}

.section {
  border-top: 1px solid #268BD2 !important;
  border-bottom: 1px solid #268BD2 !important;
}

.navbar-brand span{
  text-shadow:0 0 1px #ffffff, 0 0 2px #000000;
}

.navbar-brand p{
  text-shadow: 0 0 10px #000000, 0 0 15px #ffffff;
}

.myContent {
  z-index: 1 !important;
}

.menu-superior {
  position:fixed;
  color:white !important;
  z-index:10000 !important;
  left:40%;
  top: 0px;
  opacity: 0.9;
  
}

.menu-superior button {
  font-size: 1em;
  padding:2px;
  text-transform: uppercase;
  text-align: center !important;
}

.menu-derecho {
  color:white !important;
  z-index:10;
  width: 20%;
}

.menu-derecho .nav {
  margin-top:21px;
  margin-bottom: -20px;
}

.menu-superior > .list-group {
  display: inline;
}

.menu-superior a.btn-warning {
  border-bottom: 2px solid black !important;
  border-right: 2px solid black !important;
  border-left: 2px solid black !important;
  border-radius: 0px 0px 10px 10px;
}

#adventurePage input{
  z-index:1;
}

.big-checkbox {
  width: 20px;
  height: 20px;
}

.descStudent {
  margin:0;
  padding: 2px;
}

.emoticon {
  height: 20px;
}

.btn-emoticon {
  background-color: #30acff;
}

.btn-emoticon p{
  font-size: 1em;
  background-color: white;
  color:#268BD2;
  font-weight: bold;
}

.btn-emoticon.active {
  background-color: #4cd127;
  color:#268BD2;
  font-weight: bold;
}

.btn-emoticon img{
  -webkit-filter: drop-shadow(5px 5px 5px #222 );
    filter: drop-shadow(3px 3px 5px #222);
}

.challengeText {
  font-weight: bold;
  margin:2px;
}

.missionGrade {
  float:right;
}

.disableDiv, .rubricaStudent {
  pointer-events: none;
}

.rubricaBtn {
  pointer-events: auto !important;
}

#myChart {
  display:none;
 /*width:50% !important; 
 height:50% !important; */
}

#adventureHistory{
  color:white !important;
  z-index:10;
  opacity: 1;
  background-color: transparent !important;
  box-shadow: 0 0px 0px transparent !important;
}

#adventureHistory{
  border: 1px solid transparent !important;
  /*background-image: url("http://i.huffpost.com/gen/4393678/images/n-THE-MATRIX-628x314.jpg");*/
}

.modal-xlg {
  width: 90%; 
  height: 90%;
  opacity: 1 !important;
  display: flex;
  justify-content: center;
  background-image:url("https://vignette.wikia.nocookie.net/koror-blog-org/images/4/48/Parchment.png/revision/latest?cb=20140420003946");
  background-repeat:no-repeat;
  background-size:auto 100%;
  background-position: center; 
}

#adventureHistory .modal-header {
  background-color: transparent !important;
  border: 1px solid transparent !important;
}

#adventureHistory .jumbotron {
  background-color: transparent !important;
  height: 80vh;
  width: 100vh;
}

#adventureHistory .jumbotron h1{
  font-family: 'Indie Flower';
  font-size:3vw;
  font-weight: bold;
  color: #ffcc00;
  text-shadow: 0 0 10px #000000;
}

#adventureHistory .jumbotron p{
  font-family: 'Caveat';
  font-size:2vw;
  color: white;
  text-shadow: 0 0 10px #000000;
}

#adventureHistory .jumbotron iframe{
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

#adventureHistory button{
  background-color: transparent !important;
  color: white;
  font-family: 'Indie Flower';
  font-size:1vw;
  font-weight: bold;
  border: 1px solid transparent !important;
  margin:2px;
}

#adventureHistory span{
  background-color: transparent !important;
  text-shadow: 5px 5px 10px #000000;
}

.navbar-toggle {
  background-color: lightgray !important
}

.activeTask {
  background-color: lightgreen !important
}

.punts li, .puntsStudent li{
  font-family: 'Indie Flower';
  text-shadow: 2px 2px 4px #000000;
  font-size: 3vh;
}

.punts li span{
  font-family: 'Caveat';
  color: gold;
  text-shadow: 2px 2px 4px #000000;
  font-size: 3vh;
}

.punts li img{
  -webkit-filter: drop-shadow(5px 5px 5px #222 );
  filter: drop-shadow(3px 3px 5px #222);
}

#sn {
  color: black;
  background-color: white;
  padding: 10px;
  border: 1px solid #268BD2 !important;
}

#myAdventure .panel-warning .jumbotron{
  border: 1px solid #268BD2 !important;
}

#myAdventure .panel-warning {
    background-color: #eaf7ff;
    color: #268BD2;
}

.note-btn .note-icon-check li span{
  background-color:black !important;
}

.note-btn {
  background-color:#268BD2 !important;
}

/*
#menu_lateral {
  position: fixed;
  width: 17% !important;
  z-index: 100;
  opacity: 0.9;
  display:none;
  top:170px;
}

#menuBtn {
  position: fixed;
  top:113px;
  z-index: 100;
  width:7%;
}*/

@media (max-width: 768px) {
  .btn {
    font-size: 3vh;
  }
  .fotoIcono {
    width: 50%;
  }
  .foto, .fotog {
    height: auto;
    width:50vw;
  }
  .fotoStudent {
    height: auto;
    width:35vw;
  }
  .thumbnail h2 {
   font-size: 3vh;
  }
  .menu-superior {
    font-size: 3vh;
  }
  
  .punts li, .puntsStudent li{
    font-size: 2vw;
    width: 20vw;
    text-shadow: 0 0 10px #000000 !important;
  }
  
  .modal-content {
    position:relative;
    justify-content: center;
    width: 90vw !important;
    right: 15vw;
  }
  .modal-content button,.modal-content .badge {
    font-size: 3vh;
  }
  .dataStudent {
    width: 30vw;
  }
}