.grid-block, .main, .comments li, .comment-form {
  background: #fff;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); }

body {
  background: #eee;
  /*background-image: url("http://i.huffpost.com/gen/4393678/images/n-THE-MATRIX-628x314.jpg");*/
  color: #666666; }

#main {
  position: relative;
  background: #cdd;
  /*background-image: url("http://i.huffpost.com/gen/4393678/images/n-THE-MATRIX-628x314.jpg");*/
  border:1px solid lightgray;
  top: -11px;
}

.navbar {
  margin-bottom: 10px; }
  /* line 32, ../sass/style.scss */
  .navbar .navbar-inner {
    border-radius: 0px 0px 3px 3px; }

#spinner {
  height: 300px; }


.jumbotron{
  text-align: center;
}
.jumbotron h2{
  font-size: 60px;
  font-weight: 100;
}

@-webkit-keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

.errors{
  position: fixed;
  z-index: 10000;
  padding: 10px;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  pointer-events: none;
}
.alert {
          animation: fadeOut 2700ms ease-in 0s 1 forwards;
  -webkit-animation: fadeOut 2700ms ease-in 0s 1 forwards;
     -moz-animation: fadeOut 2700ms ease-in 0s 1 forwards;
  width: 250px;
  float: right;
  clear: both;
  margin-bottom: 5px;
  pointer-events: auto;
}
.nav-pills {
  position: relative;
  background-color: #eee;
  border-bottom: 1px solid lightgray;
  top: -20px;
}
.breadcrumb{
  background-color: white;
  border-bottom: 1px solid lightgray;
}
.jumbotron{
  background-color: white;
}
.myInput{
  width:90%;
}
.tab-content .tab-content{
  border:1px solid lightgray;
}
.caixa{
  vertical-align: middle;
  text-align: center;
}
.imatge {
  float:left;
  width:65%;
}
.foto{
  width:150px;
}
.foto-hor{
  width:50px;
}
.userSelected{
  background-color: #0a0;  
}
.userNotSelected{
  background-color: #002b36;  
}
.punts {
  float:right;
  width:35%;
}
.botons{
  clear:both;
}
.list-group-item{
  font-weight: bold;
  font-size: 150%;
}
.list-group-item:hover{
  background-color: white;
  color: blue;
}
.list-inline{
  width:100%;
}
.list-inline{
  text-align: left;
}
.list-inline-item button{
  width: 100px;
}
.form-control-lg{
  font-size: 200%;
}
.carousel-inner > .item > img {
      width: 70%;
      margin: auto;
}
.footer{
  color:#334;
  text-align: center;
}
.footer p{
  line-height: 6pt;
}
label {
  color:white;
}
.input-group {
  padding: 5px;
  background-color: #89a;
}
.btn-group {
  margin:2px;
}