@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Caveat');


.grid-block, .main, .comments li, .comment-form {
  /*background: #fff;
  border-radius: 0px;
  padding: 0px;
  margin-bottom: 0px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);*/
}

body {
  background: white;
  /*background-image: url("http://i.huffpost.com/gen/4393678/images/n-THE-MATRIX-628x314.jpg");*/
  color: #666666;
  padding-top: 66px;
  padding-bottom: 0px;
}

#main {
  position: relative;
  background: white;
  /*background-image: url("http://i.huffpost.com/gen/4393678/images/n-THE-MATRIX-628x314.jpg");
  border:1px solid #268BD2;*/
  background-attachment: fixed;
  margin-top: 10px;
}

#fondo {
  position: absolute;
  z-index: -1 !important;
  width: 100%;
  height: 100%;
  /*background-image: url('http://i.huffpost.com/gen/4393678/images/n-THE-MATRIX-628x314.jpg');*/
  background-size: cover;
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-attachment: fixed;
}

  /* line 32, ../sass/style.scss */

#spinner {
  height: 300px; }


.jumbotron{
  color:#073642;
  text-align: center;
}
.jumbotron h2{
  font-size: 60px;
  font-weight: 100;
}

@-webkit-keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

.errors{
  position: fixed;
  z-index: 10000;
  padding: 10px;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  pointer-events: none;
}
.alert {
          animation: fadeOut 2700ms ease-in 0s 1 forwards;
  -webkit-animation: fadeOut 2700ms ease-in 0s 1 forwards;
     -moz-animation: fadeOut 2700ms ease-in 0s 1 forwards;
  width: 250px;
  float: right;
  clear: both;
  margin-bottom: 5px;
  pointer-events: auto;
}
.nav-pills {
  position: relative;
  background-color: #ddd;
  border: 1px solid lightgray;
}

.topMenu {
  position:relative;
  background-color: rgb(34, 122, 181,.7);
  border-bottom:1px solid lightgray;
  top:-20px;
}

.topMenu .leftBtns{
  background-color: transparent;
  border-radius: 0px;
  color:white;
}

.topMenu .rightBtns{
  position:absolute;
  right:5px;
  top:2px;
}

.nav a {
  color: #268BD2 !important;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-decoration: none;
}
a:hover, a:link {
  text-decoration: none !important;
}

.jumbotron{
  background-color: white;
}
.myInput{
  width:90%;
}

.mytab{
  margin-top:0px !important;
}

.mytab h2{
  margin-top:0px !important;
}

.tab-content{
  margin-top:40px;
}

#mainTab {

  background-size: cover;
  background-repeat: no-repeat;
}

.tab-content .tab-content{
  /*border:1px solid lightgray;*/
}
.caixa{
  position:relative;
  vertical-align: middle;
  text-align: center;
}
.imatge {
  position: relative;
  float:left;
  width:90%;
  margin:0;
  bottom:0;
}

.imatge:after {
  content: "";
  display: block;
  padding-bottom: 80%;
}

.imatge img {
  position: absolute;
  left: 10%;
  object-fit: contain;
  /*-webkit-filter: drop-shadow(5px 5px 5px #222 );
  filter: drop-shadow(3px 3px 5px #222);*/
  margin-top:1vh;
}

.foto{
  margin-top:20px;
  width:80%;
  height:80%;
}

.foto_ico{
  position:absolute;
  height:65px;
  bottom:5px;
  margin:0px 0px 0px 30px;
  -webkit-filter: drop-shadow(5px 5px 5px #222 );
  filter: drop-shadow(3px 3px 5px #222);
}

.fotoClass {
  height:20vh !important;
  padding:0.5vh;
}

.foto:hover, .fotog:hover, .fotoUserType:hover{
  cursor: pointer;
  opacity: 0.7;
}

.fotoUserType{
  margin-top:0px;
  width:90%;
}

.fotog{
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  margin-top:20px;
  width:50%;
  height:50%;
}
.foto-hor{
  height:30px;
  padding:2px;
  float:left;
}

.btn, label {
  font-size:1.5em !important;
}
.btn-student button{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.userSelected{
  color:white;
  background-color: #0a0 !important;
}
.userNotSelected{
  color:white;
  background-color: gray;
}
.punts {
  position:absolute;
  width:15%;
  top:1vh;
  right:2vh;
}
.punts .list-group {
  background-color: transparent;
}

.punts .list-group li{
  border: 1px solid transparent !important;
  margin: 2px;
}

.botons{
  clear:both;
}

.lista-item{
  background-color: lightgray;
}

.list-group-item{
  font-weight: bold;
  font-size:2em !important;
}

.puntsStudent .list-group-item{
  font-weight: bold;
  font-size:3vmax !important;
}
.list-group-item:hover{
  background-color: lightgreen;
  color: blue;
}
.list-inline{
  width:100%;
}
.list-inline{
  text-align: left;
}
.list-inline-item button{
  width: 100px;
}
.form-control-lg{
  font-size: 200%;
}

/*.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color:white;
  text-align: center;
  z-index: 1000;
  background-color: #073642;
  -webkit-box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0-5px 5px rgba(0, 0, 0, 0.5);
  padding-top: 2vmin ;
  height:6vmin;
}

.footer p{
  line-height: 2vmin;
  font-size: 2vmin !important;
}

.footer a{
  text-decoration: none;
  color:white;
}

.footer a:hover{
  text-decoration: none;
  color:lightblue;
}
*/

.footer #button{
	width:35px;
	height:35px;
	margin:0 auto;
	position:relative;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.footer #button img{
	width:20px;
	height:20px;
	position:relative;
}

.footer {
	bottom:0;
	left:0;
	position:fixed;
	background-color: transparent !important;
    width: 100%;
    height: 2em;
    overflow:hidden;
    margin:0 auto;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	z-index:999;
}
.footer:hover {
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	height: 10em;
}
.footer #container{
	margin-top:5px;
	width:100%;
  height:100%;
  position:relative;
  top:0;
  left:0;
	background-color: #268BD2;
}
.footer #cont{
  position:relative;
  top:-45px;
  right:190px;
	width:150px;
	height:auto;
	margin:0 auto;
}
.footer_center{
	width:500px;
	float:left;
  text-align:center;
}
.footer h3{
	font-family: 'Helvetica';
	font-size: 30px;
	font-weight: 100;
	margin-top:70px;
	margin-left:40px;
	color:white;
	text-transform: none;
}

.footer h3 a{
  text-decoration: none;
  color:#02FF02;
}

#myheader {
  position:relative;
  height:60px;
}

#mylogo {
  /*transform: translate(0, 40px);*/
  transition: transform 0.3s;
  z-index:100;
  padding:0;
  height:50px;
  width:auto;
}

#mylogo:hover {

}

#mylogo span{
  position:relative;
  font-size: 3em;
  font-weight: bold;
  text-shadow:0 0 2px #eeeeee, 0 0 2px #000000;
}

#mylogo img{
  position:relative;
  width:50px;
  -webkit-filter: drop-shadow(5px 5px 5px #555 );
  filter: drop-shadow(3px 3px 5px #555);
}

.welearnplaying{
  color:white;
  font-size: 2em;
  top:-20px;
  padding-left:90px;
  margin:auto;
  position:relative;
  text-shadow: 0 0 10px #000000, 0 0 20px #ffffff;
}

label {
  color:white;
}

.submenu {
  padding: 5px 50px 5px 50px;
  background-color: #268BD2dd;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  position: fixed;
  z-index: 1;
  left:50%;
  -webkit-transform: translate(-50%, 0%);
  width:90%;
  top:102px;
  border:1px solid lightblue;
}

.submenu label{
  color: white;
  font-size: 1.3em !important;
}

.submenu button {
  margin:2px;
  font-size: 1.3em !important;
}

.submenu input, .submenu select{
  font-size: 1.4em !important;
  height: 2em;
  color: #083b65;
}

.submenu button:hover {
  background-color: lightgray;
  color: #083b65;
  border: 1px solid #083b65;
}

.submenuBtn {
  position: absolute;
  color:white;
  font-weight: bold;
  right:20px;
  font-size: 1.7em !important;
  cursor: pointer;
}

.table-responsive {
  background-color: white;
}

.linea:hover{
  background-color: lightgreen;
  color: blue;

}
.form-control {
  background-color: white;
}

.form-group input, .form-group textarea {
  font-size:1.5em;
}

#alias{
  color: white;
  font-weight: bold;
}
.idClass{
  font-size: 250%;
  font-weight: bold;
  letter-spacing: 2px;
}

.input-group {
  margin: 4px;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

.thumbnail {
  width:100%;
  height:90%;
  background-color: white !important;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
/*
.checked {
  background-color: white !important;
  -webkit-filter: drop-shadow(3px 3px 5px red );
  filter: drop-shadow(3px 3px 5px red);

}

.checked2 {
  background-color: white !important;
  -webkit-filter: drop-shadow(3px 3px 5px #268BD2 );
  filter: drop-shadow(3px 3px 5px  #268BD2);
}
*/
.thumbnail:hover {
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
}

.thumbnail .input-group {
  margin:auto;
}

.deleteImage{
  padding:0px 5px;
  margin:0;
}

.img-thumbnail{
  height:15vh;
  background-color: transparent;
  border: 1px solid transparent;
}

.studentSelected {
  background: linear-gradient(230deg, rgba(202,234,246,1) 0%, rgba(160,234,241,1) 46%, rgba(111,184,235,1) 100%);
}
.fotoStudent{
  -webkit-filter: drop-shadow(5px 5px 5px #222 );
  filter: drop-shadow(3px 3px 5px #222);
}
.puntsStudent {
  margin-top: 10px;
}

.myuser{
  background: linear-gradient(90deg, rgba(255,222,0,1) 34%, rgba(232,255,153,1) 83%);
}
.userType{
  width:50%;
}

.register {
  background-color: white;
}
.activeClasses {
  background-color: white;
  margin-top: 15px;
}

.storedClasses {
  background-color: #dee;
  border-top:1px lightgray solid;
}

.typeClasses {
  background-color: #cff;
  margin-bottom:20px;
  margin-top:0px;
  border-bottom:1px lightgray solid;
}

.typeClasses h2, .activeClasses h2, .storedClasses h2, .register h2 {
  background-color: #d1ebfc;
  color:#268BD2;
  margin:5px;
  padding:5px;
  font-size: 2.2vh !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.myContent h4, .breadcrumb2 li{
  font-size: 2vh !important;
}

.h2newclass {
  background-color: rgba(252,194,69,1) !important;
}

#changeRol {
  margin-bottom: 1em;
}

.fotoIcono{
  width:70%;
  padding-top:10px;
}

td button {
  width:100%;
}

.linea td {
  width:10%;
}
.linea td span {
  color: white;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  padding-top:5px;
  display: inline-block;
}
.page-link{
  background-color: white !important;
  color:black !important;
}
.page-link:focus{
  background-color: lightblue !important;
  color: blue !important;
}

.jumbointro {
  margin-bottom: 0px;
}

.oculto {
  display: none !important;
}

.visible {
  display: block !important;
}

.settingsMenu {
  position:relative;
  background-color:#fff;
  border-top: 1px solid lightgray;

}

.settingsMenu .nav-pills{
  background-color:#fff;
}

#settingsMenu .nav{
  border-bottom: 1px solid lightgray;
}

#settingsMenu a:hover{
  color: #268BD2 !important;
  border-radius: 3px;
  border: 1px solid #268BD2 !important;
}

.nav a {
  border: 1px solid transparent !important;
}

.nav a:hover {
  color: #268BD2 !important;
  background-color: #cfeafc !important;
  border-radius: 3px;
  border: 1px solid #268BD2 !important;
}

li.nav-item a {
  color: white !important;
}

li.nav-item a:hover {
  border: none !important;
  background-color: #268BD2 !important;
  color: #cfeafc !important;
}

li.active a{
  color: white !important;
  background-color: #268BD2 !important;
  border: 1px solid #268BD2 !important;
  border-radius: 0px;
}

a.activeOptionMenu{
  color: white !important;
  background-color: #268BD2 !important;
  border: 1px solid #268BD2 !important;
  border-radius: 0px;
}

#settingsMenu li.active a:hover{
  border-radius: 0px;
  background-color: #cfeafc !important;
}

.panel {
  background-color: #d1ebfc;
  color:white;
}

.panelChal {
  background-color: #d1ebfc;
}

.input-group-addon, #btn-save {
  background-color: #268BD2 !important;
  border: 1px solid #268BD2 !important;
}

.panel .input-group-text {
  color:white !important;
}

#studentPage .panel table, #studentPage .panel .panel li, #groupPage .panel .panel li {
  color: #268BD2;
  background-color: white !important;
  font-weight: bold;
}
textarea, select, input, iframe  {
  border: 1px solid #268BD2 !important;
}

label, #changeRol, #adminClass{
  color:#268BD2;
}

#accordionMissions .panel-info{
  background-color: #eaf7ff;
}
#iframeWeb{
  display:none;
}

.panel-footer{
  background-color: #268BD2 !important;
  padding: 2px 0px;
}

input:read-only, textarea:read-only {
   background-color: #ddd !important;
}

input:-moz-read-only, textarea:-moz-read-only { /* For Firefox */
  background-color: #ddd !important;
}

input[type=submit] {
  background-color: #268BD2 !important;
}

.form-group span{
  /*background-color: #268BD2 !important;*/
  color: white;
}

.form-group {
  padding: 0px;
  margin: 3px;
  /*
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  margin: 10px 0;*/
}

.form-group.missionFG label input{
  margin: 8px;
  vertical-align: middle;
}

#adventure .btn {
  margin-right: 2px;
}

.modal-content{
  background-color: white !important;
}

.modal-header, .modal-footer {
  background-color: #268BD2 !important;
  color: white;
}

#studentPage, #groupPage {
  background-color: #eaf7ff;
  padding-top: 1px;
  border: 1px solid #268BD2 !important;
  margin-bottom:10px;
  margin-top:10px;
}

.section {
  border-top: 1px solid #268BD2 !important;
  border-bottom: 1px solid #268BD2 !important;
}

.myContent {
  z-index: 1 !important;
}

.menu-superior {
  position:fixed;
  color:white !important;
  z-index:10000 !important;
  left:40%;
  top: 0px;
  opacity: 0.9;

}

.menu-superior button {
  font-size: 1em;
  padding:2px;
  text-transform: uppercase;
  text-align: center !important;
}

.menu-derecho {
  color:white !important;
  z-index:10;
  width: 20%;
}

.menu-derecho .nav {
  margin-top:21px;
  margin-bottom: -20px;
}

.menu-superior > .list-group {
  display: inline;
}

.menu-superior a.btn-warning {
  border-bottom: 2px solid black !important;
  border-right: 2px solid black !important;
  border-left: 2px solid black !important;
  border-radius: 0px 0px 10px 10px;
}

.nav li{
  font-size:1vmax !important;
}

#adventurePage input{
  z-index:1;
}

.big-checkbox {
  width: 25px;
  height: 25px;
}

.descStudent {
  margin:0;
  padding: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.emoticon {
  height: 20px;
}

.btn-emoticon {
  background-color: #30acff;
}

.btn-emoticon p{
  font-size: 1em;
  background-color: white;
  color:#268BD2;
  font-weight: bold;
}

.btn-emoticon.active {
  background-color: #4cd127;
  color:#268BD2;
  font-weight: bold;
}

.btn-emoticon img{
  -webkit-filter: drop-shadow(5px 5px 5px #222 );
    filter: drop-shadow(3px 3px 5px #222);
}

.btn.challengeText {
  font-weight: bold;
  margin:2px;
  white-space:normal !important;
  word-wrap: break-word;
  word-break: normal;
}

.missionGrade {
  float:right;
}

.disableDiv, .rubricaStudent {
  pointer-events: none;
}

.studentStars{
  pointer-events: none;
}

.rubricaBtn, .fileBtn {
  pointer-events: auto !important;
}

#myChart {
  display:none;
 /*width:50% !important;
 height:50% !important; */
}

#adventureHistory{
  color:white !important;
  z-index:10;
  opacity: 1;
  background-color: transparent !important;
  box-shadow: 0 0px 0px transparent !important;
}

#adventureHistory{
  border: 1px solid transparent !important;
  /*background-image: url("http://i.huffpost.com/gen/4393678/images/n-THE-MATRIX-628x314.jpg");*/
}

.modal-xlg {
  width: 90%;
  height: 90%;
  opacity: 1 !important;
  display: flex;
  justify-content: center;
  background-image:url("https://vignette.wikia.nocookie.net/koror-blog-org/images/4/48/Parchment.png/revision/latest?cb=20140420003946");
  background-repeat:no-repeat;
  background-size:auto 100%;
  background-position: center;
}

#adventureHistory .modal-header {
  background-color: transparent !important;
  border: 1px solid transparent !important;
}

#adventureHistory .jumbotron {
  background-color: transparent !important;
  height: 80vh;
  width: 100vh;
}

#adventureHistory .jumbotron h1{
  font-family: 'Indie Flower';
  font-size:3vw;
  font-weight: bold;
  color: #ffcc00;
  text-shadow: 0 0 10px #000000;
}

#adventureHistory .jumbotron p{
  font-family: 'Caveat';
  font-size:2vw;
  color: white;
  text-shadow: 0 0 10px #000000;
}

#adventureHistory .jumbotron iframe{
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

#adventureHistory button{
  background-color: transparent !important;
  color: white;
  font-family: 'Indie Flower';
  font-size:1vw;
  font-weight: bold;
  border: 1px solid transparent !important;
  margin:2px;
}

#adventureHistory span{
  background-color: transparent !important;
  text-shadow: 5px 5px 10px #000000;
}

.activeTask {
  background-color: lightgreen !important
}

.punts li, .puntsStudent li{
  font-family: 'Indie Flower';
  text-shadow: 2px 2px 4px #000000;
  font-size: 2vh;
  white-space: nowrap;
  padding:2px !important;
  list-style-type: none;
}

.caixa_botons{
  clear:both;
}

.caixa_botons h1{
  font-family: 'Indie Flower';
  text-shadow: 2px 2px 4px #000000;
  font-size: 2.5vh !important;
  font-weight: bold;
  margin:0;
  padding:2px 20px;
}

.punts li span, .caixa_botons span{
  font-family: 'Caveat';
  color: gold;
  text-shadow: 2px 2px 4px #000000;
  font-size: 2vh;
}

.punts li img{
  -webkit-filter: drop-shadow(5px 5px 5px #222 );
  filter: drop-shadow(3px 3px 5px #222);
  width:90%;
  padding-top: 5px;
}

.caixa_botons img{
  width:3vh;
}

/*
li[title]:hover:after {
  border: 1px lightgreen solid;
  padding: 2px;
  font-weight: bold;
  content: attr(title);
  position: relative;
  color:red;
  background-color: white !important;
  z-index:10000;
  font-size: 1em;
}
*/
#sn {
  color: black;
  background-color: white;
  padding: 10px;
  border: 1px solid #268BD2 !important;
}

#myAdventure .panel-warning .jumbotron{
  border: 1px solid #268BD2 !important;
}

#myAdventure .panel-warning {
    background-color: #eaf7ff;
    color: #268BD2;
}

.note-btn .note-icon-check li span{
  background-color:black !important;
}

.note-btn {
  background-color:#268BD2 !important;
}

.note-toolbar {
  background-color:#185581 !important;
}

#ModalImg {
  -webkit-filter: drop-shadow(5px 5px 5px #222 );
  filter: drop-shadow(3px 3px 5px #222);
}

.btn-clase {
  position: absolute;
  left: 50%;
  width: 100px;
  margin-left: -50px;
  bottom:5px;
}
/*
#menu_lateral {
  position: fixed;
  z-index: 100;
  opacity: 0.9;
  top:64px;
  width:10px;
  -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

#menu_lateral:hover {
  width:100px;
}


  width: 17% !important;
  z-index: 100;
  opacity: 0.9;
  display:none;
  top:200px;
}
#menuBtn {
  position: fixed;
  top:113px;
  z-index: 100;
  width:7%;
}*/

h1,h2,h3,h4,h5,h6{
  /*white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;*/
}

#menu_movil {
  display:none;
}

h4.panel-title {
  font-size: 1.5vmax !important;
}

.modal-dialog{
  width:80%;
  margin: 10vh auto;
}

#collapseGC{
  padding-left:1vw;
}

.list-item-selected {
  background-color: gold !important;
}

.elementUsed {
  opacity: 0.5 !important;
}

.displayUsed{
  position: absolute;
  left: 8px;
  bottom: 50px;
  border-radius: 6px;
  padding: .5rem 1rem;
  outline: 1px solid grey;
  outline-offset: -6px;
  background-color: lime;
  color: white;
  font-size: 2em;
  opacity: 1 !important;
}

.messageRead{
  background-color: lightgreen;
}

.login-form .panel-info {
  width:40vw;
  margin:auto;
}

.marketing .row{
  margin-top:10px !important;
}

.featurette {
  margin-bottom: 30px;
}

.tab-content {
  border:0px solid black !important;
}

.studentInventory .list-items{
  justify-content: space-evenly;
  padding-left:0;
  align-content: space-evenly;
}

.mobilePanel{
  display:none;
}

#mcgMobileVersion {
  display:none;
}

.nameSection {
  position:fixed;
  left:50%;
  text-align: center;
  margin: 0;
  top: 64px;
  padding: 5px 10px;
  z-index: 2;
  -webkit-transform: translate(-50%, 0%);
  background-color: lightblue;
  border:1px solid #268BD2;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}
/*
.nameSection {
  mix-blend-mode: screen;
  text-align: center;
  margin:0px 0 5px 0;
}
*/
@media (max-width: 740px) {


 .spanMenu {
   display:none !important;
 }


 #myheader span{
   font-size: 2em !important;
   font-weight: bold;
   text-shadow:0 0 2px #eeeeee, 0 0 2px #000000;
 }

 #mcgMobileVersion {
   position:fixed;
   left:10px;
   bottom:10px;
   font-size: 1em !important;
   display:inline;
 }

 .nav li{
   font-size:1.5vmax !important;
 }
 #myCarousel {
   display:none;
 }
 .login-form {
   margin-top:20px;
 }
 .login-form .panel-info {
   width:80vw;
   margin:auto;
 }
 .login-form label, .login-form .btn{
   font-size: 2vh !important;
 }
 .featurette img {
   display:none;
 }
 .conversation {
   height:145%;
   margin-bottom:50px;
 }
 .chat-container {
   margin-top:50px !important;
 }
 .conversationClass {
   height:72vh;
   margin-bottom:-50px !important;
 }
 .conversation-container {
   height:calc(110%+50px);
 }
 .conversation-compose {
   margin-top: -20px !important;
 }

 #leftPanel {
   display:none;
 }

 .mobilePanel{
   display:block;
   margin:0;
 }
 .mobilePanel .well{
   background-color: transparent;
   -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,0.05);
   margin:0;
   padding:0;
 }

 .mobilePanel h4{
   margin:0;
 }

 .cardProfile {
   padding:0;
 }
 .mobilePanel .well cardProfile{
   margin:auto !important;
 }
 #rightPanel {
   background-color: white !important;
   border: 0px solid transparent;
   border-radius: 4px;
   -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,0.05);
   padding:0;
 }
 .btn-block {
   margin: 5px;
 }
 #show-sidebar-line {
    display:none;
 }
 .nameSection {
   width: 90%;
 }
}

@media (max-width: 510px) {
  #mylogo span, .welearnplaying {
    display:none;
  }
}
