<template name="battle">
  <h3 class="nameSection">{{_ "battles"}}</h3>

  <div class="container-fluid battle float-up">
    <div class="btn-group btn-group-battle" data-toggle="buttons">

      <label class="btn btn-info" id="resetBattle">
        <input type="radio" name="options"><img class="battleBtn" src="/images/@mcgnb.png"> <span class="vs">vs</span> <img class="battleBtn" src="/images/@mcgnb.png">
      </label>
      <label class="btn btn-info" id="svsmBattle">
        <input type="radio" name="options"><i class="fas fa-user"></i> <span class="vs">vs</span> <i class="fas fa-angry"></i>
      </label>
      <label class="btn btn-info disabled" id="evsmBattle">
        <input type="radio" name="options"><i class="fas fa-users"></i> <span class="vs">vs</span> <i class="fas fa-angry"></i>
      </label>
      <label class="btn btn-info" id="svssBattle">
        <input type="radio" name="options"><i class="fas fa-user"></i> <span class="vs">vs</span> <i class="fas fa-user"></i>
      </label>
      <label class="btn btn-info disabled" id="evseBattle">
        <input type="radio" name="options"><i class="fas fa-users"></i> <span class="vs">vs</span> <i class="fas fa-users"></i>
      </label>
      <label class="btn btn-info disabled" id="cvsmBattle">
        <input type="radio" name="options"><i class="fas fa-chalkboard-teacher"></i> <span class="vs">vs</span> <i class="fas fa-angry"></i>
      </label>
    </div>
    <div class="row">
        <div class="hidden-xs hidden-sm col-md-3  bat1 battlePanel">

              <div class="col-xs-12 cardProfile">

              	<figure class="card card__water" id="card1Battle">
                  <img class="backlogocard" src="/images/@mcgnb.png">
                  <div class="card-inside card-back">

                    <div class="card__image-container">
                      <img class="cardLogo" src="/images/@mcgnb.png">
                      {{#with student1Battle}}
                        <img src="{{image avatar}}" class="card__image eImage" name="usuario1">
                      {{/with}}
                    </div>

                    <figcaption class="card__caption">
                      {{#with student1Battle}}
                        <h1 class="card__name">{{studentName}}</h1>
                        <h3 class="studentTeam">
                          Grupo
                        </h3>
                        <h3 class="card__type">
                          Nivel {{level}}
                        </h3>

                        <table class="card__stats">
                          <tbody><tr>
                            <th><span class="btn-xp">XP</span></th>
                            <td><span class="btn-xp">{{XP}}</span></td>
                          </tr>
                          <tr>
                            <th><span class="btn-hp">HP</span></th>
                            <td><span class="btn-hp">{{HP}}</span></td>
                          </tr>

                          <tr>
                            <th><span class="btn-store">Monedas</span></th>
                            <td><span class="btn-store">{{coins}}</span></td>
                          </tr>

                        </tbody></table>
                        <div class="cardLine">
                        </div>
                        <ul class="cardIcons">
                          <li><img src="https://res.cloudinary.com/myclassgame/image/upload/v1549270043/images/shield-31869.png" class="btn-badge" /></li>
                          <li><img src="https://res.cloudinary.com/myclassgame/image/upload/v1551794067/myclassgame/aberrant-berserker-300x429_izzvai.png" class="btn-cards" /></li>
                          <li><img src="https://res.cloudinary.com/myclassgame/image/upload/v1549268143/images/Gold_coin_icon.png" class="btn-store"/></li>
                        </ul>
                      {{/with}}
                    </figcaption>

                  </div>
                </figure>


      		    </div>
              <div class="battleLife">
                  <a href="#" class="battleHeart">
                    <i class="fas fa-heart"></i>
                  </a>
                  <a href="#" class="battleHeart">
                    <i class="fas fa-heart"></i>
                  </a>
                  <a href="#" class="battleHeart">
                    <i class="fas fa-heart"></i>
                  </a>
                  <a href="#" class="battleHeart">
                    <i class="fas fa-heart"></i>
                  </a>
                  <a href="#" class="battleHeart">
                    <i class="fas fa-heart"></i>
                  </a>
              </div>
        </div>
        <div class="col-xs-12 col-md-6 quizBattle battlePanel">
          {{> quizBattle}}
        </div>
        <div class="hidden-xs hidden-sm col-md-3  bat2 battlePanel">
            <div class="col-xs-12 cardProfile">
                  <figure class="card card__water" id="card2Battle">
                    <img class="backlogocard" src="/images/@mcgnb.png">
                    <div class="card-inside card-back">
                      <div class="card__image-container">
                        <img class="cardLogo" src="/images/@mcgnb.png">
                        {{#if opponent "student"}}
                          {{#with student2Battle}}
                            <img src="{{image avatar}}" class="card__image eImage" name="usuario1">
                          {{/with}}
                        {{/if}}
                        {{#if opponent "villain"}}
                          {{#with villainBattle}}
                            <img src="{{imageVillain}}" class="card__image eImage" name="usuario1">
                          {{/with}}
                        {{/if}}
                      </div>
                      <figcaption class="card__caption">
                        {{#if opponent "student"}}
                          {{#with student2Battle}}
                            <h1 class="card__name">{{studentName}}</h1>
                            <h3 class="studentTeam">
                              Grupo
                            </h3>
                            <h3 class="card__type">
                              Nivel {{level}}
                            </h3>
                            <table class="card__stats">
                              <tbody>
                                <tr>
                                  <th><span class="btn-xp">XP</span></th>
                                  <td><span class="btn-xp">{{XP}}</span></td>
                                </tr>
                                <tr>
                                  <th><span class="btn-hp">HP</span></th>
                                  <td><span class="btn-hp">{{HP}}</span></td>
                                </tr>

                                <tr>
                                  <th><span class="btn-store">Monedas</span></th>
                                  <td><span class="btn-store">{{coins}}</span></td>
                                </tr>
                              </tbody>
                            </table>
                            <div class="cardLine">
                            </div>
                            <ul class="cardIcons">
                              <li><img src="https://res.cloudinary.com/myclassgame/image/upload/v1549270043/images/shield-31869.png" class="btn-badge" /></li>
                              <li><img src="https://res.cloudinary.com/myclassgame/image/upload/v1551794067/myclassgame/aberrant-berserker-300x429_izzvai.png" class="btn-cards" /></li>
                              <li><img src="https://res.cloudinary.com/myclassgame/image/upload/v1549268143/images/Gold_coin_icon.png" class="btn-store"/></li>
                            </ul>
                          {{/with}}
                        {{/if}}
                        {{#if opponent "villain"}}
                          {{#with villainBattle}}
                            <h1 class="card__name">{{villainName}}</h1>
                            <table class="card__stats">
                              <tbody>

                                <tr>
                                  <th><span class="btn-hp">HP</span></th>
                                  <td><span class="btn-hp">{{HP}}</span></td>
                                </tr>

                              </tbody>
                            </table>
                          {{/with}}
                        {{/if}}
                      </figcaption>
                    </div>
                  </figure>

            </div>
            <div class="battleLife">
                <a href="#" class="battleHeart">
                  <i class="fas fa-heart"></i>
                </a>
                <a href="#" class="battleHeart">
                  <i class="fas fa-heart"></i>
                </a>
                <a href="#" class="battleHeart">
                  <i class="fas fa-heart"></i>
                </a>
                <a href="#" class="battleHeart">
                  <i class="fas fa-heart"></i>
                </a>
                <a href="#" class="battleHeart">
                    <i class="fas fa-heart"></i>
                </a>
            </div>
        </div>
      </div>
  </div>
</template>
