.battle {
  width:95vw;
  text-align: center;
}

.battle .well{
  margin: auto;
}

.vsText{
  background-color:transparent !important;
}

.vsText h1{
  color: red !important;
  font-size: 10vh;
  font-weight: bold;
}

.battleLife .fa-heart, .battleLife .fa-heart-broken{
  font-size: 5vh;
  color: red;
}

.battleLife .fa-heart-broken {
  color:rgb(0,0,0,0.3);
}

.btn-group-battle {
  margin:10px auto !important;
  font-size: 2vh !important;

}

.btn-group-battle  .btn{
  font-size: 3vh !important;
  padding:10px 20px;
}

.battle .card{
  transition: transform 0.1s;
  transform: rotateY(180deg);

}

.battle .card-turned {
}

.battle .backlogocard {
  position:absolute;
  top:25%;
  left:25%;
  width: 50%;
  transform: rotateY(180deg);
  opacity: 0.5;
}

.card-inside {
  backface-visibility: hidden;
}

.card-back{
  visibility: hidden;
  transition: transform 0.1s;
  transform: rotateY(180deg);
}
.card-front{
  visibility:visible;
  transition: transform 0.1s;
  backface-visibility: hidden;
}

.battleBtn {
  margin:0 0 0 0;
  height: 3vh;
}

.fighterBtn {
  margin:25% 0;
  width: 25px;
}

.battlePanel{
    position:relative;
    background-color:rgb(209, 235, 252,0.6) !important;
    color:#fff;
    text-align: center;
    padding:1em;
    border-radius: 10px;
}

.battlePanel .card,.battlePanel .card-turned{
    width:100%;
    max-width: 300px;
}
