<template name="quizBattle">
  <h1>¡Batalla de preguntas!</h1>

    <div class="quiz">
      <div class="fight">
        <div class="photo photoFighter">
          {{#with student1Battle}}
            <img src="{{image avatar}}" />
          {{/with}}
        </div>
        <div class="content">
          <div class="text align-middle">
              <h1>{{#with student1Battle}}{{studentName}}{{/with}} vs {{#with student2Battle}}{{studentName}}{{/with}}</h1>
          </div>
        </div>
        <div class="photo2 photoFighter">
          {{#with student2Battle}}
          <img src="{{image avatar}}" />
          {{/with}}
        </div>
      </div>
      <!--
      <div class="quiz-title">¡Batalla de preguntas!</div>

      <label class="btn btn-info btn-group-battle" id="startBattle">
        Iniciar Batalla
      </label>
      -->
      <form class="form-inline">
        <div class="form-group">
          <label>
            Cuestionario
          </label>
          <select id="quizId">
            {{#each quizzes}}
              <option value='{{_id}}'>{{quizName}}</option>
            {{/each}}
          </select>
          <button class="btn btn-info" id="startBattle">
            Iniciar Batalla
          </button>
        </div>
      </form>
      {{#with nextQuestion}}
        <!--
        <div class="quiz-question">
          {{question}}
        </div>
        -->
        <div class="quiz-title float-up">{{question}}</div>
        {{#each answers}}
          <div class="question float-up">
            <div class="photo photoMCG">
              <img class="logoBattle" src="/images/@mcgnb.png"/>
              {{#with student1Battle}}
                <img src="{{image avatar}}" class="oculto"/>
              {{/with}}
            </div>
            <div class="content {{#if correct}}cuestionAnswer{{else}}questionAnswer{{/if}}">
              <div class="text">
                  <h3>{{answer}}</h3>
              </div>
            </div>
            <div class="photo2">
              <img class="logoBattle" src="/images/@mcgnb.png"/>
              {{#with student2Battle}}
              <img src="{{image avatar}}" class="imgAvatar oculto"/>
              {{/with}}
            </div>
          </div>
        {{/each}}
        <div class="battleCorrectBtn btn-group btn-group-battle" data-toggle="buttons">
          <label class="btn btn-info" id="correctAnswer">
            Corregir
          </label>
          <label class="btn btn-info oculto" id="nextQuestion">
            Siguiente
          </label>
        </div>

      {{/with}}

    </div>


</template>
