
 .quiz {
   margin: 0 auto;
	 max-width: 100%;
	 display: grid;
	 grid-auto-rows: auto;
	 grid-columns: 1fr;
	 padding: 2em;
	 grid-gap: 1em;
	 border: 1px solid #e9e9eb;
	 box-shadow: 0px 5px 8px rgba(0, 10, 20, 0.06);
   border-radius: 10px;
}
 .quiz-title{
   font-weight: bold;
   color: darkblue;
   margin: auto;
   margin-top:100px;
   width: 80%;
   background-color: rgba(255,255,255,0.8);
   padding:10px 30px;
   border: 1px solid gray;
   box-shadow: 5px 5px 10px rgba(0,0,0,0.6);
   border-radius: 10px;
}

.quiz-title p{
  font-size: 2em;
}

 .quiz-question {
	 font-size: 1.15em;
}

 .quiz-answer {
	 position: relative;
	 display: flex;
	 flex-flow: row nowrap;
	 align-items: center;
	 justify-content: flex-start;
	 user-select: none;
	 background: linear-gradient(#fafafc, white);
	 box-shadow: 0px 2px 2px 1px rgba(0, 10, 20, 0.07);
}

.question {
    width: 70%;
    height: 70px;
    border-radius: 5px;
    background-color: #fafafa;
    box-shadow: 0 0 2rem #babbbc;
    position:relative;
    margin:10px auto;
}

.fight {
    width: 70%;
    height: 120px;
    border-radius: 5px;
    background-color: #fafafa;
    box-shadow: 0 0 2rem #babbbc;
    position:relative;
    margin:auto;
}

.question .photo {
    position:absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #fafafa;
    margin-left: -40px;
    box-shadow: 0 0 .5rem #babbbc;
    left:0;
    top:0;
    background: linear-gradient(#268BD2, white);
    z-index:1;
    transition: ease 0.5s;
}

.fight .photo {
    position:absolute;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #fafafa;
    margin-left: 30px;
    box-shadow: 0 0 .5rem #babbbc;
    left:0;
    top:0;
    background: linear-gradient(#268BD2, white);
    z-index:1;
    transition: ease 0.5s;
}

.question .photo2 {
    position:absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #fafafa;
    right:0;
    top:0;
    margin-right: -40px;
    box-shadow: 0 0 .5rem #babbbc;
    background: linear-gradient(#268BD2, white);
    z-index:1;
    transition: ease 0.5s;
}

.fight .photo2 {
    position:absolute;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #fafafa;
    right:0;
    top:0;
    margin-right: 30px;
    box-shadow: 0 0 .5rem #babbbc;
    background: linear-gradient(#268BD2, white);
    z-index:1;
    transition: ease 0.5s;
}

.question .photo:hover img,.question .photo2:hover img{
  opacity: 0.8;
}

.question img, .fight img {
    height: 100%;
    opacity: 0.4;
}

.fight .photo,.fight .photo2  {
  transform: scale(1.3);
  box-shadow: 0 0 1rem black;
  border: 5px solid #268BD2;
}

.fight img {
    height: 100%;
    opacity: 1;
}

.fight  {
  background-color: #268BD2;
  box-shadow: 0 0 1rem black;
}

.fight h1 {
  font-size: 4em;
  margin:30px 0;
}

.question .answerSelected {
  border: 5px solid gold;
  box-shadow: 0 0 1rem black;
  transform: scale(1.1);
}

.question .answerSelected img{
  opacity: 1;
}

.question .content,.fight .content {
    position:absolute;
    width:100%;
    height:100%;
}

.question .content .text {
  color: #268BD2;
}

.question .content .text p {
    font-weight: bold;
    font-size: 2.7em;
}
.question .content .text h6 {
    font-weight: bold;
}

.question .content.correctAnswer {
  background: lightgreen;
  box-shadow: 0 0 2rem black;
  transition: ease 2s;
}

.cAnswer {
  border: 7px solid lime !important;
}

.question .incorrectAnswer {
  border: 7px solid red !important;
  transition: ease 2s;
}

.questionContainer {
  transition: ease 2s;
}

.quiz .form-inline .input-group-addon{
  font-size: 1.5em;
}

.quiz .form-inline .input{
  font-size: 1.5em;
}

.quiz .form-inline select{
  font-size: 1.1em;
}

.quizBattle {
  background-color:rgb(100, 200, 255,0.6) !important;
}

.quizBattle h2{
  margin-top:-20px;
}

.logoBattle{
  max-height:70px;
  margin-top:20px;
}

.vs {
  color: yellow;
  font-size: 0.7em;
  font-weight: bold;
}

.swords {
  position:absolute;
  width:100px;
  top:10px;
  -webkit-transform: translate(-50%, 0%);
  z-index:1;
  background-color: gold;
  border:3px solid black;
  border-radius: 20%;
}

.swordsResults {
  position:absolute;
  width:10vw;
  top:40vh;
  -webkit-transform: translate(-50%, 0%);
  z-index:1;
  background-color: gold;
  border:3px solid #268BD2;
  border-radius: 20%;
  transition: all .5s;
}

.swordsResults:hover {
  background-color: #268BD2;
  width:11vw;
  top:39vh;
  cursor: pointer;
}

.badge.fighterHP {
  background-color:red !important;
  font-size: 3em !important;
  margin-top:-20px;
  padding: 5px 20px;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.6);
}

.battleParameters {
  border: 1px solid white;
  margin-top:40px;
  padding: 10px;
  border-radius: 20px;
  background-color: rgba(0,0,0,.05);
}

.battleParameters h3, .battleQuestions h3.questionN{
  color: white;
}

.battleParameters .btn-group-battle .btn.active {
  background-color: navy;
}

.fighter1Points,.fighter2Points {
  position:absolute;
  background-color: white !important;
  color:red !important;
  border: 1px solid black;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
}

.fighter1Points {
  right: 30px;
}

.fighter2Points {
  left: 0px;
}

.questionImage {
  width: 80% !important;
}

.battleModal {
  position:fixed;
  width:100%;
  top:0;
  right:0;
  background-color: rgba(0,0,0,0.7);
  height:100vh;
  z-index:100;
  display: none;
  overflow: hidden;
}

.battleQuestions {
  position:fixed;
  top:50%;
  left:50%;
  width:90vw;
  -webkit-transform: translate(-50%, -50%);
  border: 1px solid white;
  padding: 10px;
  /* border-radius: 20px; */
  background-color:rgb(100, 200, 255,0.9) !important;
  z-index:20;
  overflow-y:scroll;
  max-height: 95vh;
}

.photoFighter1Question, .photoFighter2Question {
  position:absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid #268BD2;
  box-shadow: 5px 5px 20px black;
  top:20px;
  background: linear-gradient(#268BD2, white);
  z-index:1;
  transition: ease 0.5s;
}

.photoFighter1Question {
  left:20px;
}

.photoFighter2Question {
  right: 20px;
}

.photoFighter1Question img, .photoFighter2Question img {
    height: 100%;
    opacity: 1;
}

.badge.fighter1HP, .badge.fighter2HP {
  position:absolute;
  background-color:red !important;
  font-size: 3em !important;
  padding: 10px 20px;
  margin: 0 20px;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.6);
  top:180px;

}

.badge.fighter1HP {
  left:0px;
}

.badge.fighter2HP {
  right:0px;
}

.badge.fighter1Incorrects, .badge.fighter2Incorrects {
  position:absolute;
  background-color:blue !important;
  font-size: 3em !important;
  padding: 10px 20px;
  margin: 0 20px;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.6);
  top:250px;
}

.badge.fighter1Incorrects {
  left:0px;
}

.badge.fighter2Incorrects {
  right:0px;
}

.badge.fighter1Name, .badge.fighter2Name {
  position:absolute;
  background-color:#268BD2 !important;
  font-size: 4em !important;
  padding: 10px 25px;
  margin: 0 20px;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.6);
  top:60px;
}

.badge.fighter1Name {
  left:135px;
}

.badge.fighter2Name {
  right:135px;
}

.closeBattle {
  position:absolute;
  right:10px;
  font-size: 2em !important;
  cursor: pointer;
}

.battleResults {
  position:fixed;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  transition: opacity 1s ease-out 2s;
  margin:0 !important;
}

.resultsFighter {
  position: relative;
  height: 85vh;
  background:linear-gradient(180deg, rgba( 36, 113, 163, 0.7) 54%, rgba( 174, 214, 241 , 0.7) 83%);
  margin: auto;
  border-radius: 2vw;
  border: 10px solid rgba( 174, 214, 241 , 0.7);
}

.resultsFighter h1.badge{
  position: absolute;
  left:1vw;
  font-size:6vh !important;
  font-weight: bold;
  background-color: white;
  color: red;
  border:1px solid black;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.6);
}

.photoResult {
  position:absolute;
  top:50%;
  left:50%;
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  overflow: hidden;
  border: 10px solid #268BD2;
  box-shadow: 5px 5px 20px black;
  background: linear-gradient(#268BD2, white);
  /* background: linear-gradient(gold, white); */
  transition: all 0.5s;
  margin:auto;
  -webkit-transform: translate(-50%, -80%);
  z-index: 2;
}

/* .photoResult:hover {
  width: 27vw;
  height: 27vw;
} */

.photoResult img {
    height: 100%;
    opacity: 1;
}

.photoWinner {
  border: 10px solid gold;
  background: linear-gradient(gold, white);
}

.badge.fighterName {
  position:absolute;
  top:50%;
  left:50%;
  background-color:#268BD2 !important;
  font-size: 6vh !important;
  padding: 10px 25px;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.6);
  -webkit-transform: translate(-50%, 10vh);
  transition: all 0.5s;
}

.badge.fighterWinnerName {
  background-color:gold !important;
  color:red;
  text-shadow: 2px 2px 5px black;
}

.wonElements{
  position: absolute;
  top:50%;
  left:50%;
  -webkit-transform: translate(-50%, 24vh);
  width:100%;
}

.wonElements .badge{
  margin: 2px 1vw;
  font-size: 3.5vw !important;
  background-color: red;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.6);
}

.closeResultsBattle {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2em;
  cursor: pointer;
  transition: all .3s;
}

.closeResultsBattle:hover {
  color:red;
  transform: rotate(90deg);
}

.fighter1Results, .fighter2Results {
  color:green;
  background-color: white;
  padding: 0 20px;
  border-radius:10px;
}

.fighter1Results {
  margin:0 -22px 0 10px;
}

.fighter2Results {
  margin:0 10px 0 -22px;
}

label.considerHP, label.errorLoseHP{
  color:white;
  background-color: #268BD2;
  margin:0px 0 0 0;
  padding:2px 20px;
}

#timerBtn.badge {
  font-size: 4em !important;
  font-weight: bold;
  margin:0;
  padding: 5px 20px;
  background-color: navy;
  color:white;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.6);
  transition: all 1s;
}
