
 .quiz {
   margin: 1em auto;
	 max-width: 90%;
	 display: grid;
	 grid-auto-rows: auto;
	 grid-columns: 1fr;
	 padding: 2em;
	 grid-gap: 1em;
	 border: 1px solid #e9e9eb;
	 box-shadow: 0px 5px 8px rgba(0, 10, 20, 0.06);
}
 .quiz-title {
	 font-size: 2em;
}
 .quiz-question {
	 font-size: 1.15em;
}
 .quiz-answer {
	 position: relative;
	 display: flex;
	 flex-flow: row nowrap;
	 align-items: center;
	 justify-content: flex-start;
	 user-select: none;
	 background: linear-gradient(#fafafc, white);
	 box-shadow: 0px 2px 2px 1px rgba(0, 10, 20, 0.07);
}

.question, .fight {
    width: 80%;
    height: 90px;
    border-radius: 5px;
    background-color: #fafafa;
    box-shadow: 0 0 2rem #babbbc;
    position:relative;
    margin:auto;
}

.question .photo, .fight .photo {
    position:absolute;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #fafafa;
    margin-left: -50px;
    box-shadow: 0 0 .5rem #babbbc;
    left:0;
    top:0;
    background: linear-gradient(#268BD2, white);
    z-index:100;
    transition: ease 0.5s;
}

.question .photo2, .fight .photo2 {
    position:absolute;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #fafafa;
    right:0;
    top:0;
    margin-right: -50px;
    box-shadow: 0 0 .5rem #babbbc;
    background: linear-gradient(#268BD2, white);
    z-index:100;
    transition: ease 0.5s;
}

.question .photo:hover img,.question .photo2:hover img{
  opacity: 0.8;
}

.question img, .fight img {
    height: 100%;
    opacity: 0.4;
}

.fight .photo,.fight .photo2  {
  transform: scale(1.3);
  box-shadow: 0 0 1rem black;
  border: 5px solid #268BD2;
}

.fight img {
    height: 100%;
    opacity: 1;
}

.fight  {
  background-color: #268BD2;
  box-shadow: 0 0 1rem black;
}

.fight h1 {
  margin:25px 0;
}

.question .answerSelected {
  border: 5px solid lime;
  box-shadow: 0 0 1rem black;
  transform: scale(1.1);
}

.question .answerSelected img{
  opacity: 1;
}

.question .content,.fight .content {
    position:absolute;
    width:100%;
    height:100%;
}

.question .content .text {
  color: #268BD2;
}

.question .content .text h3, .question .content .text h6 {
    font-weight: bold;
}

.question .content.correctAnswer {
  background: lightgreen;
  box-shadow: 0 0 2rem black;
  transition: ease 2s;
}

.question .incorrectAnswer {
  border: 5px solid red !important;
  transition: ease 2s;
}

.questionContainer {
  transition: ease 2s;
}

.quiz .form-inline select{
  color: #268BD2;
  background-color: white;
  font-size: 2vh;
}

.quizBattle {
  background-color:rgb(100, 200, 255,0.6) !important;
}

.logoBattle{
  max-height:35px;
  margin-top:20px;
}

.vs {
  color: yellow;
  font-size: 0.7em;
  font-weight: bold;
}
