body {
  background-color: transparent;
}

.myheaderapi {
  position:absolute;
  top:calc(50% - 90px);
  left:calc(50% - 225px);
  width: 450px;
  height:180px;
  padding: 20px;
  box-shadow: 1px 1px 10px #000000;
  background-color: #268BD2;
}

.myheaderapi h1{
  font-weight: bold;
  text-shadow: 2px 2px 5px #000000;
}
.myheaderapi img{
  -webkit-filter: drop-shadow(2px 2px 5px #000 );
}

.myheaderapi h3{
  color:white;
  font-weight: bold;
  text-shadow: 2px 2px 5px #000000;
}

.myheaderapi {
  border: 1px solid white;
  padding: 20px;
  border-radius: 20px;
}

#apiresult {
  color:white;
  font-size: 1.3em;
}

#mcgapi{
  position:absolute;
  display:none;
  top:calc(50% - 75px);
  left:calc(50% - 150px);
  background-color: lightblue;
  width: 300px;
  height: 150px;
  padding: 20px;
}
