<template name="hesgridTemplate">
  <div class="grid oculto">
    <ul id="hexGrid">
      {{#each chalMissions _id}}
          <li class="hex">
            <div class="hexIn">
              <a class="hexLink" href="#">
                <div class='img' style="background-color:{{../missionColor}};">
                  <div class='img2'></div>
                </div>
                <h2 id="order">{{order}}</h2>
                <h1 id="demo1">{{chalMissionDesc}}</h1>
                <p id="demo2">{{chalMissionXP}} XP</p>
              </a>
            </div>
          </li>
      {{/each}}
    </ul>
  </div>
  <div class="grid oculto">
    <ul id="hexGrid">
      {{#each chalMissions _id}}
          <li class="hex">
            <div class="hexIn">
              <a class="hexLink" href="#">
                <div class='img'>
                  <div class='img2'></div>
                </div>
                <h2 id="order">{{order}}</h2>
                <h1 id="demo1">{{chalMissionDesc}}</h1>
                <p id="demo2">{{chalMissionXP}} XP</p>
              </a>
            </div>
          </li>
      {{/each}}
    </ul>
  </div>
  <div class="oculto">
    <ul class="hexagon-grid-container">
      <li class="hexagon hexagon-green">
        <div class="hexagon-inner">
          <img class="hexagon-avatar-img-map" src="/images/@mcg.png" />
          <span class="hexagon-name">Bruce Wayne</span>
          <span class="hexagon-metric-label">Coachability</span>
          <span class="hexagon-featured-score">97</span>
          <span class="hexagon-icon-left hexagon-icon-yellow">
            <i class="fas fa-money-bill-alt"></i>
          </span>
          <span class="hexagon-icon-right hexagon-icon-blue">
            <i class="fa fa-users"></i>
          </span>
        </div>
      </li>

      <li class="hexagon hexagon-green">
        <div class="hexagon-inner">
          <img class="hexagon-avatar-img-map" src="/images/@mcg.png" />
          <span class="hexagon-name">Bruce Wayne</span>
          <span class="hexagon-metric-label">Coachability</span>
          <span class="hexagon-featured-score">97</span>
          <span class="hexagon-icon-left hexagon-icon-yellow">
            <i class="fa fa-money-bill-alt"></i>
          </span>
          <span class="hexagon-icon-right hexagon-icon-blue">
            <i class="fa fa-list-ol"></i>
          </span>
        </div>
      </li>
      <li class="hexagon hexagon-green">
        <div class="hexagon-inner">
          <img class="hexagon-avatar-img-map" src="/images/@mcg.png" />
          <span class="hexagon-name">Bruce Wayne</span>
          <span class="hexagon-metric-label">Coachability</span>
          <span class="hexagon-featured-score">97</span>
          <span class="hexagon-icon-left hexagon-icon-yellow">
            <i class="fa fa-money-bill-alt"></i>
          </span>
          <span class="hexagon-icon-right hexagon-icon-blue">
            <i class="fa fa-list-ol"></i>
          </span>
        </div>
      </li>
      <li class="hexagon hexagon-green">
        <div class="hexagon-inner">
          <img class="hexagon-avatar-img-map" src="/images/@mcg.png" />
          <span class="hexagon-name">Bruce Wayne</span>
          <span class="hexagon-metric-label">Coachability</span>
          <span class="hexagon-featured-score">97</span>
          <span class="hexagon-icon-left hexagon-icon-yellow">
            <i class="fa fa-money-bill-alt"></i>
          </span>
          <span class="hexagon-icon-right hexagon-icon-blue">
            <i class="fa fa-list-ol"></i>
          </span>
        </div>
      </li>
      <li class="hexagon hexagon-green">
        <div class="hexagon-inner">
          <img class="hexagon-avatar-img-map" src="/images/@mcg.png" />
          <span class="hexagon-name">Bruce Wayne</span>
          <span class="hexagon-metric-label">Coachability</span>
          <span class="hexagon-featured-score">97</span>
          <span class="hexagon-icon-left hexagon-icon-yellow">
            <i class="fa fa-money-bill-alt"></i>
          </span>
          <span class="hexagon-icon-right hexagon-icon-blue">
            <i class="fa fa-list-ol"></i>
          </span>
        </div>
      </li>
      <li class="hexagon hexagon-green">
        <div class="hexagon-inner">
          <img class="hexagon-avatar-img-map" src="/images/@mcg.png" />
          <span class="hexagon-name">Bruce Wayne</span>
          <span class="hexagon-metric-label">Coachability</span>
          <span class="hexagon-featured-score">97</span>
          <span class="hexagon-icon-left hexagon-icon-yellow">
            <i class="fa fa-money-bill-alt"></i>
          </span>
          <span class="hexagon-icon-right hexagon-icon-blue">
            <i class="fa fa-list-ol"></i>
          </span>
        </div>
      </li>
      <li class="hexagon hexagon-green">
        <div class="hexagon-inner">
          <img class="hexagon-avatar-img-map" src="/images/@mcg.png" />
          <span class="hexagon-name">Bruce Wayne</span>
          <span class="hexagon-metric-label">Coachability</span>
          <span class="hexagon-featured-score">97</span>
          <span class="hexagon-icon-left hexagon-icon-yellow">
            <i class="fa fa-money-bill-alt"></i>
          </span>
          <span class="hexagon-icon-right hexagon-icon-blue">
            <i class="fa fa-list-ol"></i>
          </span>
        </div>
      </li>
      <li class="hexagon hexagon-green">
        <div class="hexagon-inner">
          <img class="hexagon-avatar-img-map" src="/images/@mcg.png" />
          <span class="hexagon-name">Bruce Wayne</span>
          <span class="hexagon-metric-label">Coachability</span>
          <span class="hexagon-featured-score">97</span>
          <span class="hexagon-icon-left hexagon-icon-yellow">
            <i class="fa fa-money-bill-alt"></i>
          </span>
          <span class="hexagon-icon-right hexagon-icon-blue">
            <i class="fa fa-list-ol"></i>
          </span>
        </div>
      </li>
      <li class="hexagon hexagon-blue">
        <div class="hexagon-inner">
          <img class="hexagon-avatar-img-map" src="/images/@mcg.png" />
          <span class="hexagon-name">Bruce Wayne</span>
          <span class="hexagon-metric-label">Coachability</span>
          <span class="hexagon-featured-score">97</span>
          <span class="hexagon-icon-left hexagon-icon-green">
            <i class="fa fa-money-bill-alt"></i>
          </span>
          <span class="hexagon-icon-right hexagon-icon-red">
            <i class="fa fa-list-ol"></i>
          </span>
        </div>
      </li>
      <li class="hexagon hexagon-blue">
        <div class="hexagon-inner">
          <img class="hexagon-avatar-img-map" src="/images/@mcg.png" />
          <span class="hexagon-name">Bruce Wayne</span>
          <span class="hexagon-metric-label">Coachability</span>
          <span class="hexagon-featured-score">97</span>
          <span class="hexagon-icon-left hexagon-icon-green">
            <i class="fa fa-money-bill-alt"></i>
          </span>
          <span class="hexagon-icon-right hexagon-icon-red">
            <i class="fa fa-list-ol"></i>
          </span>
        </div>
      </li>
      <li class="hexagon hexagon-blue">
        <div class="hexagon-inner">
          <img class="hexagon-avatar-img-map" src="/images/@mcg.png" />
          <span class="hexagon-name">Bruce Wayne</span>
          <span class="hexagon-metric-label">Coachability</span>
          <span class="hexagon-featured-score">97</span>
          <span class="hexagon-icon-left hexagon-icon-green">
            <i class="fa fa-money-bill-alt"></i>
          </span>
          <span class="hexagon-icon-right hexagon-icon-red">
            <i class="fa fa-list-ol"></i>
          </span>
        </div>
      </li>
      <li class="hexagon hexagon-blue">
        <div class="hexagon-inner">
          <img class="hexagon-avatar-img-map" src="/images/@mcg.png" />
          <span class="hexagon-name">Bruce Wayne</span>
          <span class="hexagon-metric-label">Coachability</span>
          <span class="hexagon-featured-score">97</span>
          <span class="hexagon-icon-left hexagon-icon-green">
            <i class="fa fa-money-bill-alt"></i>
          </span>
          <span class="hexagon-icon-right hexagon-icon-red">
            <i class="fa fa-list-ol"></i>
          </span>
        </div>
      </li>
      <li class="hexagon hexagon-blue">
        <div class="hexagon-inner">
          <img class="hexagon-avatar-img-map" src="/images/@mcg.png" />
          <span class="hexagon-name">Bruce Wayne</span>
          <span class="hexagon-metric-label">Coachability</span>
          <span class="hexagon-featured-score">97</span>
          <span class="hexagon-icon-left hexagon-icon-green">
            <i class="fa fa-money-bill-alt"></i>
          </span>
          <span class="hexagon-icon-right hexagon-icon-red">
            <i class="fa fa-list-ol"></i>
          </span>
        </div>
      </li>
      <li class="hexagon hexagon-blue">
        <div class="hexagon-inner">
          <img class="hexagon-avatar-img-map" src="/images/@mcg.png" />
          <span class="hexagon-name">Bruce Wayne</span>
          <span class="hexagon-metric-label">Coachability</span>
          <span class="hexagon-featured-score">97</span>
          <span class="hexagon-icon-left hexagon-icon-green">
            <i class="fa fa-money-bill-alt"></i>
          </span>
          <span class="hexagon-icon-right hexagon-icon-red">
            <i class="fa fa-list-ol"></i>
          </span>
        </div>
      </li>
      <li class="hexagon hexagon-blue">
        <div class="hexagon-inner">
          <img class="hexagon-avatar-img-map" src="/images/@mcg.png" />
          <span class="hexagon-name">Bruce Wayne</span>
          <span class="hexagon-metric-label">Coachability</span>
          <span class="hexagon-featured-score">97</span>
          <span class="hexagon-icon-left hexagon-icon-green">
            <i class="fa fa-money-bill-alt"></i>
          </span>
          <span class="hexagon-icon-right hexagon-icon-red">
            <i class="fa fa-list-ol"></i>
          </span>
        </div>
      </li>
      <li class="hexagon hexagon-blue">
        <div class="hexagon-inner">
          <img class="hexagon-avatar-img-map" src="/images/@mcg.png" />
          <span class="hexagon-name">Bruce Wayne</span>
          <span class="hexagon-metric-label">Coachability</span>
          <span class="hexagon-featured-score">97</span>
          <span class="hexagon-icon-left hexagon-icon-green">
            <i class="fa fa-money-bill-alt"></i>
          </span>
          <span class="hexagon-icon-right hexagon-icon-red">
            <i class="fa fa-list-ol"></i>
          </span>
        </div>
      </li>
      <li class="hexagon hexagon-yellow">
        <div class="hexagon-inner">
          <img class="hexagon-avatar-img-map" src="/images/@mcg.png" />
          <span class="hexagon-name">Bruce Wayne</span>
          <span class="hexagon-metric-label">Progress to Goal</span>
          <span class="hexagon-featured-score">97</span>
          <span class="hexagon-icon-left hexagon-icon-green">
            <i class="fa fa-money-bill-alt"></i>
          </span>
          <span class="hexagon-icon-right hexagon-icon-red">
            <i class="fa fa-list-ol"></i>
          </span>
        </div>
      </li>
      <li class="hexagon hexagon-yellow">
        <div class="hexagon-inner">
          <img class="hexagon-avatar-img-map" src="/images/@mcg.png" />
          <span class="hexagon-name">Bruce Wayne</span>
          <span class="hexagon-metric-label">Progress to Goal</span>
          <span class="hexagon-featured-score">97</span>
          <span class="hexagon-icon-left hexagon-icon-green">
            <i class="fa fa-money-bill-alt"></i>
          </span>
          <span class="hexagon-icon-right hexagon-icon-red">
            <i class="fa fa-list-ol"></i>
          </span>
        </div>
      </li>
      <li class="hexagon hexagon-yellow">
        <div class="hexagon-inner">
          <img class="hexagon-avatar-img-map" src="/images/@mcg.png" />
          <span class="hexagon-name">Bruce Wayne</span>
          <span class="hexagon-metric-label">Progress to Goal</span>
          <span class="hexagon-featured-score">97</span>
          <span class="hexagon-icon-left hexagon-icon-green">
            <i class="fa fa-money-bill-alt"></i>
          </span>
          <span class="hexagon-icon-right hexagon-icon-red">
            <i class="fa fa-list-ol"></i>
          </span>
        </div>
      </li>
      <li class="hexagon hexagon-yellow">
        <div class="hexagon-inner">
          <img class="hexagon-avatar-img-map" src="/images/@mcg.png" />
          <span class="hexagon-name">Bruce Wayne</span>
          <span class="hexagon-metric-label">Progress to Goal</span>
          <span class="hexagon-featured-score">97</span>
          <span class="hexagon-icon-left hexagon-icon-green">
            <i class="fa fa-money-bill-alt"></i>
          </span>
          <span class="hexagon-icon-right hexagon-icon-red">
            <i class="fa fa-list-ol"></i>
          </span>
        </div>
      </li>
      <li class="hexagon hexagon-yellow">
        <div class="hexagon-inner">
          <img class="hexagon-avatar-img-map" src="/images/@mcg.png" />
          <span class="hexagon-name">Bruce Wayne</span>
          <span class="hexagon-metric-label">Progress to Goal</span>
          <span class="hexagon-featured-score">97</span>
          <span class="hexagon-icon-left hexagon-icon-green">
            <i class="fa fa-money-bill-alt"></i>
          </span>
          <span class="hexagon-icon-right hexagon-icon-red">
            <i class="fa fa-list-ol"></i>
          </span>
        </div>
      </li>
      <li class="hexagon hexagon-yellow">
        <div class="hexagon-inner">
          <img class="hexagon-avatar-img-map" src="/images/@mcg.png" />
          <span class="hexagon-name">Bruce Wayne</span>
          <span class="hexagon-metric-label">Progress to Goal</span>
          <span class="hexagon-featured-score">97</span>
          <span class="hexagon-icon-left hexagon-icon-green">
            <i class="fa fa-money-bill-alt"></i>
          </span>
          <span class="hexagon-icon-right hexagon-icon-red">
            <i class="fa fa-list-ol"></i>
          </span>
        </div>
      </li>
      <li class="hexagon hexagon-yellow">
        <div class="hexagon-inner">
          <img class="hexagon-avatar-img-map" src="/images/@mcg.png" />
          <span class="hexagon-name">Bruce Wayne</span>
          <span class="hexagon-metric-label">Progress to Goal</span>
          <span class="hexagon-featured-score">97</span>
          <span class="hexagon-icon-left hexagon-icon-green">
            <i class="fa fa-money-bill-alt"></i>
          </span>
          <span class="hexagon-icon-right hexagon-icon-red">
            <i class="fa fa-list-ol"></i>
          </span>
        </div>
      </li>
      <li class="hexagon hexagon-yellow">
        <div class="hexagon-inner">
          <img class="hexagon-avatar-img-map" src="/images/@mcg.png" />
          <span class="hexagon-name">Bruce Wayne</span>
          <span class="hexagon-metric-label">Progress to Goal</span>
          <span class="hexagon-featured-score">97</span>
          <span class="hexagon-icon-left hexagon-icon-green">
            <i class="fa fa-money-bill-alt"></i>
          </span>
          <span class="hexagon-icon-right hexagon-icon-red">
            <i class="fa fa-list-ol"></i>
          </span>
        </div>
      </li>
      <li class="hexagon hexagon-yellow">
        <div class="hexagon-inner">
          <img class="hexagon-avatar-img-map" src="/images/@mcg.png" />
          <span class="hexagon-name">Bruce Wayne</span>
          <span class="hexagon-metric-label">Progress to Goal</span>
          <span class="hexagon-featured-score">97</span>
          <span class="hexagon-icon-left hexagon-icon-green">
            <i class="fa fa-money-bill-alt"></i>
          </span>
          <span class="hexagon-icon-right hexagon-icon-red">
            <i class="fa fa-list-ol"></i>
          </span>
        </div>
      </li>
      <li class="hexagon hexagon-yellow">
        <div class="hexagon-inner">
          <img class="hexagon-avatar-img-map" src="/images/@mcg.png" />
          <span class="hexagon-name">Bruce Wayne</span>
          <span class="hexagon-metric-label">Progress to Goal</span>
          <span class="hexagon-featured-score">97</span>
          <span class="hexagon-icon-left hexagon-icon-green">
            <i class="fa fa-money-bill-alt"></i>
          </span>
          <span class="hexagon-icon-right hexagon-icon-red">
            <i class="fa fa-list-ol"></i>
          </span>
        </div>
      </li>
      <li class="hexagon hexagon-yellow">
        <div class="hexagon-inner">
          <img class="hexagon-avatar-img-map" src="/images/@mcg.png" />
          <span class="hexagon-name">Bruce Wayne</span>
          <span class="hexagon-metric-label">Progress to Goal</span>
          <span class="hexagon-featured-score">97</span>
          <span class="hexagon-icon-left hexagon-icon-green">
            <i class="fa fa-money-bill-alt"></i>
          </span>
          <span class="hexagon-icon-right hexagon-icon-red">
            <i class="fa fa-list-ol"></i>
          </span>
        </div>
      </li>
      <li class="hexagon hexagon-yellow">
        <div class="hexagon-inner">
          <img class="hexagon-avatar-img-map" src="/images/@mcg.png" />
          <span class="hexagon-name">Bruce Wayne</span>
          <span class="hexagon-metric-label">Progress to Goal</span>
          <span class="hexagon-featured-score">97</span>
          <span class="hexagon-icon-left hexagon-icon-green">
            <i class="fa fa-money-bill-alt"></i>
          </span>
          <span class="hexagon-icon-right hexagon-icon-red">
            <i class="fa fa-list-ol"></i>
          </span>
        </div>
      </li>
      <li class="hexagon hexagon-yellow">
        <div class="hexagon-inner">
          <img class="hexagon-avatar-img-map" src="/images/@mcg.png" />
          <span class="hexagon-name">Bruce Wayne</span>
          <span class="hexagon-metric-label">Progress to Goal</span>
          <span class="hexagon-featured-score">97</span>
          <span class="hexagon-icon-left hexagon-icon-green">
            <i class="fa fa-money-bill-alt"></i>
          </span>
          <span class="hexagon-icon-right hexagon-icon-red">
            <i class="fa fa-list-ol"></i>
          </span>
        </div>
      </li>
      <li class="hexagon hexagon-yellow">
        <div class="hexagon-inner">
          <img class="hexagon-avatar-img-map" src="/images/@mcg.png" />
          <span class="hexagon-name">Bruce Wayne</span>
          <span class="hexagon-metric-label">Progress to Goal</span>
          <span class="hexagon-featured-score">97</span>
          <span class="hexagon-icon-left hexagon-icon-green">
            <i class="fa fa-money-bill-alt"></i>
          </span>
          <span class="hexagon-icon-right hexagon-icon-red">
            <i class="fa fa-list-ol"></i>
          </span>
        </div>
      </li>
      <li class="hexagon hexagon-yellow">
        <div class="hexagon-inner">
          <img class="hexagon-avatar-img-map" src="/images/@mcg.png" />
          <span class="hexagon-name">Bruce Wayne</span>
          <span class="hexagon-metric-label">Progress to Goal</span>
          <span class="hexagon-featured-score">97</span>
          <span class="hexagon-icon-left hexagon-icon-green">
            <i class="fa fa-money-bill-alt"></i>
          </span>
          <span class="hexagon-icon-right hexagon-icon-red">
            <i class="fa fa-list-ol"></i>
          </span>
        </div>
      </li>
      <li class="hexagon hexagon-yellow">
        <div class="hexagon-inner">
          <img class="hexagon-avatar-img-map" src="/images/@mcg.png" />
          <span class="hexagon-name">Bruce Wayne</span>
          <span class="hexagon-metric-label">Progress to Goal</span>
          <span class="hexagon-featured-score">97</span>
          <span class="hexagon-icon-left hexagon-icon-green">
            <i class="fa fa-money-bill-alt"></i>
          </span>
          <span class="hexagon-icon-right hexagon-icon-red">
            <i class="fa fa-list-ol"></i>
          </span>
        </div>
      </li>
      <li class="hexagon hexagon-red">
        <div class="hexagon-inner">
          <img class="hexagon-avatar-img-map" src="/images/@mcg.png" />
          <span class="hexagon-name">Bruce Wayne</span>
          <span class="hexagon-metric-label">Coachability</span>
          <span class="hexagon-featured-score">97</span>
          <span class="hexagon-icon-left hexagon-icon-blue">
            <i class="fa fa-money-bill-alt"></i>
          </span>
          <span class="hexagon-icon-right hexagon-icon-yellow">
            <i class="fa fa-list-ol"></i>
          </span>
        </div>
      </li>
      <li class="hexagon hexagon-red">
        <div class="hexagon-inner">
          <img class="hexagon-avatar-img-map" src="/images/@mcg.png" />
          <span class="hexagon-name">Bruce Wayne</span>
          <span class="hexagon-metric-label">Coachability</span>
          <span class="hexagon-featured-score">97</span>
          <span class="hexagon-icon-left hexagon-icon-blue">
            <i class="fa fa-money-bill-alt"></i>
          </span>
          <span class="hexagon-icon-right hexagon-icon-yellow">
            <i class="fa fa-list-ol"></i>
          </span>
        </div>
      </li>
      <li class="hexagon hexagon-red">
        <div class="hexagon-inner">
          <img class="hexagon-avatar-img-map" src="/images/@mcg.png" />
          <span class="hexagon-name">Bruce Wayne</span>
          <span class="hexagon-metric-label">Coachability</span>
          <span class="hexagon-featured-score">97</span>
          <span class="hexagon-icon-left hexagon-icon-blue">
            <i class="fa fa-money-bill-alt"></i>
          </span>
          <span class="hexagon-icon-right hexagon-icon-yellow">
            <i class="fa fa-list-ol"></i>
          </span>
        </div>
      </li>
      <li class="hexagon hexagon-red">
        <div class="hexagon-inner">
          <img class="hexagon-avatar-img-map" src="/images/@mcg.png" />
          <span class="hexagon-name">Bruce Wayne</span>
          <span class="hexagon-metric-label">Coachability</span>
          <span class="hexagon-featured-score">97</span>
          <span class="hexagon-icon-left hexagon-icon-blue">
            <i class="fa fa-money-bill-alt"></i>
          </span>
          <span class="hexagon-icon-right hexagon-icon-yellow">
            <i class="fa fa-list-ol"></i>
          </span>
        </div>
      </li>
      <li class="hexagon hexagon-red">
        <div class="hexagon-inner">
          <img class="hexagon-avatar-img-map" src="/images/@mcg.png" />
          <span class="hexagon-name">Bruce Wayne</span>
          <span class="hexagon-metric-label">Coachability</span>
          <span class="hexagon-featured-score">97</span>
          <span class="hexagon-icon-left hexagon-icon-blue">
            <i class="fa fa-money-bill-alt"></i>
          </span>
          <span class="hexagon-icon-right hexagon-icon-yellow">
            <i class="fa fa-list-ol"></i>
          </span>
        </div>
      </li>
      <li class="hexagon hexagon-red">
        <div class="hexagon-inner">
          <img class="hexagon-avatar-img-map" src="/images/@mcg.png" />
          <span class="hexagon-name">Bruce Wayne</span>
          <span class="hexagon-metric-label">Coachability</span>
          <span class="hexagon-featured-score">97</span>
          <span class="hexagon-icon-left hexagon-icon-blue">
            <i class="fa fa-money-bill-alt"></i>
          </span>
          <span class="hexagon-icon-right hexagon-icon-yellow">
            <i class="fa fa-list-ol"></i>
          </span>
        </div>
      </li>
      <li class="hexagon hexagon-red">
        <div class="hexagon-inner">
          <img class="hexagon-avatar-img-map" src="/images/@mcg.png" />
          <span class="hexagon-name">Bruce Wayne</span>
          <span class="hexagon-metric-label">Coachability</span>
          <span class="hexagon-featured-score">97</span>
          <span class="hexagon-icon-left hexagon-icon-blue">
            <i class="fa fa-money-bill-alt"></i>
          </span>
          <span class="hexagon-icon-right hexagon-icon-yellow">
            <i class="fa fa-list-ol"></i>
          </span>
        </div>
      </li>
      <li class="hexagon hexagon-red">
        <div class="hexagon-inner">
          <img class="hexagon-avatar-img-map" src="/images/@mcg.png" />
          <span class="hexagon-name">Bruce Wayne</span>
          <span class="hexagon-metric-label">Coachability</span>
          <span class="hexagon-featured-score">97</span>
          <span class="hexagon-icon-left hexagon-icon-blue">
            <i class="fa fa-money-bill-alt"></i>
          </span>
          <span class="hexagon-icon-right hexagon-icon-yellow">
            <i class="fa fa-list-ol"></i>
          </span>
        </div>
      </li>
      <li class="hexagon hexagon-red">
        <div class="hexagon-inner">
          <img class="hexagon-avatar-img-map" src="/images/@mcg.png" />
          <span class="hexagon-name">Bruce Wayne</span>
          <span class="hexagon-metric-label">Coachability</span>
          <span class="hexagon-featured-score">97</span>
          <span class="hexagon-icon-left hexagon-icon-blue">
            <i class="fa fa-money-bill-alt"></i>
          </span>
          <span class="hexagon-icon-right hexagon-icon-yellow">
            <i class="fa fa-list-ol"></i>
          </span>
        </div>
      </li>
      <li class="hexagon hexagon-red">
        <div class="hexagon-inner">
          <img class="hexagon-avatar-img-map" src="/images/@mcg.png" />
          <span class="hexagon-name">Bruce Wayne</span>
          <span class="hexagon-metric-label">Coachability</span>
          <span class="hexagon-featured-score">97</span>
          <span class="hexagon-icon-left hexagon-icon-blue">
            <i class="fa fa-money-bill-alt"></i>
          </span>
          <span class="hexagon-icon-right hexagon-icon-yellow">
            <i class="fa fa-list-ol"></i>
          </span>
        </div>
      </li>
      <li class="hexagon hexagon-red">
        <div class="hexagon-inner">
          <img class="hexagon-avatar-img-map" src="/images/@mcg.png" />
          <span class="hexagon-name">Bruce Wayne</span>
          <span class="hexagon-metric-label">Coachability</span>
          <span class="hexagon-featured-score">97</span>
          <span class="hexagon-icon-left hexagon-icon-blue">
            <i class="fa fa-money-bill-alt"></i>
          </span>
          <span class="hexagon-icon-right hexagon-icon-yellow">
            <i class="fa fa-list-ol"></i>
          </span>
        </div>
      </li>
      <li class="hexagon hexagon-red">
        <div class="hexagon-inner">
          <img class="hexagon-avatar-img-map" src="/images/@mcg.png" />
          <span class="hexagon-name">Bruce Wayne</span>
          <span class="hexagon-metric-label">Coachability</span>
          <span class="hexagon-featured-score">97</span>
          <span class="hexagon-icon-left hexagon-icon-blue">
            <i class="fa fa-money-bill-alt"></i>
          </span>
          <span class="hexagon-icon-right hexagon-icon-yellow">
            <i class="fa fa-list-ol"></i>
          </span>
        </div>
      </li>
      <li class="hexagon hexagon-red">
        <div class="hexagon-inner">
          <img class="hexagon-avatar-img-map" src="/images/@mcg.png" />
          <span class="hexagon-name">Bruce Wayne</span>
          <span class="hexagon-metric-label">Coachability</span>
          <span class="hexagon-featured-score">97</span>
          <span class="hexagon-icon-left hexagon-icon-blue">
            <i class="fa fa-money-bill-alt"></i>
          </span>
          <span class="hexagon-icon-right hexagon-icon-yellow">
            <i class="fa fa-list-ol"></i>
          </span>
        </div>
      </li>
      <li class="hexagon hexagon-red">
        <div class="hexagon-inner">
          <img class="hexagon-avatar-img-map" src="/images/@mcg.png" />
          <span class="hexagon-name">Bruce Wayne</span>
          <span class="hexagon-metric-label">Coachability</span>
          <span class="hexagon-featured-score">97</span>
          <span class="hexagon-icon-left hexagon-icon-blue">
            <i class="fa fa-money-bill-alt"></i>
          </span>
          <span class="hexagon-icon-right hexagon-icon-yellow">
            <i class="fa fa-list-ol"></i>
          </span>
        </div>
      </li>
      <li class="hexagon hexagon-red">
        <div class="hexagon-inner">
          <img class="hexagon-avatar-img-map" src="/images/@mcg.png" />
          <span class="hexagon-name">Bruce Wayne</span>
          <span class="hexagon-metric-label">Coachability</span>
          <span class="hexagon-featured-score">97</span>
          <span class="hexagon-icon-left hexagon-icon-blue">
            <i class="fa fa-money-bill-alt"></i>
          </span>
          <span class="hexagon-icon-right hexagon-icon-yellow">
            <i class="fa fa-list-ol"></i>
          </span>
        </div>
      </li>
      <li class="hexagon hexagon-red">
        <div class="hexagon-inner">
          <img class="hexagon-avatar-img-map" src="/images/@mcg.png" />
          <span class="hexagon-name">Bruce Wayne</span>
          <span class="hexagon-metric-label">Coachability</span>
          <span class="hexagon-featured-score">97</span>
          <span class="hexagon-icon-left hexagon-icon-blue">
            <i class="fa fa-money-bill-alt"></i>
          </span>
          <span class="hexagon-icon-right hexagon-icon-yellow">
            <i class="fa fa-list-ol"></i>
          </span>
        </div>
      </li>
      <li class="hexagon hexagon-red">
        <div class="hexagon-inner">
          <img class="hexagon-avatar-img-map" src="/images/@mcg.png" />
          <span class="hexagon-name">Bruce Wayne</span>
          <span class="hexagon-metric-label">Coachability</span>
          <span class="hexagon-featured-score">97</span>
          <span class="hexagon-icon-left hexagon-icon-blue">
            <i class="fa fa-money-bill-alt"></i>
          </span>
          <span class="hexagon-icon-right hexagon-icon-yellow">
            <i class="fa fa-list-ol"></i>
          </span>
        </div>
      </li>
      <li class="hexagon hexagon-red">
        <div class="hexagon-inner">
          <img class="hexagon-avatar-img-map" src="/images/@mcg.png" />
          <span class="hexagon-name">Bruce Wayne</span>
          <span class="hexagon-metric-label">Coachability</span>
          <span class="hexagon-featured-score">97</span>
          <span class="hexagon-icon-left hexagon-icon-blue">
            <i class="fa fa-money-bill-alt"></i>
          </span>
          <span class="hexagon-icon-right hexagon-icon-yellow">
            <i class="fa fa-list-ol"></i>
          </span>
        </div>
      </li>
      <li class="hexagon hexagon-red">
        <div class="hexagon-inner">
          <img class="hexagon-avatar-img-map" src="/images/@mcg.png" />
          <span class="hexagon-name">Bruce Wayne</span>
          <span class="hexagon-metric-label">Coachability</span>
          <span class="hexagon-featured-score">97</span>
          <span class="hexagon-icon-left hexagon-icon-blue">
            <i class="fa fa-money-bill-alt"></i>
          </span>
          <span class="hexagon-icon-right hexagon-icon-yellow">
            <i class="fa fa-list-ol"></i>
          </span>
        </div>
      </li>

    </ul>
  </div>
</template>
