@import (css) url(https://fonts.googleapis.com/css?family=Roboto:400,500,600);
/*@import url('http://cdn.dhtmlx.com/scheduler/edge/dhtmlxscheduler.css');*/

/*
@import url('https://uicdn.toast.com/tui-calendar/latest/tui-calendar.css');
@import url('https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css');
@import url('https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.css');
*/

#modalScheduler {
  position:fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  z-index:20 !important;
  width:100%;
}

#scheduler_here {
  width:100% !important;
  height:50vh !important;
}

/*
#scheduler_here {
  position:fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  z-index:10000 !important;
  width:90%;
  height:500px;
  border:2px solid lightblue;
  box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.44);
}

*/
.dhx_cal_light {
  z-index:21 !important;
}

.dhtmlx-alert {
  z-index:22 !important;
}
