<template name="scheduler">
  <div class="oculto" id="modalScheduler" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="exampleModalLabel">Calendario</h4>
          </div>
          <div class="jumbotron jumbotron-fluid">
            <div class="container">

              <div id="scheduler_here" class="dhx_cal_container">
                  <div class="dhx_cal_navline">
                  <div class="dhx_cal_prev_button">&nbsp;</div>
                  <div class="dhx_cal_next_button">&nbsp;</div>
                  <div class="dhx_cal_today_button"></div>
                  <div class="dhx_cal_date"></div>
                  <div class="dhx_cal_tab" name="day_tab"></div>
                  <div class="dhx_cal_tab" name="week_tab"></div>
                  <div class="dhx_cal_tab" name="month_tab"></div>
                  <div class="dhx_cal_tab" name="year_tab"></div>
                  <div class="dhx_cal_tab" name="agenda_tab"></div>
                  </div>
                  <div class="dhx_cal_header">
                  </div>
                  <div class="dhx_cal_data">
                  </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default schedulerClose" data-dismiss="modal">Cerrar</button>
          </div>

      </div>
    </div>
  </div>
</template>
