<template name="scheduler">
  <div><button class="btn btn-info" id="schedulerBtn">Calendario</button></div>
  <div id="scheduler_here" class="dhx_cal_container panel oculto" style='width:100%; height:500px;'>
      <div class="dhx_cal_navline">
      <div class="dhx_cal_prev_button">&nbsp;</div>
      <div class="dhx_cal_next_button">&nbsp;</div>
      <div class="dhx_cal_today_button"></div>
      <div class="dhx_cal_date"></div>
      <div class="dhx_cal_tab" name="day_tab"></div>
      <div class="dhx_cal_tab" name="week_tab"></div>
      <div class="dhx_cal_tab" name="month_tab"></div>
      <div class="dhx_cal_tab" name="year_tab"></div>
      <div class="dhx_cal_tab" name="agenda_tab"></div>
      </div>
      <div class="dhx_cal_header">
      </div>
      <div class="dhx_cal_data">
      </div>
  </div>
  <!--
  <div id="tuiCalendar" class="oculto">
    <div id="menu">
        <span id="menu-navi">
          <button type="button" class="btn btn-default btn-sm move-today" data-action="move-today">Today</button>
          <button type="button" class="btn btn-default btn-sm move-day" data-action="move-prev">
            <i class="calendar-icon ic-arrow-line-left" data-action="move-prev"></i>
          </button>
          <button type="button" class="btn btn-default btn-sm move-day" data-action="move-next">
            <i class="calendar-icon ic-arrow-line-right" data-action="move-next"></i>
          </button>
        </span>
        <span id="renderRange" class="render-range"></span>
      </div>

    <div id="calendar"></div>
  </div>
  -->
</template>
