<template name="taskModal">
  <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div id="group_form">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="GroupModalLabel">{{_ 'task'}}</h4>
          </div>
          <div class="modal-body">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#taskInfo" aria-controls="earn" role="tab" data-toggle="tab"> {{_ "taskInfo"}}</a></li>
              <li role="presentation"><a href="#taskNotes" aria-controls="earn" role="tab" data-toggle="tab"> {{_ "taskNotes"}}</a></li>
            </ul>
            <!-- Tab panels -->
            <div class="tab-content container-responsive">
              <div role="tabpanel" class="tab-pane active" id="taskInfo">
                <form role="form" class="missionForm">
                  <div class="row">

                    <div class="col-xs-12 col-sm-7">
                      <div class="form-group">
                        <label for="chalName" class="control-label">{{_ 'name'}}</label>
                        <input type="text" name="chalName" class="form-control input-lg chalName" placeholder="Nombre" tabindex="1" value="{{chalName}}">
                      </div>
                    </div>

                    <div class="col-xs-12 col-sm-3">
                      <div class="form-group">
                        <label for="chalName" class="control-label">XP</label>
                        <input type="text" name="chalName" class="form-control input-lg chalName" placeholder="XP" tabindex="1" value="{{chalName}}">
                      </div>
                    </div>

                    <div class="col-xs-4 col-sm-1">
                      <div class="form-group">
                        <label for="sName" class="control-label">Visible</label>
                        <label class="switch">
                          <input type="checkbox" checked="{{#if missionVisible}}checked{{/if}}" name="missionVisible">
                          <span class="slider round"></span>
                        </label>
                      </div>
                    </div>
                    <!--
                    <div class="col-xs-12">
                      <div class="form-group">
                        <label for="chalDesc" class="control-label">{{_ 'description'}}</label>
                        <textarea class="form-control inputGroup  input-lg" placeholder="Descripción" name="chalDesc" rows="2">{{chalDesc}}</textarea>
                      </div>
                    </div>
                    -->
                  </div>

                  <hr class="colorgraph">
                  <div class="row">
                      <div class="col-xs-4"><input type="submit" class="btn btn-success btn-block btn-lg" value="{{_ 'save'}}"></div>
                    </div>
                </form>
              </div>
              <div role="tabpanel" class="tab-pane" id="taskNotes">
                {{#if mision}}
                  {{#each groups}}
                    <div class="input-group col-xs-12">
                        <h4>{{groupName}}</h4>
                        <div id="studentsPoints">
                          <div class="btn-group btn-group-toggle btn-group-justified" data-toggle="buttons">
                            <label class="btn btn-info btn-emoticon {{activeInput 0}}">
                              <input type="radio" name="options" id="option1" value="0" autocomplete="off"><img class="emoticon" src="https://res.cloudinary.com/myclassgame/image/upload/q_auto,w_auto,h_100,f_auto,dpr_auto/v1549277040/images/star_red.png" title="{{r1}}" />
                            </label>
                            <label class="btn btn-info btn-emoticon {{activeInput 20}}">
                              <input type="radio" name="options" id="option1" value="20" autocomplete="off"><img class="emoticon" src="https://res.cloudinary.com/myclassgame/image/upload/q_auto,w_auto,h_100,f_auto,dpr_auto/v1549277039/images/star_orange.png" title="{{r2}}" />
                            </label>
                            <label class="btn btn-info btn-emoticon {{activeInput 40}}">
                              <input type="radio" name="options" id="option2" value="40" autocomplete="off"><img class="emoticon" src="https://res.cloudinary.com/myclassgame/image/upload/q_auto,w_auto,h_100,f_auto,dpr_auto/v1549277040/images/star_yellow.png" title="{{r3}}" />
                            </label>
                            <label class="btn btn-info btn-emoticon {{activeInput 60}}">
                              <input type="radio" name="options" id="option3" value="60" autocomplete="off"><img class="emoticon" src="https://res.cloudinary.com/myclassgame/image/upload/q_auto,w_auto,h_100,f_auto,dpr_auto/v1549277040/images/star_white.png" title="{{r4}}" />
                            </label>
                            <label class="btn btn-info btn-emoticon {{activeInput 80}}">
                              <input type="radio" name="options" id="option4" value="80" autocomplete="off"><img class="emoticon" src="https://res.cloudinary.com/myclassgame/image/upload/q_auto,w_auto,h_100,f_auto,dpr_auto/v1549277083/images/star_blue.png" title="{{r5}}" />
                            </label>
                            <label class="btn btn-info btn-emoticon {{activeInput 100}}">
                              <input type="radio" name="options" id="option5" value="100" autocomplete="off"><img class="emoticon" src="https://res.cloudinary.com/myclassgame/image/upload/q_auto,w_auto,h_100,f_auto,dpr_auto/v1549277035/images/star_green.png" title="{{r6}}" />
                            </label>
                          </div>
                        </div>
                    </div>
                  {{/each}}
                {{else}}
                  {{#each students}}
                    <div class="input-group col-xs-12">
                        <h4>{{studentName}}</h4>
                        <div id="studentsPoints">
                          <div class="btn-group btn-group-toggle btn-group-justified" title="{{_id}}" data-toggle="buttons">
                            <label class="btn btn-info btn-emoticon {{activeInput 0}}">
                              <input type="radio" name="options" id="option1" value="0" autocomplete="off"><img class="emoticon" src="https://res.cloudinary.com/myclassgame/image/upload/q_auto,w_auto,h_100,f_auto,dpr_auto/v1549277040/images/star_red.png" title="{{r1}}" />
                            </label>
                            <label class="btn btn-info btn-emoticon {{activeInput 20}}">
                              <input type="radio" name="options" id="option1" value="20" autocomplete="off"><img class="emoticon" src="https://res.cloudinary.com/myclassgame/image/upload/q_auto,w_auto,h_100,f_auto,dpr_auto/v1549277039/images/star_orange.png" title="{{r2}}" />
                            </label>
                            <label class="btn btn-info btn-emoticon {{activeInput 40}}">
                              <input type="radio" name="options" id="option2" value="40" autocomplete="off"><img class="emoticon" src="https://res.cloudinary.com/myclassgame/image/upload/q_auto,w_auto,h_100,f_auto,dpr_auto/v1549277040/images/star_yellow.png" title="{{r3}}" />
                            </label>
                            <label class="btn btn-info btn-emoticon {{activeInput 60}}">
                              <input type="radio" name="options" id="option3" value="60" autocomplete="off"><img class="emoticon" src="https://res.cloudinary.com/myclassgame/image/upload/q_auto,w_auto,h_100,f_auto,dpr_auto/v1549277040/images/star_white.png" title="{{r4}}" />
                            </label>
                            <label class="btn btn-info btn-emoticon {{activeInput 80}}">
                              <input type="radio" name="options" id="option4" value="80" autocomplete="off"><img class="emoticon" src="https://res.cloudinary.com/myclassgame/image/upload/q_auto,w_auto,h_100,f_auto,dpr_auto/v1549277083/images/star_blue.png" title="{{r5}}" />
                            </label>
                            <label class="btn btn-info btn-emoticon {{activeInput 100}}">
                              <input type="radio" name="options" id="option5" value="100" autocomplete="off"><img class="emoticon" src="https://res.cloudinary.com/myclassgame/image/upload/q_auto,w_auto,h_100,f_auto,dpr_auto/v1549277035/images/star_green.png" title="{{r6}}" />
                            </label>
                          </div>
                        </div>
                    </div>
                  {{/each}}
                {{/if}}
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default">Cerrar</button>
            <input type="submit" id="notesSubmit" class="btn btn-primary" value="{{_ "save"}}">
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
