<template name="addVillainModal">
  <div class="modal" id="add_villain_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form id="add_student_form">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="AddStudentModalLabel">Añadir villanos</h4>
          </div>
          <div class="modal-body">
              <div class="form-group">
                <label for="student-name" class="control-label">Nombres villanos (separados por coma)</label>
                <input type="text" class="form-control" name="students-names">
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <input type="submit" class="btn btn-primary" value="{{_ "save"}}">
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
