.missionsBtns {
  font-size: 1em;
}

#missionId {
  position: relative;
  width:1000px;
  height:800px;
  border:1px solid blue;
  margin:auto;
  background-image: url("https://i.pinimg.com/originals/9a/15/8b/9a158b5df36c5ca15d1d483af2602501.jpg");
}

.missionP {
  position:absolute;
  padding:1em;
  margin:0;
  background-color: red;
}

#missionP1 {
  top:100px;
  left:100px;
}

#missionP2 {
  top:300px;
  left:200px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: block;
  max-width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.tooltip{
  font-size: 1.5em !important;
}

.tooltip-inner {
  background-color: #2196F3 !important;
  color: #fff;
}

.tooltip.top .tooltip-arrow {
  border-top-color: #2196F3 !important;
}

.tooltip.right .tooltip-arrow {
  border-right-color: #2196F3 !important;
}

.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #2196F3 !important;
}

.tooltip.left .tooltip-arrow {
  border-left-color: #2196F3 !important;
}

div.descTask {
    width: auto;
    height:6em;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 1.5em;
}

div.descTask a{
    color: DodgerBlue;
}
