<template name="cardsList">
  <div class="container">
    <div class="list-group">
      <div class="form-group">
        <div class="input-group" style="padding:0px 10px;">
          <label for="chalDesc">Tipos de cartas</label>
          <div class="row">
            <div class="input-group col-xs-4 input-group-sm">
              <input type="text" class="form-control" id="addCardTypeInput" placeholder="Nuevo tipo de carta" >
              <div class="input-group-btn">
                <button class="btn btn-info addCardType btn-sm" type="button"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></button>
              </div>
            </div>
            </div>
          <div class="row">
            {{#each cardTypes}}
              <div class="input-group col-xs-4 input-group-sm">
                <input type="text" class="form-control" placeholder="" value="{{cardTypeDesc}}">
                <div class="input-group-btn">
                  <button class="btn btn-warning delCardType" title="{{_id}}" type="button"><span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span></button>
                </div>
              </div>
            {{/each}}
          </div>
        </div>
      </div>
    {{#each cards}}
      <div class="form-group">
        <div class="input-group" style="width:15%;float:left;margin-top:20px;">
          <div class="eImage" title="{{_id}}"><img width="70%" alt="Imagen carta" src="{{card_src cardImage}}" /></div>
        </div>
        <div class="input-group" style="width:80%;">
          <div class="input-group col-xs-11">
            <label for="chalDesc">Nombre Carta</label>
            <input type="text" class="form-control inputGroup" name="{{_id}}" id="cardName" {{teacher}} aria-describedby="inputGroupSuccess1Status" value="{{cardName}}">
          </div>
          <div class="input-group col-xs-11">
            <label for="chalDesc">Descripción Carta</label>
            <textarea class="form-control inputGroup" name="{{_id}}" id="cardDescription" {{teacher}} rows="3">{{cardDescription}}</textarea>
          </div>
          <div class="input-group col-xs-11">
            <label for="cardType">Tipo de carta</label>
            <select class="form-control cardType" name="{{_id}}" id="cardType">
              <option value="" selected></option>
              {{#each cardTypes}}
                <option value="{{_id}}" {{selType ../cardType _id}}>{{cardTypeDesc}}</option>
              {{/each}}
            </select>
          </div>
          <div class="input-group col-xs-11">
            <label for="chalDesc">Nivel</label>
            <input type="text" class="form-control inputGroup" name="{{_id}}" id="cardLevel" {{teacher}} aria-describedby="inputGroupSuccess1Status" value="{{cardLevel}}">
          </div>
          <div class="input-group col-xs-11">
            <label for="chalDesc">Precio para utilizarla</label>
            <input type="text" class="form-control inputGroup" name="{{_id}}" id="cardPrice" {{teacher}} aria-describedby="inputGroupSuccess1Status" value="{{cardPrice}}">
          </div>
        </div>
      </div>
    {{/each}}
    </div>

    <form>
      <div class="form-group">
        <label class="control-label" for="inputGroupSuccess1">Nueva Carta</label>
        <div class="input-group" style="width:15%;float:left;margin-top:20px;">
          <div class="eImage" title="{{_id}}"><img width="70%" alt="Imagen carta" src="{{card_src}}" /></div>
        </div>
        <div class="input-group" style="width:80%;">
          <div class="input-group col-xs-11">
            <div class="input-group-addon">
              <span class="input-group-text" id="basic-addon1">Nombre</span>
            </div>
            <input type="text" class="form-control" name="cardName" placeholder="Nombre de la carta" aria-label="Nombre de la carta" aria-describedby="basic-addon1">
          </div>

          <div class="input-group col-xs-11">
            <div class="input-group-addon">
              <span class="input-group-text" id="basic-addon2">Descripción</span>
            </div>
            <input type="text" class="form-control" name="cardDescription" placeholder="Descripción de la carta" aria-label="Descripción de la carta" aria-describedby="basic-addon2">
          </div>

          <div class="input-group col-xs-11">
            <div class="input-group-addon">
              <span class="input-group-text" id="basic-addon2">Tipo de carta</span>
            </div>
            <select class="form-control" name="cardType">
              {{#each cardTypes}}
                <option value="{{_id}}">{{cardTypeDesc}}</option>
              {{/each}}
            </select>
          </div>

          <div class="input-group col-xs-11">
            <div class="input-group-addon">
              <span class="input-group-text" id="basic-addon2">Nivel</span>
            </div>
            <input type="text" class="form-control" name="cardLevel" placeholder="Nivel" aria-label="Nivel" aria-describedby="basic-addon2" value=1>
          </div>
          <div class="input-group col-xs-11">
            <div class="input-group-addon">
              <span class="input-group-text" id="basic-addon2">Precio para utilizarla</span>
            </div>
            <input type="text" class="form-control" name="cardPrice" placeholder="Precio para utilizarla" aria-label="Precio para utilizarla" aria-describedby="basic-addon2" value=0>
          </div>
          <input type="submit" id="btn-save" value="Crear" class="btn btn-info">
          <a class="btn btn-info" href="https://www.hearthcards.net" target="_blank">Hearthcards</a>
          <a class="btn btn-info" href="https://www.clashroyalecardmaker.com/" target="_blank">Clash Royale</a>
        </div>
      </div>
    </form>
  </div>
</template>
