<template name="cardsList">
  <div class="container">
    <div class="list-group">
    {{#each cards}}
      <div class="form-group">
        <div class="input-group" style="width:15%;float:left;margin-top:20px;">
          <div class="eImage" title="{{_id}}"><img width="70%" alt="Imagen carta" src="{{card_src cardImage}}" /></div>
        </div>
        <div class="input-group" style="width:80%;">
          <div class="input-group col-xs-11">
            <label for="chalDesc">Nombre Carta</label>
            <input type="text" class="form-control inputGroup" name="{{_id}}" id="cardName" {{teacher}} aria-describedby="inputGroupSuccess1Status" value="{{cardName}}">
          </div>
          <div class="input-group col-xs-11">
            <label for="chalDesc">Descripción Carta</label>
            <textarea class="form-control inputGroup" name="{{_id}}" id="cardDescription" {{teacher}} rows="3">{{cardDescription}}</textarea>
          </div>
        </div>
      </div>
    {{/each}}
    </div>
    
    <form>
      <div class="form-group">
        <label class="control-label" for="inputGroupSuccess1">Nueva Carta</label>
        <div class="input-group" style="width:15%;float:left;margin-top:20px;">
          <div class="eImage" title="{{_id}}"><img width="70%" alt="Imagen carta" src="{{card_src}}" /></div>
        </div>
        <div class="input-group" style="width:80%;">
          <div class="input-group col-xs-11">
            <div class="input-group-addon">
              <span class="input-group-text" id="basic-addon1">Nombre</span>
            </div>
            <input type="text" class="form-control" name="cardName" placeholder="Nombre de la carta" aria-label="Nombre de la carta" aria-describedby="basic-addon1">
          </div>
          
          <div class="input-group col-xs-11">
            <div class="input-group-addon">
              <span class="input-group-text" id="basic-addon2">Descripción</span>
            </div> 
            <input type="text" class="form-control" name="cardDescription" placeholder="Descripción de la carta" aria-label="Descripción de la carta" aria-describedby="basic-addon2">
          </div>
        </div>
        
        <div class="input-group mb-3">
          <input type="submit" id="btn-save" value="Crear" class="btn btn-info">
          <a class="btn btn-info" href="http://www.hearthcards.net" target="_blank">Hearthcards</a>
        </div>
      </div>
    </form>
  </div>
</template>
