<template name="adventureTemplate">
  <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-xlg" role="document">
      <div class="modal-content" id="adventureHistory">
        <div class="modal-body">
          <button type="button" class="btn btn-default" style="position: absolute; top: 30px; right: -20px;" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></button>
          <div class="jumbotron">
            <h1>Â¡Bienvevidos a la aventura!</h1>
            <p>Bienvenidos a una nueva forma de aprender.</p>
            <div class="input-group col-xs-12">
              <div style="width: 80%; margin:auto;"><div style="position: relative; padding-bottom: 56.25%; padding-top: 0; height: 0;"><iframe frameborder="0" width="1200px" height="675px" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;  border: 1px solid transparent !important;" src="https://view.genial.ly/5bae633c0c96e06f5f373006" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div>
            </div>
            <br />
            <button type="button" class="btn btn-default" style="float:left;" data-dismiss=""><span class="glyphicon glyphicon-backward"></span></button>
            <button type="button" class="btn btn-default" style="float:right;" data-dismiss=""><span class="glyphicon glyphicon-forward"></span></button>
          </div>
         
        </div>
      </div>
    </div>
  </div>
</template>
