<template name="randomPage">
  <!--
  {{> myBreadcrumb}}
  {{> myNav}}
  -->
  <div class="jumbotron">
    <h1>Random!!!</h1>
    <br>
    <p>
      <a id="evento" class="btn btn-primary btn-lg"  data-toggle="modal" data-target="#randomModal" role="button">Evento</a>
      <a id="estudiante" class="btn btn-primary btn-lg"  data-toggle="modal" data-target="#randomModal" role="button">Estudiante</a>
      <a id="equipo" class="btn btn-primary btn-lg"  data-toggle="modal" data-target="#randomModal" role="button">Equipo</a>
      <a id="penalización" class="btn btn-primary btn-lg"  data-toggle="modal" data-target="#randomModal" role="button">Penalización</a>
      <a id="frase" class="btn btn-primary btn-lg"  data-toggle="modal" data-target="#randomModal" role="button">Frase</a>
    </p>
  </div>


  <div class="modal fade" id="randomModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="ModalHeader">Random</h4>
        </div>
        <div class="jumbotron">
          <h1 class="modal-title" id="ModalLabel">Random</h1>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>


</template>
