<template name="newQuestionModal">
  <form id="newQuestionForm" class="oculto">
    <div class="form-group">
      <!-- <label class="control-label" for="inputGroupSuccess1">{{_ 'create'}} {{_ 'question'}}</label>
      {{#if questionImage}}
        <div class="col-xs-12 text-center">
            <div class="thumbnail questionImage">
              <img src="{{questionImageUrl}}">
            </div>
        </div>
      {{/if}} -->
        <div class="col-xs-12">
          <div class="input-group col-xs-12">
            <input type="text" class="form-control questionDescription" name="questionDescription" placeholder="{{_ 'question'}}" aria-label="pregunta" aria-describedby="basic-addon1">
          </div>
        </div>
        {{#if questionImage}}
          <div class="col-xs-12 text-center">
              <div class="thumbnail questionImage">
                <img src="{{questionImageUrl}}">
              </div>
          </div>
        {{/if}}
        <div class="col-xs-12">
          <div class="input-group">
            <label class="control-label" for="inputGroupSuccess1">{{_ 'answers'}}</label>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="input-group">
            <div class="input-group-addon btn answerBtn">
              <span class="input-group-text">A</span>
            </div>
            <input type="text" class="form-control answer" name="answer" placeholder="{{_ 'answer'}} A" aria-label="repuestaA" aria-describedby="basic-addon1">
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="input-group">
            <div class="input-group-addon btn answerBtn">
              <span class="input-group-text">B</span>
            </div>
            <input type="text" class="form-control answer" name="answer" placeholder="{{_ 'answer'}} B" aria-label="respuestaB" aria-describedby="basic-addon1">
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="input-group">
            <div class="input-group-addon btn answerBtn">
              <span class="input-group-text">C</span>
            </div>
            <input type="text" class="form-control answer" name="answer" placeholder="{{_ 'answer'}} C" aria-label="respuestaC" aria-describedby="basic-addon1">
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="input-group">
            <div class="input-group-addon btn answerBtn">
              <span class="input-group-text">D</span>
            </div>
            <input type="text" class="form-control answer" name="answer" placeholder="{{_ 'answer'}} D" aria-label="respuestaD" aria-describedby="basic-addon1">
          </div>
        </div>

      <div class="text-center">
        {{#unless questionImage}}<input type="button" value="{{_ 'image'}}" class="btn btn-warning questionBtnImage">{{/unless}}
        <input type="submit" value="{{_ 'fnew'}} {{_ 'question'}}" class="btn btn-info">
      </div>
    </div>
  </form>
</template>
