<template name="quizCardTemplate">
  <div class="quizCard {{#unless visible}}{{#if isTeacher}}quizCardNotVisible{{/if}}{{/unless}}" style="background: linear-gradient(120deg, {{otherColor ../missionColor}} 0%, {{../missionColor}} 100%);">
    {{#if quizImg}}<img src=''/>{{/if}}
    <img class="quizImg" src='{{cardPic ../missionImg}}'/>
    {{#if TeacherOrVisible}}
      <div class="text">
        <h1 class="text-center">{{_ 'quiz'}} {{order}}</h1>
        <h2 class="text-center">{{quizName}}</h2>
        <p class="text-center">{{quizDesc}}</p>
      </div>
      <h2 class="quizButtons">
        <!-- <div class="missionVisibleBtn">
          <i class="far {{#if missionVisible}}fa-eye{{else}}fa-eye-slash{{/if}}"></i>
        </div> -->
        {{#if isTeacher}}
          <!-- <i class="quizVisible far fa-eye"></i> -->
          <div class="quizVisibleBtn">
            {{#if visible}}
              <span class="glyphicon glyphicon-eye-open quizVisible" aria-hidden="true"></span>
            {{else}}
              <span class="glyphicon glyphicon-eye-close quizVisible" aria-hidden="true"></span>
            {{/if}}
          </div>
          <i class="quizDel fas fa-times chalMissionDel"></i>
        {{/if}}
        <span class="quizBtnCenter" style="background: linear-gradient(120deg, {{otherColor ../missionColor}} 0%, {{../missionColor}} 100%);">
          <!-- <i class="fas fa-th-list"></i><i class="quizBtnInfo fas fa-plus-circle"></i><i class="fas fa-graduation-cap chalMissionGrades"></i> -->
          {{#if isTeacher}}
            <i class="fas fa-chevron-left chalMissionUp"></i>
          {{/if}}
          <i class="quizBtnInfo fas fa-plus-circle"></i>
          {{#if isTeacher}}
            <i class="fas fa-chevron-right chalMissionDown"></i>
          {{/if}}
        </span>
      </h2>
    {{else}}
      <div class="textsecret">
        <h1 class="text-center">{{_ 'quiz'}} {{order}}</h1>
        <img class="quizsecret" src="/images/topsecret.png" />
      </div>
    {{/if}}
  </div>
</template>

<template name="quizCardCreateTemplate">
  <div class="quizCard" style="background: linear-gradient(120deg, {{otherColor missionColor}} 0%, {{missionColor}} 100%);">
    {{#if quizImg}}<img src=''/>{{/if}}
    <img src=''/>
    <div class="text">
      <h1 class="text-center">{{_ 'quiz'}}</h1>
      <h1 class="text-center fasIcon"><i class="fas fa-plus-circle"></i></h1>
      <p class="text-center">{{_ 'new'}} {{_ 'quiz'}}</p>
    </div>
  </div>
</template>
