<template name="quizTemplate">
    <div class="container-fluid float-up">
      {{#with quiz}}
        <h2>
          {{_ 'quiz'}} {{order}}
          <span class="quizVisibleBtn pull-right">
            {{#if visible}}
              <span class="glyphicon glyphicon-eye-open quizVisible" aria-hidden="true"></span>
            {{else}}
              <span class="glyphicon glyphicon-eye-close quizVisible" aria-hidden="true"></span>
            {{/if}}
          </span>
        </h2>
        <hr class="colorgraph">
        <form role="form" class="quizForm">
          <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <label for="quizName" class="control-label">{{_ 'name'}}</label>
                  <input type="text" name="quizName" class="form-control input-lg quizName" placeholder="Nombre" tabindex="1" value="{{quizName}}">
                </div>
              </div>
              <div class="col-xs-12">
                <div class="form-group">
                  <label>{{_ "description"}}</label>
                  <textarea class="form-control quizDesc" name="quizDesc" rows="3">{{quizDesc}}</textarea>
                </div>
              </div>
          </div>
          <br />
          <div class="mb-3">
            <button type="button" class="btn btn-default btn-lg quizRemoveBtn">{{_ 'delete'}}</button>
            <input type="submit" class="btn btn-success btn-lg" value="{{_ 'save'}}">
          </div>
        </form>
      {{/with}}
      <br />
      <div class="form-group has-info">
        <div class="panel panel-info" id="{{_id}}">
          <div class="panel-heading">
            {{_ 'questions'}}
          </div>
          <div class="panel-body questionsPanel">
            <div class="panel-group" id="accordionQuestions" role="tablist" aria-multiselectable="true">
              <!-- {{#each questions}}
                <div class="panel" >
                  <div class="panel-heading" role="button" data-toggle="collapse" data-parent="#accordionQuestions" href="#collapse{{_id}}" aria-expanded="false" aria-controls="collapse{{_id}}" id="heading{{_id}}" style="padding:0px;">
                    <div class="input-group" style="margin:0px;padding:0px;">
                      <h4 class="panel-title" style="padding:8px;">
                        {{question}}
                      </h4>
                    </div>
                  </div>
                  <div id="collapse{{_id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{_id}}">
                    <div class="panel-body">
                      <form class="questionForm">
                        <div class="form-group">
                          {{#if questionImage}}
                            <div class="col-xs-12 text-center">
                                <div class="thumbnail questionImage">
                                  <img src="{{questionImageUrl}}">
                                </div>
                            </div>
                          {{/if}}
                          <label class="control-label" for="inputGroupSuccess1">{{_ 'question'}}:</label>
                          <div class="input-group mb-3">
                            <div class="input-group-addon">
                              <span class="input-group-text">{{_ 'question'}}</span>
                            </div>
                            <input type="text" class="form-control questionDescription" name="questionDescription" placeholder="{{_ 'question'}}" aria-label="pregunta" aria-describedby="basic-addon1" value="{{question}}">
                          </div>
                          <div class="col-xs-12">
                            <label class="control-label" for="inputGroupSuccess1">{{_ 'answers'}}</label>
                          </div>
                          {{#each answers}}
                          <div class="col-xs-12 col-md-6">
                            <div class="input-group mb-3">
                              <div class="input-group-addon btn {{#if correct}}answerSelected{{/if}} answerBtn">
                                <span class="input-group-text">{{_ 'answer'}} {{@index}}</span>
                              </div>
                              <input type="text" class="form-control answer" name="answer" placeholder="{{_ 'answer'}}" aria-label="{{_ 'answer'}}" aria-describedby="basic-addon1" value="{{answer}}">
                            </div>
                          </div>
                          {{/each}}
                          <div class="mb-3 col-xs-12">
                            {{#unless questionImage}}<input type="button" value="{{_ 'image'}}" class="btn btn-warning questionBtnImage">{{/unless}}
                            <input type="button" value="{{_ 'delete'}}" class="btn btn-info deleteQuestionBtn">
                            <input type="submit" value="{{_ 'save'}}" class="btn btn-info saveQuestionBtn">
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              {{/each}} -->
              <div class="text-center">
                {{#if isTeacher}}
                  {{> questionCardCreateTemplate}}
                {{/if}}
                {{#each questions}}
                  {{> questionCardTemplate}}
                {{/each}}
              </div>
            </div>
          </div>
        </div>
      </div>
      {{> newQuestionModal}}
      {{> questionModal}}

      <!-- <div class="panel panel-info" id="{{_id}}">
        <div class="panel-heading">
          {{_ 'create'}} {{_ 'question'}}
        </div>
        <div class="panel-body newQuestionPanel">
          <form class="newQuestionForm">
            <div class="form-group">
              <label class="control-label" for="inputGroupSuccess1">{{_ 'create'}} {{_ 'question'}}</label>
              {{#if questionImage}}
                <div class="col-xs-12 text-center">
                    <div class="thumbnail questionImage">
                      <img src="{{questionImageUrl}}">
                    </div>
                </div>
              {{/if}}
                <div class="col-xs-12">
                  <div class="input-group col-xs-12">
                    <input type="text" class="form-control questionDescription" name="questionDescription" placeholder="{{_ 'question'}}" aria-label="pregunta" aria-describedby="basic-addon1">
                  </div>
                </div>
                <div class="col-xs-12">
                  <div class="input-group">
                    <label class="control-label" for="inputGroupSuccess1">{{_ 'answers'}}</label>
                  </div>
                </div>
                <div class="col-xs-12 col-md-6">
                  <div class="input-group">
                    <div class="input-group-addon btn answerBtn">
                      <span class="input-group-text">A</span>
                    </div>
                    <input type="text" class="form-control answer" name="answer" placeholder="{{_ 'answer'}} A" aria-label="repuestaA" aria-describedby="basic-addon1">
                  </div>
                </div>
                <div class="col-xs-12 col-md-6">
                  <div class="input-group">
                    <div class="input-group-addon btn answerBtn">
                      <span class="input-group-text">B</span>
                    </div>
                    <input type="text" class="form-control answer" name="answer" placeholder="{{_ 'answer'}} B" aria-label="respuestaB" aria-describedby="basic-addon1">
                  </div>
                </div>
                <div class="col-xs-12 col-md-6">
                  <div class="input-group">
                    <div class="input-group-addon btn answerBtn">
                      <span class="input-group-text">C</span>
                    </div>
                    <input type="text" class="form-control answer" name="answer" placeholder="{{_ 'answer'}} C" aria-label="respuestaC" aria-describedby="basic-addon1">
                  </div>
                </div>
                <div class="col-xs-12 col-md-6">
                  <div class="input-group">
                    <div class="input-group-addon btn answerBtn">
                      <span class="input-group-text">D</span>
                    </div>
                    <input type="text" class="form-control answer" name="answer" placeholder="{{_ 'answer'}} D" aria-label="respuestaD" aria-describedby="basic-addon1">
                  </div>
                </div>

              <div class="text-center">
                {{#unless questionImage}}<input type="button" value="{{_ 'image'}}" class="btn btn-warning questionBtnImage">{{/unless}}
                <input type="submit" value="{{_ 'fnew'}} {{_ 'question'}}" class="btn btn-info">
              </div>
            </div>
          </form>
        </div>
      </div> --> -->
    </div>
</template>
