<template name="alumneSubmit">
  <form class="main form page">
    <div class="form-group">
      <label class="control-label" for="url">URL</label>
      <div class="controls">
          <input name="url" id="url" type="text" value="" placeholder="URL del alumne" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="title">Nom</label>
      <div class="controls">
          <input name="nom" id="nom" type="text" value="" placeholder="Nom del alumne" class="form-control"/>
      </div>
    </div>
    <input type="submit" value="Anyadir" class="btn btn-primary"/>
  </form>
</template>
