<template name="oldstudentsPage">
  <ol class="breadcrumb">
    <li><a href="#">Class of Clans</a></li>
    <li><a href="{{pathFor 'classesPage'}}">Classes</a></li>
    <li class="active">Students</li>
  </ol>
  <div class="row">
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <a href="#">
          <img src="/images/user_128.png" alt="...">
          <div class="caption">
            <h2 class="text-center">John</h2>
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <a href="#">
          <img src="/images/add_user_128.png" alt="...">
          <div class="caption">
            <h2 class="text-center">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              Classe
            </h2>
          </div>
        </a>
      </div>
    </div>
  </div>
</template>
