@import url('https://fonts.googleapis.com/css?family=Abel');

.eventCard {
  background: red;
  font-family: Abel, Arial, Verdana, sans-serif;
  float:left;
  margin:10px auto !important;
  border: 2px solid #268BD2;
}

.center{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
}

.eImage {
  text-align: center;
}

.center .glyphicon {
	font-size: 5em;
	color:red;
}

.eventCard {
  width: 450px;
  height: 150px;
  background-color: #fff;
  background: linear-gradient(#268BD2,lightblue);
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin: 1.5rem;
}

.eventCard h1, .eventCard p {
  text-align: center;
  color: white !important;
}

.eventCard .additional {
  position: absolute;
  width: 150px;
  height: 100%;
  background-color: #268BD2;
  box-shadow: 0px 5px 20px -10px #000851;
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
}

.eventCard.green .additional {
  background: linear-gradient(#92bCa6, #A2CCB6);
}


.eventCard:hover .additional {
  width: 100%;
  border-radius: 0 5px 5px 0;
}

.eventCard .additional .user-card {
  width: 150px;
  height: 100%;
  position: relative;
  float: left;
  background: linear-gradient(120deg, #1CB5E0 0%, #000851 100%);
    box-shadow: 0px 5px 20px -10px #000851;
}

.eventCard .additional .user-card::after {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  right: -2px;card
  height: 80%;
  border-left: 2px solid rgba(0,0,0,0.025);
}

.eventCard .additional .user-card .level,
.eventCard .additional .user-card .points {
  top: 15%;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: bold;
  background: rgba(0,0,0,0.4);
  padding: 0.125rem 0.75rem;
  border-radius: 100px;
  width:130px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.eventCard .additional .user-card .points {
  top: 85%;
}

.eventCard .additional .user-card svg {
  top: 50%;
}

.eventCard .additional .more-info {
  width: 300px;
  float: left;
  position: absolute;
  left: 150px;
  height: 100%;
	padding: 1rem;
	padding-top: 0;
	margin:auto;
}

.eventCard .additional .more-info h1 {
  color: #fff;
  margin-bottom: 0;
}

.eventCard.green .additional .more-info h1 {
  color: #224C36;
}

.eventCard .additional .coords {
  margin: 0 1rem;
  color: #fff;
  font-size: 1rem;
}

.eventCard.green .additional .coords {
  color: #325C46;
}

.eventCard .additional .coords span + span {
  float: right;
}

.eventCard .additional .stats {
  font-size: 2rem;
  display: flex;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  top: auto;
  color: #fff;
}

.eventCard.green .additional .stats {
  color: #325C46;
}

.eventCard .additional .stats > div {
  flex: 1;
  text-align: center;
}

.eventCard .additional .stats i {
  display: block;
}

.eventCard .additional .stats div.title {
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

.eventCard .additional .stats div.value {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5rem;
}

.eventCard .additional .stats div.value.infinity {
  font-size: 2.5rem;
}

.eventCard .general {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 0;
}

.eventCard .general .more {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 0.9em;
}

.eventName, .eventDesc {
  text-align: center;
	text-transform: none;
	font-size: 2em !important;
	width:90%;
	margin:10px auto;
	background-color: lightblue;
}

.eventDesc {
  font-size: 1em !important;
}

.general .eventName, .general .eventDesc {
  border: 1px solid transparent !important;
	background-color: transparent;
	color: white;
	font-weight: bold;
}

.more-info .btn {
  font-size: 0.7em !important;
	margin:auto;
}
