.eventCard {
  border: 2px solid #1CB5E0;
}

.eventCard {
  height: 150px;
  background: linear-gradient(#000851,#1CB5E0);
}

.eventCard .additional {
  background-color: #1CB5E0;
}

.eventCard .additional .user-card {
  background: linear-gradient(120deg, #1CB5E0 0%, #000851 100%);
}

.eventName, .eventDesc {
  text-align: center;
	text-transform: none;
	font-size: 2em !important;
	width:90%;
	margin:10px auto;
	background-color: lightblue;
}

.eventDesc {
  font-size: 1em !important;
}

.general .eventName, .general .eventDesc {
  border-style:none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none ;
	background-color: transparent;
	color: white;
	font-weight: bold;
  resize: none;
}

.eventCard .input-group .input-group-addon{
  background-color: #000851 !important;
}

.eventCard input, .eventCard textarea, .eventCard .input-group-addon {
  border: 1px solid #000851 !important;
}

.eventCard .groupBtnCard{
  float: right !important;
}

.eventCard .groupBtnCard *{
  background-color: #000851 !important;
  border: 1px solid #000851;
}
