<template name="allModal">
  <!-- All Modal -->
  <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div id="group_form">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="GroupModalLabel">{{_ "addStudentsTeam"}} "{{groupName}}"</h4>
          </div>
          <div class="modal-body">
              <div class="form-group">
                <label for="student-name" class="control-label">{{_ "team_name"}}</label>
                <input type="text" class="form-control" id="gName" name="gName" value="{{groupName}}">
              </div>
          </div>
          <div class="modal-body">
              <div class="form-group">
                <ul class="list-group">
                  {{#each students}}
                    <button type="button" class="list-group-item  {{studentInGroup _id}}" id="{{_id}}">
                      {{studentName}}
                    </button>
                  {{/each}}
                </ul>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default">{{_ "close"}}</button>
            <input type="submit" id="groupModalSubmit" class="btn btn-primary" value="{{_ "save"}}">
          </div>
        </div>
      </div>
    </div>
  </div>

</template>

<!-- All XP Modal -->
<template name="allXPModal">
  <div class="modal fade studentModal" id="all_xp_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div id="add_card_form">
         <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
           <h4 class="modal-title" id="cardsModalLabel">{{_ "XP"}}</h4>
         </div>
         <div class="modal-body">
           <ul class="nav nav-tabs" role="tablist">
             <li role="presentation" class="active"><a href="#behavioursXP" aria-controls="cartas" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> {{_ "behaviours"}}</a></li>
             <li role="presentation"><a href="#earnLoseXP" aria-controls="cromos" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-sort" aria-hidden="true"></span> {{_ "XP"}}</a></li>
           </ul>
           <!-- Tab panels -->
           <div class="tab-content container-responsive">
             <div role="tabpanel" class="tab-pane active" id="behavioursXP">
               <div class="form-group">
                 <ul class="list-group">
                   {{#each xps}}
                     <button type="button" class="list-group-item" id="{{_id}}">
                       <span class="badge badgeXP">{{points}} XP </span>
                       <h3>{{behaviourName}}</h3>
                       <p>{{behaviourDescription}}</p>
                     </button>
                   {{/each}}
                 </ul>
                 <label for="student-name" class="control-label">{{_ "comments"}}</label>
                 <input type="text" class="form-control" id="commentHP" name="commentHP">
               </div>
             </div>
             <div role="tabpanel" class="tab-pane chromesModal" id="earnLoseXP">
               <div class="billetes text-center">
                   <button type="button" class="btn btn-info" name="one">
                     <span class="badge text-center">1 XP</span>
                   </button>
                   <button type="button" class="btn btn-info" name="two">
                     <span class="badge text-center">2 XP</span>
                   </button>
                   <button type="button" class="btn btn-info" name="three">
                     <span class="badge text-center">3 XP</span>
                   </button>
                   <button type="button" class="btn btn-info" name="five">
                     <span class="badge text-center">5 XP</span>
                   </button>
                   <br/><br/>
                   <button type="button" class="btn btn-info" name="ten">
                     <span class="badge text-center">10 XP</span>
                   </button>
                   <button type="button" class="btn btn-info" name="twenty">
                     <span class="badge text-center">20 XP</span>
                   </button>
                   <button type="button" class="btn btn-info" name="therty">
                     <span class="badge text-center">30 XP</span>
                   </button>
                   <button type="button" class="btn btn-info" name="fifty">
                     <span class="badge text-center">50 XP</span>
                   </button>
                   <br/><br/>
                   <button type="button" class="btn btn-info" name="ten">
                     <span class="badge text-center">100 XP</span>
                   </button>
                   <button type="button" class="btn btn-info" name="twenty">
                     <span class="badge text-center">200 XP</span>
                   </button>
                   <button type="button" class="btn btn-info" name="therty">
                     <span class="badge text-center">300 XP</span>
                   </button>
                   <button type="button" class="btn btn-info" name="fifty">
                     <span class="badge text-center">500 XP</span>
                   </button>
                   <button type="button" class="btn btn-info" name="hundred">
                     <span class="badge text-center">1000 XP</span>
                   </button>
                   <br/><br/>
                   <div class="behaviourType">
                     <span>{{_ "lose"}}</span>
                     <label class="switch">
                       <input id="WinOrLoseXP" type="checkbox" name="WinOrLoseXP" checked>
                       <span class="slider round"></span>
                     </label>
                     <span>{{_ "win"}}</span>
                   </div>
               </div>
               <div class="text-center ">
                 <h2>
                   <span class="label label-success">{{addedXP}} XP</span>
                 </h2>
               </div>
             </div>
           </div>
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-default" data-dismiss="modal">{{_ "close"}}</button>
           <input type="submit" id="xpModalSubmit" class="btn btn-primary" value="{{_ "save"}}">
         </div>
       </div>
     </div>
   </div>
 </div>
</template>

<!-- All HP Modal -->
<template name="allHPModal">
  <div class="modal fade studentModal" id="all_hp_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div id="add_card_form">
         <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
           <h4 class="modal-title" id="cardsModalLabel">{{_ "HP"}}</h4>
         </div>
         <div class="modal-body">
           <ul class="nav nav-tabs" role="tablist">
             <li role="presentation" class="active"><a href="#behavioursHP" aria-controls="cartas" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> {{_ "behaviours"}}</a></li>
             <li role="presentation"><a href="#earnLoseHP" aria-controls="cromos" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-sort" aria-hidden="true"></span> {{_ "HP"}}</a></li>
           </ul>
           <!-- Tab panels -->
           <div class="tab-content container-responsive">
             <div role="tabpanel" class="tab-pane active" id="behavioursHP">
               <div class="form-group">
                 <ul class="list-group">
                   {{#each hps}}
                     <button type="button" class="list-group-item" id="{{_id}}">
                       <span class="badge badgeHP">{{points}} HP </span>
                       <h3>{{behaviourName}}</h3>
                       <p>{{behaviourDescription}}</p>
                     </button>
                   {{/each}}
                 </ul>
                 <label for="student-name" class="control-label">{{_ "comments"}}</label>
                 <input type="text" class="form-control" id="commentHP" name="commentHP">
               </div>
             </div>
             <div role="tabpanel" class="tab-pane chromesModal" id="earnLoseHP">
               <div class="billetes text-center">
                   <button type="button" class="btn btn-info" name="one">
                     <span class="badge text-center">1 HP</span>
                   </button>
                   <button type="button" class="btn btn-info" name="two">
                     <span class="badge text-center">2 HP</span>
                   </button>
                   <button type="button" class="btn btn-info" name="three">
                     <span class="badge text-center">3 HP</span>
                   </button>
                   <button type="button" class="btn btn-info" name="five">
                     <span class="badge text-center">5 HP</span>
                   </button>
                   <br/><br/>
                   <button type="button" class="btn btn-info" name="ten">
                     <span class="badge text-center">10 HP</span>
                   </button>
                   <button type="button" class="btn btn-info" name="twenty">
                     <span class="badge text-center">20 HP</span>
                   </button>
                   <button type="button" class="btn btn-info" name="therty">
                     <span class="badge text-center">30 HP</span>
                   </button>
                   <button type="button" class="btn btn-info" name="fifty">
                     <span class="badge text-center">50 HP</span>
                   </button>
                   <br/><br/>
                   <button type="button" class="btn btn-info" name="ten">
                     <span class="badge text-center">100 HP</span>
                   </button>
                   <button type="button" class="btn btn-info" name="twenty">
                     <span class="badge text-center">200 HP</span>
                   </button>
                   <button type="button" class="btn btn-info" name="therty">
                     <span class="badge text-center">300 HP</span>
                   </button>
                   <button type="button" class="btn btn-info" name="fifty">
                     <span class="badge text-center">500 HP</span>
                   </button>
                   <button type="button" class="btn btn-info" name="hundred">
                     <span class="badge text-center">1000 HP</span>
                   </button>
                   <br/><br/>
                   <div class="behaviourType">
                     <span>{{_ "lose"}}</span>
                     <label class="switch">
                       <input id="WinOrLoseHP" type="checkbox" name="WinOrLoseHP" checked>
                       <span class="slider round"></span>
                     </label>
                     <span>{{_ "win"}}</span>
                   </div>
               </div>
               <div class="text-center ">
                 <h2>
                   <span class="label label-success">{{addedHP}} HP</span>
                 </h2>
               </div>
             </div>
           </div>
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-default" data-dismiss="modal">{{_ "close"}}</button>
           <input type="submit" id="hpModalSubmit" class="btn btn-primary" value="{{_ "save"}}">
         </div>
       </div>
     </div>
   </div>
  </div>
</template>

<!-- All BG Modal -->
<template name="allBGModal">
   <div class="modal fade studentModal" id="bg_modal_group" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div id="add_bg_form">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="HPModalLabel">{{_ "allStudentsBG"}}</h4>
          </div>
          <div class="modal-body">
              <div class="form-group">
                <ul class="list-group">
                  {{#each bgs}}
                    <button type="button" class="list-group-item" id="{{_id}}">
                      <img src="{{srcImage badgeImage}}" style="height:50px;float:left;margin-right:10px;"/>
                      <span class="badge badgeXP">{{points}} XP</span>
                      <div style="width:86%;">
                        <h3>{{badgeName}}</h3>
                        <p>{{badgeDescription}}</p>
                      </div>
                    </button>
                  {{/each}}
                </ul>
                <label for="student-name" class="control-label">{{_ "comments"}}</label>
                <input type="text" class="form-control" id="commentBGGroup" name="commentHPGroup">
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{{_ "close"}}</button>
            <input type="submit" id="bgModalSubmit" class="btn btn-primary" value="{{_ "save"}}">
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<!-- All Cards Modal -->
<template name="allCardsModal">
   <div class="modal fade studentModal" id="all_cards_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div id="add_card_form">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="cardsModalLabel">{{_ "allPowersCollections"}}</h4>
          </div>
          <div class="modal-body">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#cartas" aria-controls="cartas" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> {{_ "powers"}}</a></li>
              <li role="presentation"><a href="#cromos" aria-controls="cromos" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> {{_ "collections"}}</a></li>
            </ul>
            <!-- Tab panels -->
            <div class="tab-content container-responsive">
              <div role="tabpanel" class="tab-pane active cardsModal" id="cartas">
                <h2 class="text-center bg-info">{{_ "powers"}}</h2>
                <div class="form-group">
                  <ul class="list-group">
                    {{#each cards}}
                      <button type="button" class="list-group-item" id="{{_id}}">
                        <img src="{{srcImage cardImage}}" style="height:50px;float:left;margin-right:10px;"/>
                        <div style="width:74%;float:left;">
                          <h3>{{cardName}}</h3>
                          <h4>{{cardDescription}}</h4>
                        </div>
                        <span style="width:10%;float:right;" class="badge text-center badgeXP">{{cardPrice}} <i class="fa fa-coins"></i></span>                      </button>
                    {{/each}}
                  </ul>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane chromesModal" id="cromos">
                <h2 class="text-center bg-info">{{_ "collections"}}</h2>
                <div class="form-group">
                  <ul class="list-group">
                    {{#each chromes}}
                      <button type="button" class="list-group-item" id="{{_id}}">
                        <img src="{{srcImage chromeImage}}" style="height:50px;float:left;margin-right:10px;"/>
                        <div style="width:72%;float:left;">
                          <h3>{{chromeName}}</h3>
                          <h4>{{chromeDescription}}</h4>
                        </div>
                        <span style="width:10%;float:right;" class="price text-center badge badgeXP">{{chromePrice}} <i class="fa fa-coins"></i></span>
                      </button>
                    {{/each}}
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{{_ "close"}}</button>
            <input type="submit" id="cardModalSubmit" class="btn btn-primary" value="{{_ "save"}}">
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<!-- All Coins Modal -->
<template name="allCoinsModal">
   <div class="modal fade studentModal" id="all_coins_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div id="group_form">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="allCoinsModalLabel">{{_ "buy"}}</h4>
          </div>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="modal-body">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#earn" aria-controls="earn" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> {{_ "money"}}</a></li>
              <!-- <li role="presentation"><a href="#spend" aria-controls="spend" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> {{_ "store"}}</a></li> -->
            </ul>
            <!-- Tab panels -->
            <div class="tab-content container-responsive">
              <div role="tabpanel" class="tab-pane active" id="earn">
                <h2 class="text-center bg-info">{{_ "money"}}</h2>
                  <div class="billetes text-center">
                      <button type="button" class="btn btn-info" name="one">
                        <span class="badge text-center">1 <i class="fa fa-coins"></i></span>
                      </button>
                      <button type="button" class="btn btn-info" name="two">
                        <span class="badge text-center">2 <i class="fa fa-coins"></i></span>
                      </button>
                      <button type="button" class="btn btn-info" name="three">
                        <span class="badge text-center">3 <i class="fa fa-coins"></i></span>
                      </button>
                      <button type="button" class="btn btn-info" name="five">
                        <span class="badge text-center">5 <i class="fa fa-coins"></i></span>
                      </button>
                      <br/><br/>
                      <button type="button" class="btn btn-info" name="ten">
                        <span class="badge text-center">10 <i class="fa fa-coins"></i></span>
                      </button>
                      <button type="button" class="btn btn-info" name="twenty">
                        <span class="badge text-center">20 <i class="fa fa-coins"></i></span>
                      </button>
                      <button type="button" class="btn btn-info" name="therty">
                        <span class="badge text-center">30 <i class="fa fa-coins"></i></span>
                      </button>
                      <button type="button" class="btn btn-info" name="fifty">
                        <span class="badge text-center">50 <i class="fa fa-coins"></i></span>
                      </button>
                      <br/><br/>
                      <button type="button" class="btn btn-info" name="ten">
                        <span class="badge text-center">100 <i class="fa fa-coins"></i></span>
                      </button>
                      <button type="button" class="btn btn-info" name="twenty">
                        <span class="badge text-center">200 <i class="fa fa-coins"></i></span>
                      </button>
                      <button type="button" class="btn btn-info" name="therty">
                        <span class="badge text-center">300 <i class="fa fa-coins"></i></span>
                      </button>
                      <button type="button" class="btn btn-info" name="fifty">
                        <span class="badge text-center">500 <i class="fa fa-coins"></i></span>
                      </button>
                      <button type="button" class="btn btn-info" name="hundred">
                        <span class="badge text-center">1000 <i class="fa fa-coins"></i></span>
                      </button>
                      <br/><br/>
                      <div class="behaviourType">
                        <span>{{_ "lose"}}</span>
                        <label class="switch">
                          <input id="AllWinOrLose" type="checkbox" name="AllWinOrLose" checked>
                          <span class="slider round"></span>
                        </label>
                        <span>{{_ "win"}}</span>
                      </div>
                    </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="spend">
                <h2 class="text-center bg-info">{{_ "store"}}</h2>
                <div class="form-group">
                  <ul class="list-group">
                    {{#each itemList}}
                      <button type="button" class="list-group-item" id="{{_id}}">
                        <img src="{{srcImage itemImage}}" style="height:50px;float:left;margin-right:10px;"/>
                        <div style="width:72%;float:left;">
                          <h3>{{itemName}}</h3>
                          <p>{{itemDescription}}</p>
                        </div>
                        <span style="width:12%;float:right;" class="price text-center badge badgeXP">{{price}} <i class="fa fa-coins"></i></span>
                      </button>
                    {{/each}}
                  </ul>
                </div>
              </div>
            </div>
            <div class="text-center ">
              <h2>
                <span class="label label-success">{{wonCoins}} <i class="fa fa-coins"></i></span>
                <span class="label label-warning">{{spentCoins}} <i class="fa fa-coins"></i></span>
              </h2>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default">{{_ "close"}}</button>
            <input type="submit" id="allCoinsModalSubmit" class="btn btn-primary" value="{{_ "save"}}">
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<!-- All Store Modal -->
<template name="allStoreModal">
   <div class="modal fade studentModal" id="all_store_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div id="group_form">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="allCoinsModalLabel">{{_ "buy"}}</h4>
          </div>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="modal-body">
            <ul class="nav nav-tabs" role="tablist">
              <!-- <li role="presentation" class="active"><a href="#earn" aria-controls="earn" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> {{_ "money"}}</a></li> -->
              <li role="presentation" class="active"><a href="#spend" aria-controls="spend" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> {{_ "store"}}</a></li>
            </ul>
            <!-- Tab panels -->
            <div class="tab-content container-responsive">
              <div role="tabpanel" class="tab-pane" id="earn">
                <h2 class="text-center bg-info">{{_ "money"}}</h2>
                  <div class="billetes text-center">
                      <button type="button" class="btn btn-info" name="one">
                        <span class="badge text-center">1 <i class="fa fa-coins"></i></span>
                      </button>
                      <button type="button" class="btn btn-info" name="two">
                        <span class="badge text-center">2 <i class="fa fa-coins"></i></span>
                      </button>
                      <button type="button" class="btn btn-info" name="three">
                        <span class="badge text-center">3 <i class="fa fa-coins"></i></span>
                      </button>
                      <button type="button" class="btn btn-info" name="five">
                        <span class="badge text-center">5 <i class="fa fa-coins"></i></span>
                      </button>
                      <br/><br/>
                      <button type="button" class="btn btn-info" name="ten">
                        <span class="badge text-center">10 <i class="fa fa-coins"></i></span>
                      </button>
                      <button type="button" class="btn btn-info" name="twenty">
                        <span class="badge text-center">20 <i class="fa fa-coins"></i></span>
                      </button>
                      <button type="button" class="btn btn-info" name="therty">
                        <span class="badge text-center">30 <i class="fa fa-coins"></i></span>
                      </button>
                      <button type="button" class="btn btn-info" name="fifty">
                        <span class="badge text-center">50 <i class="fa fa-coins"></i></span>
                      </button>
                      <br/><br/>
                      <button type="button" class="btn btn-info" name="ten">
                        <span class="badge text-center">100 <i class="fa fa-coins"></i></span>
                      </button>
                      <button type="button" class="btn btn-info" name="twenty">
                        <span class="badge text-center">200 <i class="fa fa-coins"></i></span>
                      </button>
                      <button type="button" class="btn btn-info" name="therty">
                        <span class="badge text-center">300 <i class="fa fa-coins"></i></span>
                      </button>
                      <button type="button" class="btn btn-info" name="fifty">
                        <span class="badge text-center">500 <i class="fa fa-coins"></i></span>
                      </button>
                      <button type="button" class="btn btn-info" name="hundred">
                        <span class="badge text-center">1000 <i class="fa fa-coins"></i></span>
                      </button>
                      <br/><br/>
                    </div>
              </div>
              <div role="tabpanel" class="tab-pane active" id="spend">
                <h2 class="text-center bg-info">{{_ "store"}}</h2>
                <div class="form-group">
                  <ul class="list-group">
                    {{#each itemList}}
                      <button type="button" class="list-group-item" id="{{_id}}">
                        <img src="{{srcImage itemImage}}" style="height:50px;float:left;margin-right:10px;"/>
                        <div style="width:72%;float:left;">
                          <h3>{{itemName}}</h3>
                          <p>{{itemDescription}}</p>
                        </div>
                        <span style="width:12%;float:right;" class="price text-center badge badgeXP">{{price}} <i class="fa fa-coins"></i></span>
                      </button>
                    {{/each}}
                  </ul>
                </div>
              </div>
            </div>
            <div class="text-center ">
              <h2>
                <span class="label label-success">{{wonCoins}} <i class="fa fa-coins"></i></span>
                <span class="label label-warning">{{spentCoins}} <i class="fa fa-coins"></i></span>
              </h2>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default">{{_ "close"}}</button>
            <input type="submit" id="allStoreModalSubmit" class="btn btn-primary" value="{{_ "save"}}">
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
