<template name="badgeModal">
      <!-- Badge Modal -->

  <div class="modal badgeModal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div id="group_form">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="GroupModalLabel">{{_ "badges"}}</h4>
          </div>
          <div class="modal-body">
              <div class="form-group">
                <ul class="list-group">
                  {{#each badgesList}}
                    <button type="button" class="list-group-item" id="{{_id}}">
                      <img src="{{srcImage badgeImage}}" style="width:12%;float:left;margin-right:10px;"/>
                      <span class="badge">{{points}}</span>
                      <div style="width:86%;">
                        <h4>{{badgeDescription}}</h4>
                      </div>
                    </button>
                  {{/each}}
                </ul>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default">{{_ "close"}}</button>
            <input type="submit" id="badgeModalSubmit" class="btn btn-primary" value="{{_ "save"}}">
          </div>
        </div>
      </div>
    </div>
  </div>

</template>
