<template name="cardsModal">
  <!-- HP Modal -->
   <div class="modal" id="cards_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div id="add_card_form">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="cardsModalLabel">Cartas y cromos</h4>
          </div>
          <div class="modal-body">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#cartas" aria-controls="cartas" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Cartas</a></li>
              <li role="presentation"><a href="#cromos" aria-controls="cromos" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Cromos</a></li>
            </ul>
            <!-- Tab panels -->
            <div class="tab-content container-responsive">
              <div role="tabpanel" class="tab-pane active cardsModal" id="cartas">
                <h2 class="text-center bg-info">Cartas</h2>
                <div class="form-group">
                  <ul class="list-group">
                    {{#each cards}}
                      <button type="button" class="list-group-item {{cardIn _id}}" id="{{_id}}">
                        <img src="{{srcImage cardImage}}" style="width:12%;float:left;margin-right:10px;"/>
                        <div style="width:74%;float:left;">
                          <h3>{{cardName}}</h3>
                          <h4>{{cardDescription}}</h4>
                        </div>
                        <span style="width:10%;float:right;" class="badge text-center">{{cardPrice}}</span>
                      </button>
                    {{/each}}
                  </ul>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane chromesModal" id="cromos">
                <h2 class="text-center bg-info">Cromos</h2>
                <div class="form-group">
                  <ul class="list-group">
                    {{#each chromes}}
                      <button type="button" class="list-group-item {{chromeIn _id}}" id="{{_id}}">
                        <img src="{{srcImage chromeImage}}" style="width:12%;float:left;margin-right:10px;"/>
                        <div style="width:72%;float:left;">
                          <h3>{{chromeName}}</h3>
                          <h4>{{chromeDescription}}</h4>
                        </div>
                        <span style="width:12%;float:right;" class="price text-center">{{chromePrice}}</span>
                      </button>
                    {{/each}}
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <input type="submit" id="cardModalSubmit" class="btn btn-primary" value="{{_ "save"}}">
          </div>
        </div>
      </div>
    </div>
  </div>

</template>
