<template name="cardsModal">
  <!-- HP Modal -->
   <div class="modal fade studentModal" id="cards_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div id="add_card_form">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="cardsModalLabel">{{_ "powers"}}</h4>
          </div>
          <div class="modal-body">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#cartas" aria-controls="cartas" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> {{_ "powers"}}</a></li>
              <!--<li role="presentation"><a href="#cromos" aria-controls="cromos" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> {{_ "collections"}}</a></li>-->
            </ul>
            <!-- Tab panels -->
            <div class="tab-content container-responsive">
              <div role="tabpanel" class="tab-pane active cardsModal" id="cartas">
                <h2 class="text-center bg-info">{{_ "powers"}}</h2>
                <div class="form-group">
                  <ul class="list-group">
                    {{#each cards}}
                      <button type="button" class="list-group-item {{cardIn _id}}" id="{{_id}}" disabled="{{#if cardDisabled}}disabled{{/if}}">
                        <span class="elementLevel">{{cardLevel}}</span>
                        <img src="{{srcImage cardImage}}" class="elementImage" />
                        <div style="width:74%;float:left;">
                          <h3>{{cardName}}</h3>
                          <p>{{cardDescription}}</p>
                        </div>
                        <span style="width:10%;float:right;" class="badge text-center badgeXP">{{cardPrice}} <i class="fa fa-coins"></i></span>
                      </button>
                    {{/each}}
                  </ul>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane chromesModal" id="cromos">
                <h2 class="text-center bg-info">{{_ "collections"}}</h2>
                <div class="form-group">
                  <ul class="list-group">
                    {{#each chromes}}
                      <button type="button" class="list-group-item" data-chromeId="{{_id}}" {{chromeDisabled}} >
                        <span class="elementLevel">{{chromeLevel}}</span>
                        <img src="{{srcImage chromeImage}}" class="elementImage" />
                        <div style="width:72%;float:left;">
                          <h3>{{chromeName}}</h3>
                          <p>{{chromeDescription}}</p>
                        </div>
                        <span style="width:12%;float:right;" class="badge price text-center badgeXP">{{chromePrice}} <i class="fa fa-coins"></i></span>
                      </button>
                    {{/each}}
                  </ul>
                </div>
              </div>
              <!--
              <div class="text-center ">
                <h2>
                  <span class="label label-primary">{{coins}} <i class="fa fa-coins"></i></span>
                  <span class="label label-warning">{{spentCoins}} <i class="fa fa-coins"></i></span>
                </h2>
              </div>
              -->
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{{_ "close"}}</button>
            <input type="submit" id="cardModalSubmit" class="btn btn-primary" value="{{_ "save"}}">
          </div>
        </div>
      </div>
    </div>
  </div>

</template>
