<template name="groupsPage">
  <div class="row">
      {{#each groups}}
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <div class="thumbnail">
              <h2 class="text-center bg-primary">{{groupName}}</h2>
              <img src="{{image}}" alt="...">
              <h2 class="text-center">
                <button type="button" class="btn btn-success btn-xp" data-toggle="modal" name="{{_id}}">
                      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                      XP
                </button>
                <button type="button" class="btn btn-warning btn-hp" data-toggle="modal" name="{{_id}}">
                      <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                      HP
                </button>
              </h2>
              <div class="caption">
                <h2 class="text-center">
                  <button type="button" class="btn btn-primary" data-toggle="modal" name="{{_id}}">{{groupName}}</button>
                  <button type="button" class="btn btn-danger btn-delete-group" name="{{_id}}">
                    Eliminar
                  </button>
                </h2>  
              </div>
          </div>
        </div>
      {{/each}}
      {{#if teacher}}
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <div class="thumbnail">
              <h2 class="text-center bg-success">Añadir grupo</h2>
              <img src="{{image}}" alt="...">
              <div class="caption">
                <h2 class="text-center">
                  <button type="button" class="btn btn-success" data-toggle="modal" data-target="#add_group_modal">
                    Grupo
                  </button>
                </h2>
              </div>
          </div>
        </div>
      {{/if}}
  </div>
</template>