<template name="groupsPage">
  {{#if selected}}
      {{> groupPage}}    
  {{else}}
    <div class="row">
        {{#each groups}}
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <h2 class="text-center bg-primary">{{groupName}}</h2>
                <img src="{{gImage groupImg}}" alt="..." class="fotog img" name="{{_id}}" title="Propiedades equipo">
                <h2 class="text-center">
                  <button type="button" class="btn btn-success btn-xp" name="{{_id}}">
                        + {{gXP this._id}} XP
                  </button>
                  {{#if teacher}}
                  <button type="button" class="btn btn-warning btn-hp" name="{{_id}}">
                       - HP
                  </button>
                  {{/if}}
                </h2>
                {{#if teacher}}
                  <div class="caption">
                    <h2 class="text-center">
                      <button type="button" class="btn btn-primary btnGroup" name="{{_id}}">{{groupName}}</button>
                      <button type="button" class="btn btn-danger btn-delete-group" name="{{_id}}">
                        Eliminar
                      </button>
                    </h2>  
                  </div>
                {{/if}}
            </div>
          </div>
        {{/each}}
        {{#if teacher}}
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <h2 class="text-center bg-success">Añadir equipo</h2>
                <img src="{{gImage}}" alt="..." class="fotog img">
                <div class="caption">
                  <h2 class="text-center">
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#add_group_modal">
                      Equipo
                    </button>
                  </h2>
                </div>
            </div>
          </div>
        {{/if}}
    </div>
  {{/if}}
</template>