<template name="groupsPage">
  {{#if selected}}
      {{> groupPage}}
  {{else}}
    <div class="row float-up">
      {{#each groups}}
        <div id="{{_id}}" style="margin:auto;" class="thumbnailStudent">
          <figure class="card {{myuser}}">
            <div class="card__image-container" name="{{_id}}">
              <img class="cardLogo" src="/images/@mcgnb.png">
              <img src="{{gImage}}" class="card__image groupPhoto" name="{{_id}}">
              {{#if selected}}
                <h1 class="cardSelected">&#10004;</h1>
              {{/if}}
            </div>

            <figcaption class="card__caption">
              <h1 class="card__name">{{groupName}}</h1>

              <table class="card__stats">
                <tbody>

                  <tr>
                    <th><span class="btn-xp">XP</span></th>
                    <td><span class="btn-xp">{{gXP this._id}}</span></td>
                  </tr>
                  {{#if teacher}}
                    <tr>
                      <th><span class="btn-hp">HP</span></th>
                      <td><span class="btn-hp"></span></td>
                    </tr>
                  {{/if}}

                </tbody>
              </table>
              <!--
              <div class="cardLine">
              </div>
              <ul class="cardIcons" title="{{_id}}">
                <li><img src="https://res.cloudinary.com/myclassgame/image/upload/v1549270043/images/shield-31869.png" class="btn-badge" /></li>
                <li><img src="https://res.cloudinary.com/myclassgame/image/upload/v1551794067/myclassgame/aberrant-berserker-300x429_izzvai.png" class="btn-cards" /></li>
                <li><img src="https://res.cloudinary.com/myclassgame/image/upload/v1549268143/images/Gold_coin_icon.png" class="btn-store"/></li>
              </ul>

              <div class="cardLine">
              </div>
              <div class="card__abilities">
                <h4 class="card__ability">
                  <span class="card__label">Nivel</span>
                  {{level}}
                </h4>
                <h4 class="card__ability">
                  <span class="card__label">Equipo</span>
                  Anticipation
                </h4>
              </div>
              -->
            </figcaption>
          </figure>
        </div>
      {{/each}}
      {{#if teacher}}
        <div id="{{_id}}" style="margin:auto;" class="thumbnailStudent">
          <figure class="card card--ice" data-toggle="modal" data-target="#add_group_modal">
            <div class="card__image-container" name="{{_id}}">
              <img src="{{gImage}}" alt="Eevee" class="card__image" name="{{_id}}">
            </div>

            <figcaption class="card__caption">
              <h1 class="card__name">{{_ "newTeam"}}</h1>
              <h1 class="card__name"><img src="/images/@mcgnb.png" width="65px"></h1>
            </figcaption>
          </figure>
        </div>
      {{/if}}
    </div>
    <!--
    <div class="row">
        {{#each groups}}
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <h2 class="text-center bg-primary">{{groupName}}</h2>
                <img src="{{gImage}}" alt="..." class="fotog img" name="{{_id}}" title="Propiedades equipo">
                <h2 class="text-center">
                  <button type="button" class="btn btn-success btn-xp" name="{{_id}}">
                        + {{gXP this._id}} XP
                  </button>
                  {{#if teacher}}
                  <button type="button" class="btn btn-warning btn-hp" name="{{_id}}">
                       - HP
                  </button>
                  {{/if}}
                </h2>
                {{#if teacher}}
                  <div class="caption">
                    <h2 class="text-center">
                      <button type="button" class="btn btn-primary btnGroup" name="{{_id}}">{{groupName}}</button>
                      <button type="button" class="btn btn-danger btn-delete-group" name="{{_id}}">
                        Eliminar
                      </button>
                    </h2>
                  </div>
                {{/if}}
            </div>
          </div>
        {{/each}}
        {{#if teacher}}
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail btn" data-toggle="modal" data-target="#add_group_modal">
                <h2 class="text-center bg-success">Añadir equipo</h2>
                <img src="{{gImage}}" alt="..." class="img">
            </div>
          </div>
        {{/if}}
    </div>
    -->
  {{/if}}
</template>
