<template name="storeModal">
      <!-- Store Modal -->

  <div class="modal storeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div id="group_form">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="GroupModalLabel">Tienda</h4>
          </div>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="modal-body">
              <div class="form-group">
                <ul class="list-group">
                  {{#each itemList}}
                    <button type="button" class="list-group-item" id="{{_id}}">
                      <span class="price">{{price}}</span>
                      {{itemDescription}}
                    </button>
                  {{/each}}
                </ul>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default">Cerrar</button>
            <input type="submit" id="storeModalSubmit" class="btn btn-primary" value="Save">
          </div>
        </div>
      </div>
    </div>
  </div>

</template>
