<template name="studentsMainPage">
  <div  class="container-fluid  myContent">
    <form class="form-inline text-center">
      <div class="form-group">
        <input class="form-control form-control-lg text-center input-lg font-weight-bold" id="className" type="text" value="{{className}}">
        <p class="idClass bg-warning">{{idClass}}</p>
      </div>
    </form>
    <br>
    {{#if selected}}
      {{> studentPage}}    
    {{else}}
      <div class="input-group mb-3 submenu">
        <div class="input-group-prepend">
          {{#if teacher}}
            <div class="btn-group" role="group" aria-label="Basic example">
              <label for="evaluacion">Evaluación</label>
              <select id="evaluacion" name="evaluacion">
                <option value="1" selected>1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
            </div>
            <div class="btn-group" role="group" aria-label="Estudiantes o grupos">
              <button id="students" type="button" class="btn btn-sog {{btnSelected "students"}} btn-sm">Estudiantes</button>
              <button id="groups" type="button" class="btn btn-sog {{btnSelected "groups"}} btn-sm">Grupos</button>
            </div>
            <label>Selección</label>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button id="all" type="button" class="btn btn-all btn-sm">Todos</button>
              <button id="all_xp" type="button" class="btn btn-xp btn-sm">XP</button>
              <button id="all_hp" type="button" class="btn btn-hp btn-sm">HP</button>
              <button id="all_bg" type="button" class="btn btn-bg btn-sm">BG</button>
              <button id="all_euros" type="button" class="btn btn-euros btn-sm">€</button>        
            </div>
          {{/if}}   
          <div class="btn-group" role="group" aria-label="Cuadrícula o lista">
            <button id="grid" type="button" class="btn btn-gol {{golSelected "grid"}} btn-sm">Cuadrícula</button>
            <button id="list" type="button" class="btn btn-gol {{golSelected "list"}} btn-sm">Lista</button>
          </div>
        </div>
      </div>
      <br>
      {{#if studentsSelected}}
        {{> studentsPage}}
      {{else}}
        {{> groupsPage}}
      {{/if}}
    {{/if}}
    {{> studentsModals}}
  </div>
</template>
