<template name="studentsMainPage">
  <div  class="container-fluid  myContent">
    <form class="form-inline text-center">
      <div class="form-group">
        <input class="form-control form-control-lg text-center" id="className" type="text" value="{{className}}">
      </div>
    </form>
    <br>
    {{#if teacher}}
      <p class="text-center">
        <button id="students" type="button" class="btn btn-sog {{btnSelected "students"}} btn-sm">Estudiantes</button>
        <button id="groups" type="button" class="btn btn-sog {{btnSelected "groups"}} btn-sm">Grupos</button>
      </p>
    {{/if}}
    <p class="text-center">
      <button id="grid" type="button" class="btn btn-gol {{golSelected "grid"}} btn-sm">
        Cuadrícula
      </button>
      <button id="list" type="button" class="btn btn-gol {{golSelected "list"}} btn-sm">
        Lista
      </button>
    </p>
    <br>
    {{#if studentsSelected}}
      {{> studentsPage}}
    {{else}}
      {{> groupsPage}}
    {{/if}}
    {{> studentsModals}}
  </div>
</template>
