<template name="studentsPage">
  {{#if grid}}
    <div class="row">
      {{#each students}}
        <div class="col-container col-sm-12 col-md-4 col-lg-3">
          <div class="thumbnail {{myuser email}}">
              <h2 class="text-center bg-primary"><span id="alias">{{alias}}</span> ({{studentName}})</h2>
              <div class="caixa">
                <div class="imatge">
                  <p><img src="{{image avatar}}" data-toggle="modal" data-target="{{modalTeacher}}" name="{{_id}}" title="Propiedades estudiante" class="img foto"></p>
                </div>
                <div class="punts">
                  <div class="list-group" id="{{_id}}">
                    <li class="list-group-item list-group-item-warning btn-level" data-toggle="modal">Nivel {{levelAutomatic (_id)}} {{levelDesc (_id)}}</li>
                    <li class="list-group-item list-group-item-success btn-xp" data-toggle="modal">{{XP}} XP</li>
                    <li class="list-group-item list-group-item-danger btn-hp"  data-toggle="modal">{{HP}} HP</li>
                    <li class="list-group-item list-group-item-info btn-badge" data-toggle="modal">{{badges.length}} BG</li>
                    <li class="list-group-item list-group-item-warning btn-store" data-toggle="modal" data-target="#store_modal">{{coins}} €</li>
                  </div>
                </div>
              </div>
              <div class="botons">
                <h2 class="text-center">

                  <!-- <button type="button" class="btn btn-info btn-data" data-toggle="modal" data-target="#mod_student_modal" name="{{_id}}">
                    Información
                  </button> -->
                  <button type="button" class="btn btn-warning btn-info info-grid" data-toggle="modal" name="{{_id}}">
                    Información
                  </button>
                  {{#if teacher}}
                    <button type="button" class="btn btn-danger btn-delete-student" name="{{_id}}">
                      Eliminar
                    </button>
                    <button type="button" class="btn btn-select {{thumbSelected _id}}" name="{{_id}}">
                      ·
                    </button>
                  {{/if}}
                </h2>
              </div>
          </div>
        </div>
      {{/each}}
      {{#if teacher}}
        <div class="col-sm-12 col-md-4 col-lg-3">
          <div class="thumbnail">
              <h2 class="text-center bg-success">Nuevo</h2>
              <img src="/images/add_user_128.png" class="fotoIcono" alt="...">
              <div class="caption">
                <h2 class="text-center">
                  <button type="button" class="btn btn-success" data-toggle="modal" data-target="#add_student_modal">
                    Estudiante
                  </button>
                  <button id="drive" type="button" class="btn btn-primary">
                    Drive
                  </button>
                </h2>
              </div>
          </div>
        </div>
      {{/if}}
    </div>
  {{else}}
    <div class="container-responsive table-responsive">
      <table class="table">
      <thead>
        <tr>
          <th>Estudiante</th>
          <th>Equipo</th>
          <th>Nivel</th>
          <th>XP</th>
          <th>HP</th>
          <th>Badges</th>
          <th>€</th>
          {{#if teacher}}
            <th>Seleccionados</th>
          {{/if}}
        </tr>
      </thead>
      <tbody>
      {{#each students}}
        <tr class="linea" id="{{_id}}">
            <td class="btn-student"><button type="button" class="btn-info info-list btn-xs"><img src="{{image avatar}}" alt="..." class="foto-hor"> {{studentName}}</button></td>
            <td><button type="button" class="btn btn-warning">{{grupo.groupName}}</button></td>
            <td><button type="button" class="btn btn-default">{{levelAutomatic (_id)}} {{levelDesc (_id)}}</button></td>
            <td><button type="button" class="btn btn-success btn-xp" data-toggle="modal">{{XP}} XP</button></td>
            <td><button type="button" class="btn btn-danger btn-hp"  data-toggle="modal">{{HP}} HP</button></td>
            <td><button type="button" class="btn btn-default btn-badge" data-toggle="modal">{{badges.length}} BG</button></td>
            <td><button type="button" class="btn btn-primary btn-store" data-toggle="modal" data-target="#store_modal">{{coins}} €</button></td>
            {{#if teacher}}
              <td><button type="button" class="btn btn-select {{thumbSelected _id}}" name="{{_id}}">Seleccionar</button></td>
            {{/if}}
        </tr>
      {{/each}}
      {{#if teacher}}
        <tr>
          <td><button type="button" class="btn btn-success btn-xp btn-xs"><img src="/images/add_user_128.png" alt="..." class="img-circle foto-hor">Nuevo estudiante</button></td>
          <td><button type="button" class="btn btn-default" data-toggle="modal" data-target="#add_student_modal">Nuevo</button></td>
          <td><button id="drive" type="button" class="btn btn-primary">Drive</button></td>
        </tr>
      {{/if}}
    </tbody>
  </table>
  </div>
  {{/if}}
</template>
