<template name="studentsPage">
  {{#if grid}}
    <div class="row">
      {{#each students}}
        <div class="col-sm-12 col-md-4 col-lg-3">
          <div class="thumbnail">
              <h2 class="text-center bg-primary">{{studentName}}</h2>
              <div class="caixa">
                <div class="imatge">
                  <p><img src="{{image avatar}}" alt="..." class="img-circle foto"></p>
                </div>
                <div class="punts">
                  <div class="list-group" id="{{_id}}">
                    <li class="list-group-item list-group-item-warning btn-level" data-toggle="modal">Nivel {{levelC (_id)}}</li>
                    <li class="list-group-item list-group-item-success btn-xp" data-toggle="modal">{{XP}} XP</li>
                    <li class="list-group-item list-group-item-danger btn-hp"  data-toggle="modal">{{HP}} HP</li>
                    <li class="list-group-item list-group-item-info btn-badge" data-toggle="modal">{{badges.length}} BG</li>
                    <li class="list-group-item list-group-item-warning btn-store" data-toggle="modal" data-target="#store_modal">{{coins}} €</li>
                  </div>
                </div>
              </div>
              <div class="botons">
                <h2 class="text-center">

                  <button type="button" class="btn btn-info btn-data" data-toggle="modal"  data-target="#mod_student_modal" name="{{_id}}">
                    Información
                  </button>
                  <button type="button" class="btn btn-warning btn-powers" data-toggle="modal" name="{{_id}}">
                    Poderes
                  </button>
                  {{#if teacher}}
                    <button type="button" class="btn btn-danger btn-delete-student" name="{{_id}}">
                      Eliminar
                    </button>
                    <button type="button" class="btn btn-select {{thumbSelected _id}}" name="{{_id}}">
                      Seleccionar
                    </button>
                  {{/if}}
                </h2>
              </div>
          </div>
        </div>
      {{/each}}
      {{#if teacher}}
        <div class="col-sm-12 col-md-4 col-lg-3">
          <div class="thumbnail">
              <h2 class="text-center bg-success">Nuevo</h2>
              <img src="/images/add_user_128.png" alt="..." class="foto">
              <div class="caption">
                <h2 class="text-center">
                  <button type="button" class="btn btn-success" data-toggle="modal" data-target="#add_student_modal">
                    Estudiante
                  </button>
                  <button id="drive" type="button" class="btn btn-primary">
                    Drive
                  </button>
                </h2>
              </div>
          </div>
        </div>
      {{/if}}
    </div>
  {{else}}
    <div class="list-group">
      {{#each students}}
          <div class="list-group-item">
            <div class="caixa">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <div class="btn-group" role="group" aria-label="Basic example">
                    <li class="list-inline-item"><button type="button" class="btn btn-success btn-xp"><img src="{{image avatar}}" alt="..." class="img-circle foto-hor"><h6>{{studentName}}</h6></button></li>
                  </div>
                 
                  <li class="list-inline-item">
                    <div class="btn-group btn-group-lg" role="group" aria-label="..." id="{{_id}}">
                      <button type="button" class="btn btn-success"><h6>{{grupo.groupName}}</h6></button>
                      <button type="button" class="btn btn-danger"><h6>Nivel {{levelC (_id)}}</h6></button>
                    </div>
                  </li>

                  <div class="btn-group" role="group" aria-label="Cuadrícula o lista">
                    <button id="grid" type="button" class="btn btn-gol btn-sm">Cuadrícula</button>
                    <button id="list" type="button" class="btn btn-gol btn-sm">Lista</button>
                  </div>
                  {{#if teacher}}
                  <div class="btn-group" role="group" aria-label="Basic example">
                    <button id="all" type="button" class="btn btn-all btn-sm">Todos</button>
                    <button id="all_xp" type="button" class="btn btn-xp btn-sm">XP</button>
                    <button id="all_hp" type="button" class="btn btn-hp btn-sm">HP</button>
                    <button id="all_bg" type="button" class="btn btn-bg btn-sm">BG</button>
                    <button id="all_euros" type="button" class="btn btn-euros btn-sm">€</button>        
                  </div>
                  {{/if}}        
                </div>
              </div>            
              
                
                <ul class="list-inline">
                  <li class="list-inline-item"><button type="button" class="btn btn-success btn-xp"><img src="{{image avatar}}" alt="..." class="img-circle foto-hor"><h6>{{studentName}}</h6></button></li>
                  <li class="list-inline-item">
                    <div class="btn-group btn-group-lg" role="group" aria-label="..." id="{{_id}}">
                      <button type="button" class="btn btn-success"><h6>{{grupo.groupName}}</h6></button>
                      <button type="button" class="btn btn-danger"><h6>Nivel {{levelC (_id)}}</h6></button>
                    </div>
                  </li>
                  <li class="list-inline-item">
                    <div class="btn-group btn-group-lg" role="group" aria-label="..." id="{{_id}}">
                      <button type="button" class="btn btn-success btn-xp" data-toggle="modal"><h6>{{XP}} XP</h6></button>
                      <button type="button" class="btn btn-danger btn-hp"  data-toggle="modal"><h6>{{HP}} HP</h6></button>
                      <button type="button" class="btn btn-info btn-badge" data-toggle="modal"><h6>{{badges.length}} BG</h6></button>
                      <button type="button" class="btn btn-warning btn-store" data-toggle="modal" data-target="#store_modal"><h6>{{coins}} €</h6></button>
                      <button type="button" class="btn btn-select {{thumbSelected _id}}" name="{{_id}}"><h6>Seleccionar</h6></button>
                    </div>
                  </li>
                </ul>
              </div>
          </div>
      {{/each}}
      {{#if teacher}}
        <div class="list-group-item">
          <div class="caixa">
            <ul class="list-inline">
              <li class="list-inline-item"><button type="button" class="btn btn-success btn-xp"><img src="/images/add_user_128.png" alt="..." class="img-circle foto-hor"></button></li>
              <li class="list-inline-item">
                <div class="btn-group btn-group-lg" role="group" aria-label="..." id="{{_id}}">
                  <button type="button" class="btn btn-default" data-toggle="modal" data-target="#add_student_modal">Nuevo</button>
                  <button id="drive" type="button" class="btn btn-primary">Drive</button>
                </div>
              </li>
            </ul>
          </div>
        </div>
      {{/if}}
    </div>
  {{/if}}
</template>
