<template name="myAdventure">
  <div class="container-fluid myAdveture">
    <div class="panel panel-info">
      <div class="panel-heading ">
          <h1>Bienvenido {{studentName}}</h1>
      </div>
      <div class="panel-body">
        {{#with class}}
          <h1>Aventura: {{adventureName}}</h1>
          <div id="sn"></div>
          <br />
          {{#if adventureWeb}}
            <a class="btn btn-info" href="{{adventureWeb}}" target="_blank">Visitar web</a>
          {{/if}}
          <br /><br />
        {{/with}}
        <div class="panel panel-warning">
          <div class="panel-heading">
            {{#with mission}}
              <h2>Misión {{order}}: {{chalName}}</h2>
            {{/with}}
          </div>
          <div class="panel-body">
            {{#with mission}}
              <h3>{{chalDesc}}</h3>
            {{/with}}
            {{#with task}}
            <div class="jumbotron">
              <h2>Tarea {{order}}: {{chalMissionDesc}}</h2>
              <h3>{{chalMissionXP}} XP en juego</h3>
              <h4>{{descTask}}</h4>
              <div class="disableDiv">
                <div class="input-group col-xs-12">
                  <label>Descripción</label>
                  <textarea class="form-control descTask" rows="3">{{descTask}}</textarea>
                </div>
                <div id="studentsPoints">
                  <label>Rúbrica</label>
                  <div class="btn-group btn-group-toggle btn-group-justified" data-toggle="buttons">
                    <label class="btn btn-info btn-emoticon">
                      <img class="emoticon" src="https://res.cloudinary.com/myclassgame/image/upload/v1549277040/images/star_red.png"/>
                      <textarea class="form-control rubricaText r1" rows="3">{{r1}}</textarea>
                    </label>
                    <label class="btn btn-info btn-emoticon">
                      <img class="emoticon" src="https://res.cloudinary.com/myclassgame/image/upload/v1549277039/images/star_orange.png"/>
                      <textarea class="form-control rubricaText r2" rows="3">{{r2}}</textarea>
                    </label>
                    <label class="btn btn-info btn-emoticon">
                      <img class="emoticon" src="https://res.cloudinary.com/myclassgame/image/upload/v1549277040/images/star_yellow.png"/>
                      <textarea class="form-control rubricaText r3" rows="3">{{r3}}</textarea>
                    </label>
                    <label class="btn btn-info btn-emoticon">
                      <img class="emoticon" src="https://res.cloudinary.com/myclassgame/image/upload/v1549277040/images/star_white.png"/>
                      <textarea class="form-control rubricaText r4" rows="3">{{r4}}</textarea>
                    </label>
                    <label class="btn btn-info btn-emoticon">
                      <img class="emoticon" src="https://res.cloudinary.com/myclassgame/image/upload/v1549277083/images/star_blue.png"/>
                      <textarea class="form-control rubricaText r5" rows="3">{{r5}}</textarea>
                    </label>
                    <label class="btn btn-info btn-emoticon">
                      <img class="emoticon" src="https://res.cloudinary.com/myclassgame/image/upload/v1549277035/images/star_green.png"/>
                      <textarea class="form-control rubricaText r6" rows="3">{{r6}}</textarea>
                    </label>
                  </div>
                </div>  
              </div>
            </div>
            {{/with}}
            <button type="button" class="btn btn-default" style="float:left;" data-dismiss=""><span class="glyphicon glyphicon-backward"></span></button>
            <button type="button" class="btn btn-default" style="float:right;" data-dismiss=""><span class="glyphicon glyphicon-forward"></span></button>
          </div>  
        </div>
      </div>
    </div>
  </div>
</template>
