<template name="classesPage">
  {{> myBreadcrumb}}
  {{#if cName}}
  <div  class="container-fluid myContent">
    <h4 id="changeRol">{{_ "aclasses"}}</h4>
    <div class="row">
      <div class="col-sm-12 col-md-4 col-lg-3">
        <div class="thumbnail">
            <h2 class="text-center bg-success">{{_ "nclass"}}</h2>
            <img src="https://res.cloudinary.com/myclassgame/image/upload/v1543412151/proves/grupo.png" class="fotoIcono" alt="...">
            <div class="caption">
              <h2 class="text-center">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#add_class_modal">
                  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                  {{_ "class"}}
                </button>
              </h2>
            </div>
        </div>
      </div>
      {{#each classe}}
        <div class="col-sm-12 col-md-4 col-lg-3">
          <div class="thumbnail">
              <h2 class="text-center bg-info">{{className}}</h2>
              <img src="https://res.cloudinary.com/myclassgame/image/upload/v1543412151/proves/grupo.png" class="fotoIcono" alt="...">
              <div class="caption">
                <h2 class="text-center">
                  <button id="{{_id}}" type="button" class="btn btn-primary btn-class" name="{{className}}">{{className}}</button>
                  {{#if teacher}}
                    <button id="{{_id}}" type="button" class="btn btn-success btn-double-class" name="{{className}}">
                      {{_ "copy"}}
                    </button>
                    <button type="button" class="btn btn-danger btn-store-class" name="{{_id}}">
                      {{_ "vstore"}}
                    </button>
                  {{/if}}
                </h2>
              </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
  <div  class="container-fluid myContent stored_classes">
    <h4 id="adminClass">{{_ "sclasses"}}</h4>
    <div class="row">
      {{#each stored}}
        <div class="col-sm-12 col-md-4 col-lg-3">
          <div class="thumbnail">
              <h2 class="text-center bg-info">{{className}}</h2>
              <img src="https://res.cloudinary.com/myclassgame/image/upload/v1543412151/proves/grupo.png" class="fotoIcono" alt="...">
              <div class="caption">
                <h2 class="text-center">
                  <button id="{{_id}}" type="button" class="btn btn-primary btn-class" name="{{className}}">{{className}}</button>
                  {{#if teacher}}
                    <button id="{{_id}}" type="button" class="btn btn-success btn-restore" name="{{_id}}">
                      {{_ "restore"}}
                    </button>
                    <button type="button" class="btn btn-danger btn-delete-class" name="{{_id}}">
                      {{_ "delete"}}
                    </button>
                  {{/if}}
                </h2>
              </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
  {{else}}
    {{> myNav}}
  {{/if}}
  {{> classesModals}}
</template>
