<!-- Classes Modals -->
<template name="classesModals">
  <div class="modal" id="add_class_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form id="add_class_form">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="exampleModalLabel">Nueva clase/proyecto</h4>
          </div>
          <div class="modal-body">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#teacher" aria-controls="earn" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-education" aria-hidden="true"></span> Profesor</a></li>
              <li role="presentation"><a href="#student" aria-controls="spend" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Estudiante</a></li>
              <li role="presentation"><a href="#parent" aria-controls="spend" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Padre/Madre</a></li>
            </ul>
            <!-- Tab panels -->
            <div class="tab-content container-responsive" style="background-color:#eee;">
              <div role="tabpanel" class="tab-pane active" id="teacher">
                
                <div class="form-group">
                  <label for="class-name" class="control-label">Nombre clase/proyecto</label>
                  <input type="text" class="form-control" id="class-name-teacher" name="class-name-teacher">
                  <br/>
                </div>
                <div class="form-group">
                  <label for="class-name" class="control-label">Código de la clase en la que quieres ser profesor</label>
                  <input type="text" class="form-control" id="class-name-other-teacher" name="class-name-other-teacher">
                </div>
                <div class="form-group">
                  <div class="container-fluid myContent typeClasses">
                    <h4 id="changeRol">{{_ "tclasses"}}</h4>
                    <div class="row">
                      {{#each types}}
                        <figure class="cardType card__blue btn-type">
                          <div class="card__image-containerType" name="{{_id}}">
                            <img class="cardLogo" src="/images/@mcgnb.png">
                            <img src="{{classImage}}" name="{{_id}}">
                          </div>
                          <figcaption class="card__caption">
                            <h1 class="card__name">{{className}}</h1>
                          </figcaption>
                        </figure>
                        <!--
                        <div class="col-xs-6 col-md-3 col-lg-2">
                          <div class="thumbnail btn btn-type">
                            <h2 class="text-center">{{className}}</h2>
                            <img src="{{classImage}}" class="fotoClass" alt="...">
                          </div>
                        </div>
                        -->
                      {{/each}}
                    </div>
                  </div>
                  <div class="panel panel-info">
                    <div class="panel-heading">
                        <p class="panel-title">
                            <a data-toggle="collapse" href="#collapseGC">Clases de Google Classroom</a>
                        </p>
                    </div>
                    <div id="collapseGC" class="panel-collapse collapse">
                        {{> gcCourses}}
                    </div>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="student">
                
                <div class="form-group">
                  <label for="class-name-student" class="control-label">Código de la clase</label>
                  <input type="text" class="form-control" id="class-name-student" name="class-name-student">
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="parent">
                
                <div class="form-group">
                  <label for="class-name-parent" class="control-label">Código de la clase</label>
                  <input type="text" class="form-control" id="class-name-parent" name="class-name-parent">
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <input type="submit" class="btn btn-primary" value="{{_ "save"}}">
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<template name="deleteClass">
  <div class="modal" id="add_class_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form id="add_class_form">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="exampleModalLabel">Borrar clase</h4>
          </div>
          <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4">Borrar la clase</h1>
              <p class="lead">¿Estás seguro de borrar la clase?</p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <input type="submit" class="btn btn-primary" value="Borrar">
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<template name="adminClass">
  <div class="modal" id="add_class_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form id="add_class_form">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="exampleModalLabel">Código clase administrar</h4>
          </div>
          <div class="modal-body">
              <div class="form-group">
                <label for="class-name" class="control-label">Código clase administrar</label>
                <input type="text" class="form-control" id="class-name" name="class-name">
              </div>
              <!--
              <div class="form-group">
                <label for="class-name" class="control-label">Password</label>
                <input type="text" class="form-control" id="adminpass" name="adminpass">
              </div>
              -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <input type="submit" class="btn btn-primary" value="Entrar clase">
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

