<!-- Classes Modals -->
<template name="classesModals">
  <div class="modal" id="add_class_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form id="add_class_form">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="exampleModalLabel">{{_ "nclass"}}</h4>
          </div>
          <div class="modal-body">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#nclass" aria-controls="earn" role="tab" data-toggle="tab"> {{_ "nclass"}}</a></li>
              <li role="presentation"><a href="#classCode" aria-controls="earn" role="tab" data-toggle="tab"> {{_ "classCode"}}</a></li>
              <li role="presentation"><a href="#tclasses" aria-controls="earn" role="tab" data-toggle="tab"> {{_ "tclasses"}}</a></li>
              <li role="presentation"><a href="#googleClassroom" aria-controls="earn" role="tab" data-toggle="tab"> {{_ "Google Classroom"}}</a></li>
              <!--
              <li role="presentation"><a href="#student" aria-controls="spend" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Estudiante</a></li>
              <li role="presentation"><a href="#parent" aria-controls="spend" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Padre/Madre</a></li>
              -->
            </ul>
            <!-- Tab panels -->
            <div class="tab-content container-responsive">
              <div role="tabpanel" class="tab-pane active" id="nclass">
                <div class="form-group">
                  <label for="class-name" class="control-label">{{_ "className"}}</label>
                  <input type="text" class="form-control" id="class-name-teacher" name="class-name-teacher">
                </div>
              </div>

              <div role="tabpanel" class="tab-pane" id="classCode">
                <div class="form-group">
                  <label for="class-name" class="control-label">{{_ "classCode"}}</label>
                  <input type="text" class="form-control" id="class-name-other-teacher" name="class-name-other-teacher">
                </div>
              </div>

              <div role="tabpanel" class="tab-pane" id="tclasses">

                <div class="form-group">
                  <div class="container-fluid myContent typeClasses">
                    <div class="row">
                      {{#each types}}
                        <figure class="cardType card__blue btn-type">
                          <div class="card__image-containerType" name="{{_id}}">
                            <img class="cardLogo" src="/images/@mcgnb.png">
                            <img src="{{classImage}}" name="{{_id}}" class="card__image_type">
                          </div>
                          <figcaption class="card__caption">
                            <h1 class="card__name">{{className}}</h1>
                          </figcaption>
                        </figure>
                        <!--
                        <div class="col-xs-6 col-md-3 col-lg-2">
                          <div class="thumbnail btn btn-type">
                            <h2 class="text-center">{{className}}</h2>
                            <img src="{{classImage}}" class="fotoClass" alt="...">
                          </div>
                        </div>
                        -->
                      {{/each}}
                    </div>
                  </div>
                </div>
              </div>

              <div role="tabpanel" class="tab-pane" id="googleClassroom">
                    <div id="collapseGC">
                        {{> gcCourses}}
                    </div>
              </div>

              <div role="tabpanel" class="tab-pane" id="student">

                <div class="form-group">
                  <label for="class-name-student" class="control-label">Código de la clase</label>
                  <input type="text" class="form-control" id="class-name-student" name="class-name-student">
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="parent">

                <div class="form-group">
                  <label for="class-name-parent" class="control-label">Código de la clase</label>
                  <input type="text" class="form-control" id="class-name-parent" name="class-name-parent">
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{{_ "close"}}</button>
            <input type="submit" class="btn btn-primary" value="{{_ 'save'}}">
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<template name="deleteClass">
  <div class="modal" id="add_class_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form id="add_class_form">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="exampleModalLabel">Borrar clase</h4>
          </div>
          <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4">Borrar la clase</h1>
              <p class="lead">¿Estás seguro de borrar la clase?</p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <input type="submit" class="btn btn-primary" value="Borrar">
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<template name="adminClass">
  <div class="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form>
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="exampleModalLabel">Administrador</h4>
          </div>
          <div class="modal-body">
              <div class="form-group">
                <label for="class-name" class="control-label">Código clase administrar</label>
                <input type="text" class="form-control" id="adminClassId" name="class-name">
                <br />
              </div>
              <input class="btn btn-info" id="adminClassBtn" value="Entrar clase">
              <!-- <input class="btn btn-info" id="deleteUsers" value="Borrar usuarios no usados">
              <input class="btn btn-info" id="deleteClasses" value="Borrar clases no usadas">
              <input class="btn btn-info" id="aliveFalse" value="Reset utilización usuarios y clases"> -->
              <!--
              <div class="form-group">
                <label for="class-name" class="control-label">Password</label>
                <input type="text" class="form-control" id="adminpass" name="adminpass">
              </div>
              -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<template name="userTypeModal">
  <div class="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form class="userTypeModalForm">
          <h3 class="text-center">Tipo de usuario</h3>
          <div class="btn-group-student-login text-center" data-toggle="buttons">
            <label class="btn active" data-toggle="tooltip" title="{{_ 'teacher'}}" data-placement="bottom">
              <input type="radio" name="userType" value="teacher"><i class="fas fa-chalkboard-teacher"></i>
            </label>
            <label class="btn" data-toggle="tooltip" title="{{_ 'student'}}" data-placement="bottom">
              <input type="radio" name="userType" value="student"><i class="fas fa-user-graduate"></i>
            </label>
            <label class="btn" data-toggle="tooltip" title="{{_ 'parent'}}" data-placement="bottom">
              <input type="radio" name="userType" value="parent"><i class="fas fa-home"></i>
            </label>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-info">{{_ "save"}}</button>
          </div>
          <br />
        </form>
      </div>

    </div>
  </div>
</template>
