<template name="classesPage">
  {{> myBreadcrumb}}
  {{#if cName}}
  <div  class="container-fluid myContent">
    <div class="row">
      {{#each classe}}
        <div class="col-xs-12 col-md-3">
          <div class="thumbnail">
              <h2 class="text-center bg-info">{{className}}</h2>
              <img src="/images/user_group_128.png" alt="...">
              <div class="caption">
                <h2 class="text-center">
                  <button id="{{_id}}" type="button" class="btn btn-primary btn-class" name="{{className}}">{{className}}</button>
                  {{#if teacher}}
                    <button type="button" class="btn btn-danger btn-delete-class" name="{{_id}}">
                      Eliminar
                    </button>
                  {{/if}}
                </h2>
              </div>
          </div>
        </div>
      {{/each}}
      <div class="col-xs-12 col-md-3">
        <div class="thumbnail">
            <h2 class="text-center bg-success">Nueva clase</h2>
            <img src="/images/user_group_128.png" alt="...">
            <div class="caption">
              <h2 class="text-center">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#add_class_modal">
                  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                  Class
                </button>
              </h2>
            </div>
        </div>
      </div>
    </div>
  </div>
  {{else}}
    {{> myNav}}
  {{/if}}
  {{> classesModals}}
</template>
