<template name="chatClass">
  <div class="container">
    {{#each messages}}
    <div class="chatContainer {{#if even @index}}darker{{/if}}">
      {{#if teacher}}<span class="glyphicon glyphicon-education" aria-hidden="true"></span>{{/if}}
      {{#unless teacher}}<img src="{{avatar userId}}" alt="Avatar" />{{/unless}}
      <span class="glyphicon glyphicon-remove time-right" aria-hidden="true"></span>
      <p class="aliasChat">{{alias}}:</p>
      <p>{{message}}</p>
      <span class="time-left">{{createdOn}}</span>
    </div>
    {{/each}}
    <form>
      <div class="form-group">
        <label class="control-label" for="inputGroupSuccess1">Nuevo mensaje</label>
        <div class="input-group  col-xs-12">
          <span class="input-group-addon">Nuevo</span>
          <input type="text" class="form-control input-lg" name="message" id="inputGroupSuccess1" aria-describedby="inputGroupSuccess1Status">
          <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
          <span id="inputGroupSuccess1Status" class="sr-only">(success)</span>
        </div>
      </div>
    </form>
  </div>
</template>
