<template name="chatTeachers">
  <div class="container">
    {{#each teacherMessages}}
    <div class="chatContainer {{#if even @index}}darker{{/if}}">  
      <img src="{{avatar userId}}" alt="Avatar" class="{{#if even @index}}right{{/if}}">
      <p>{{message}}</p>
      <span class="time-right  {{#if even @index}}time-left{{/if}}">{{createdOn}}</span>
    </div>
    {{/each}}
    <form>
      <div class="form-group">
        <label class="control-label" for="inputGroupSuccess1">Nuevo mensaje</label>
        <div class="input-group  col-xs-12">
          <span class="input-group-addon">Nuevo</span>
          <input type="text" class="form-control input-lg" name="message" id="inputGroupSuccess1" aria-describedby="inputGroupSuccess1Status">
          <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
          <span id="inputGroupSuccess1Status" class="sr-only">(success)</span>
        </div>
      </div>
    </form>
  </div>
</template>
