.badgeCard {
  border: 2px solid #1CB5E0;
}

.badgeCard {
  height: 210px;
  background: linear-gradient(#000851,#1CB5E0);
}

.badgeCard .additional {
  background-color: #1CB5E0;
}

.badgeCard .additional .user-card {
  background: linear-gradient(120deg, #1CB5E0 0%, #000851 100%);
}

.badgeName {
  text-align: center;
	text-transform: none;
	font-size: 3rem !important;
	width:90%;
	margin:10px auto;
	background-color: lightblue;
  height:5rem !important;
}

.badgeDesc {
  text-align: center;
	text-transform: none;
	width:90%;
	margin:10px auto;
	background-color: lightblue;
  font-size: 1em !important;
}

.general .badgeName, .general .badgeDesc {
  border-style:none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none ;
	background-color: transparent;
	color: white;
	font-weight: bold;
  resize: none;
}

.badgeCard .input-group .input-group-addon{
  background-color: #000851 !important;
}

.badgeCard input, .badgeCard textarea, .badgeCard .input-group-addon {
  border: 1px solid #000851 !important;
}

.badgeCard .groupBtnCard{
  float: right !important;
}

.badgeCard .groupBtnCard *{
  background-color: #000851 !important;
  border: 1px solid #000851;
}

input[type=number] {
  /*for absolutely positioning spinners*/
  padding: 0 0 0 5px!important;
  font-size: 1.2em;
}

input[type=number]:hover::-webkit-inner-spin-button, input[type=number]:focus::-webkit-inner-spin-button {
    width: 20px;
    height: 35px;
}
