<template name="statisticsPage">
  <!--
  {{> myBreadcrumb}}
  {{> myNav}}
  -->
  <div class="container table-responsive">
    <h2 class="text-center bg-info">Historial</h2>
    <!-- 
    {{#each statistics}}
      <h3>{{student}}</h3>
      <p>{{behavior}}</p>
      <p>{{studentName}}</p>
      <p>{{behaviour.behaviourDescription}}</p>
      <p>{{behaviour.points}}</p>
    {{/each}}
     -->
    <table class="table table-bordered">
      <thead>
        <tr>
          <th id="student_th">
            Estudiante
          </th>
          <th id="evaluation_th">
            Evaluación
          </th>
          <th id="behaviour_th">
            Comportamiento
          </th>
          <th>
            Comentarios
          </th>
          <th>
            Puntos
          </th>
           <th id="behaviour_type_th">
            Tipo
          </th>
          <th id="date_th">
            Fecha
          </th>
          {{#if teacher}}
            <th id="date_th">
              Borrar
            </th> 
          {{/if}}
        </tr>
      </thead>
      <tbody>
      {{#each statistics}}
            <tr>
              <td>
                {{student.studentName}}
              </td>
              <td>
                {{evaluation}}
              </td>
              <td>
                {{behaviour.behaviourDescription}}
              </td>
              <td>
                {{comment}}
              </td>
              <td>
                {{behaviour.points}}
              </td>
              <td>
                {{behaviourType}}
              </td>
              <td>
                {{createdOnFormatted createdOn}}
              </td>
              {{#if teacher}}
                <td class="text-center">
                  <button name="{{_id}}" class="borrar">Borrar</button>
                </td>
              {{/if}}
            </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
</template>
