<template name="notifications">
  <h3 class="nameSection">{{_ "notifications"}}</h3>
  <div class="container-fluid studentInventory float-up">
    <div id="notifications">
      <div role="tabpanel" class="tab-pane well" id="Artículos">
        <h4>{{_ 'items'}}</h4>
    		<hr class="colorgraph">
        <ul class="list-items">
          {{#each notiItem}}
            <li class="list-item validarItem">
              <div class="{{#if used}}elementUsed{{/if}}">
                <span class="notification-name text-center">{{item.itemName}}</span>
                <span class="item-image"><img src="{{element_src item.itemImage}}" alt=""></span>
                <span class="notification-student text-center">{{student.studentName}}</span>
              </div>
              {{#if used}}
                <div class="notification-remove">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </div>
                <span class="displayUsed">{{_ 'accepted'}}</span>
              {{/if}}
            </li>
          {{/each}}
        </ul>
      </div>
      <div role="tabpanel" class="tab-pane well" id="Cartas">
        <h4>{{_ 'powers'}}</h4>
    		<hr class="colorgraph">
        <ul class="list-items">
          {{#each notiCards}}
            <li class="list-item validarCard">
              <div class="{{#if used}}elementUsed{{/if}}">
                <span class="notification-name text-center">{{card.cardName}}</span>
                <span class="item-image"><img src="{{element_src  card.cardImage}}" alt=""></span>
                <span class="notification-student text-center">{{student.studentName}}</span>
              </div>
              {{#if used}}
                <div class="notification-remove">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </div>
                <span class="displayUsed">{{_ 'accepted'}}</span>
              {{/if}}
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</template>
