<template name="myNav">
  <!--{{> myBreadcrumb}}-->
  <!-- Nav tabs -->

  <div id="mainTab">
    <div class="opacityDiv">

      <!--

      <div class="menu-superior {{menuSuperiorVisible}} oculto" id="menu-superior">
        <div class="list-group">
            <a class="btn btn-warning" id="btnStudents" data-toggle="collapse" href="#collapseStudents" role="button" aria-expanded="false">Estudiantes y grupos</a>
              <div id="collapseStudents" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                  <div class="list-group">
                    <button type="button" class="list-group-item list-group-item-success clases text-center">Clases</button>
                    <button type="button" class="list-group-item list-group-item-danger all_button">Todos</button>
                    {{#each students}}
                      {{#if parent}}
                        <button type="button" class="student_button list-group-item list-group-item-info" id="{{_id}}">{{alias}}</button>
                      {{else}}
                        <button type="button" class="student_button list-group-item list-group-item-info" id="{{_id}}">{{studentName}}</button>
                      {{/if}}
                    {{/each}}
                    {{#each groups}}
                      <button type="button" class="group_button list-group-item list-group-item-warning" id="{{_id}}">{{groupName}}</button>
                    {{/each}}
                  </div>
                </div>
              </div>
        </div>

        <div class="list-group menu-derecho">
              <div id="collapseMenu" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <ul class="nav nav-pills nav-stacked" role="tablist">
                  <li role="presentation" class="active"><a href="#studentsMain" aria-controls="studentsMain" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Estudiantes</a></li>
                  <li role="presentation"><a href="#challenges" aria-controls="challenges" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-tower" aria-hidden="true"></span> Aventura</a></li>
                  {{#if teacher}}
                    <li role="presentation"><a href="#random" aria-controls="random" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-random" aria-hidden="true"></span> Random</a></li>
                    <li role="presentation"><a href="#statistics" aria-controls="statistics" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> Historial</a></li>
                    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Configuración</a></li>
                  {{/if}}
                </ul>
              </div>
        </div>
      </div>

      <div id="menu_lateral">
        <ul class="nav nav-pills" role="tablist">
          {{#if aventura}}
            <li role="presentation" class="active" id="sM"><a href="#studentsMain" aria-controls="studentsMain" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <span class="spanMenu">Estudiantes</span></a></li>
            <li role="presentation"><a href="#myAdventure" aria-controls="myAdventure" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <span class="spanMenu">Aventura</span></a></li>
            <li role="presentation"><a href="#chat" aria-controls="chat" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> <span class="spanMenu">Chat</span></a></li>
          {{/if}}
          {{#if teacher}}
            <li role="presentation"><a href="#gamification" aria-controls="gamification" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-tower" aria-hidden="true"></span> <span class="spanMenu">Gamificación</span></a></li>
            <li role="presentation"><a href="#tools" aria-controls="tools" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> <span class="spanMenu">Herramientas</span></a></li>
            <li role="presentation"><a href="#statistics" aria-controls="statistics" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> <span class="spanMenu">Historial</span></a></li>
            <li role="presentation"><a href="#notifications" aria-controls="notifications" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <span class="spanMenu">Notificaciones</span></a></li>
            <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> <span class="spanMenu">Configuración</span></a></li>
          {{/if}}
        </ul>
      </div>

      <div id="menu_movil">
        <ul class="nav nav-pills" role="tablist">
          {{#if aventura}}
            <li role="presentation" class="active" id="sM"><a href="#studentsMain" aria-controls="studentsMain" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <span class="spanMenu">Estudiantes</span></a></li>
            <li role="presentation"><a href="#myAdventure" aria-controls="myAdventure" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-tower" aria-hidden="true"></span> <span class="spanMenu">Mi aventura</span></a></li>
            <li role="presentation"><a href="#chat" aria-controls="chat" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <span class="spanMenu">Chat</span></a></li>
          {{/if}}
          {{#if teacher}}
            <li role="presentation"><a href="#gamification" aria-controls="gamification" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-tower" aria-hidden="true"></span> <span class="spanMenu">Gamificación</span></a></li>
            <li role="presentation"><a href="#tools" aria-controls="tools" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-random" aria-hidden="true"></span> <span class="spanMenu">Herramientas</span></a></li>
            <li role="presentation"><a href="#statistics" aria-controls="statistics" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> <span class="spanMenu">Historial</span></a></li>
            <li role="presentation"><a href="#notifications" aria-controls="notifications" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> <span class="spanMenu">Notificaciones</span></a></li>
            <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> <span class="spanMenu">Configuración</span></a></li>
          {{/if}}
        </ul>
      </div>
      -->
      <!-- Tab panels -->
      <div class="tab-content main-tab-content">
        <div role="tabpanel" class="tab-pane active" id="studentsMain">{{> studentsMainPage}}</div>
        <div role="tabpanel" class="tab-pane" id="tools">{{> tools}}</div>
        <div role="tabpanel" class="tab-pane" id="gamification">{{> gamification}}</div>
        <div role="tabpanel" class="tab-pane" id="battle">{{> battle}}</div>
        <div role="tabpanel" class="tab-pane" id="chat">{{> chat}}</div>
        <div role="tabpanel" class="tab-pane" id="myAdventure">{{> myAdventure}}</div>
        <div role="tabpanel" class="tab-pane" id="statistics">{{> statisticsPage}}</div>
        <div role="tabpanel" class="tab-pane" id="notifications">{{> notifications}}</div>
        <div role="tabpanel" class="tab-pane" id="settings">{{> settingsPage}}</div>
      </div>
    </div>
  </div>
</template>
