<template name="componentsTemplate">
  <!--
  {{> myBreadcrumb}}
  {{> myNav}}
  -->
  <h3 class="nameSection">Componentes de la gamificación</h3>
  <div class="container-fluid float-up">

    <div class="settingsMenu">
      <!-- Nav tabs -->
      <ul class="nav nav-pills" role="tablist">
        <li role="presentation" class="active"><a href="#events" aria-controls="events" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-fire" aria-hidden="true"></span><span class="spanMenu"> Eventos</span></a></li>
        <li role="presentation"><a href="#behaviours" aria-controls="behaviours" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span><span class="spanMenu"> Comportamientos</span></a></li>
        <li role="presentation"><a href="#convictions" aria-controls="convictions" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span><span class="spanMenu"> Penalizaciones</span></a></li>
        <li role="presentation"><a href="#badges" aria-controls="badges" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-certificate" aria-hidden="true"></span><span class="spanMenu"> Insignias</span></a></li>
        <li role="presentation"><a href="#cards" aria-controls="cards" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-modal-window" aria-hidden="true"></span><span class="spanMenu"> Cartas</span></a></li>
        <li role="presentation"><a href="#chromes" aria-controls="chromes" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span><span class="spanMenu"> Cromos</span></a></li>
        <li role="presentation"><a href="#store" aria-controls="store" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-gift" aria-hidden="true"></span><span class="spanMenu"> Tienda</span></a></li>
        <li role="presentation"><a href="#quotes" aria-controls="quotes" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span><span class="spanMenu"> Frases</span></a></li>
        <li role="presentation"><a href="#levels" aria-controls="quotes" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-list" aria-hidden="true"></span><span class="spanMenu"> Niveles</span></a></li>
        <li role="presentation"><a href="#villains" aria-controls="villains" role="tab" data-toggle="tab"><i class="fas fa-angry"></i> <span class="spanMenu">Villanos</span></a></li>
      </ul>
      <!-- Tab panels -->
      <div class="tab-content container-responsive mytab">
        <div role="tabpanel" class="tab-pane active" id="events">
          <h2 class="text-center bg-info">Eventos</h2>
          {{> eventsList}}
        </div>
        <div role="tabpanel" class="tab-pane" id="behaviours">
          <h2 class="text-center bg-info">Comportamientos</h2>
          {{> behavioursList}}
        </div>
        <div role="tabpanel" class="tab-pane" id="badges">
          <h2 class="text-center bg-info">Insignias</h2>
          {{> badgesList}}
        </div>
        <div role="tabpanel" class="tab-pane" id="cards">
          <h2 class="text-center bg-info">Cartas</h2>
          {{> cardsList}}
        </div>
        <div role="tabpanel" class="tab-pane" id="chromes">
          <h2 class="text-center bg-info">Cromos</h2>
          {{> chromesList}}
        </div>
        <div role="tabpanel" class="tab-pane" id="quotes">
          <h2 class="text-center bg-info">Frases</h2>
          {{> quotesList}}
        </div>
        <div role="tabpanel" class="tab-pane" id="store">
          <h2 class="text-center bg-info">Tienda</h2>
          {{> store}}
        </div>
        <div role="tabpanel" class="tab-pane" id="convictions">
          <h2 class="text-center bg-info">Penalizaciones</h2>
          {{> convictionsList}}
        </div>
        <div role="tabpanel" class="tab-pane" id="levels">
          <h2 class="text-center bg-info">Niveles</h2>
          {{> levelsTemplate}}
        </div>
        <div role="tabpanel" class="tab-pane" id="villains">
          <br/>
          {{> villainsPage}}
        </div>
      </div>
    </div>
  </div>
</template>
